.tooltipster-light {
	border-radius: 5px; 
	background: #fff;
}

.tooltipster-light .tooltipster-content {
    color: #747378;
	font-size: 11px;
	line-height: 16px;
	padding: 8px 10px;
    -webkit-box-shadow: 0px 0px 15px -6px rgba(196,196,196,1);
    -moz-box-shadow: 0px 0px 15px -6px rgba(196,196,196,1);
    box-shadow: 0px 0px 15px -6px rgba(196,196,196,1);
}