a, abbr, address, article, aside, audio, b, blockquote, body, canvas,
caption, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset,
figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup,
html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,
object, ol, p, pre, q, samp, section, small, span, strong, sub, summary,
sup, time, ul, var, video{margin:0;padding:0;border:0;font-size:100%;font-weight:inherit;font-style:inherit;}
article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary{display:block;}
a, ins, del{text-decoration:none;}
ul, ol{list-style:none;}
strong{font-weight:bold;}
caption, th{text-align:left;}
q:after, q:before{content:"";}
*{outline:none;margin:0;padding:0;}
a{color:#010020;text-decoration:none;}
a:hover{color:#010020;text-decoration:none;}
pre{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;}
img{vertical-align:middle;max-width:100%;height:auto;}
.center{margin:0 auto;}
.content_center{text-align:center;}
.flleft{float:left !important;}
.flright{float:right !important;}
.clear{clear:both;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.floatfix{overflow:hidden;}
* html .floatfix{width:100%;height:100%;}
.center, *[align="center"]{margin:0 auto;}
html, body{font-family:'Century Gothic', 'Roboto', sans-serif;font-size:18px;color:#263443;background:#fff;padding:0px;margin:0px;}
.container{width:98%;height:100%;margin:0 auto;padding:0 1%;}
.transition{opacity:0.9;-webkit-transition:all 300ms ease-out 0s;-moz-transition:all 300ms ease-out 0s;-o-transition:all 300ms ease-out 0s;transition:all 300ms ease-out 0s;}
h1, h2, h3, h4, h5, h6{font-weight:300;color:#3D556D;}
.title, .title a{color:#010020;font-size:48px;}
.transition:hover{opacity:1;}
#home, #about, #diamonds, #diamonds, #guide{background-size:cover;}
#home{background-image:url('assets/images/section-1.jpg');background-position:center top;}
#about{background-image:url('assets/images/section-2.jpg');}
#diamonds{background-image:url('assets/images/section-3.jpg');}
#guide{background-image:url('assets/images/section-4.jpg');}
#scroll-page{width:33px;height:110px;background-image:url(assets/images/scroll.png);position:absolute;left:50%;bottom:3px;margin-left:-16.5px;text-indent:-9999px;}
#nav{display:table;margin:83px auto 0px;}
#cssmenu > ul > li{float:left;display:inline-block;margin:0px 30px;}
#cssmenu > ul > li > a{font-family:"Century Gothic",sans-serif;color:#3D556D;text-decoration:none;font-size:18px;font-weight:300;text-transform:uppercase;letter-spacing:3px;}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover,
#cssmenu ul li.current-menu-item a{border-bottom:1px solid #263443;}
#cssmenu.page-menu > ul > li:hover > a,
#cssmenu.page-menu > ul > li > a:hover,
#cssmenu.page-menu ul li.current-menu-item a{border-bottom:1px solid #c5cae9;}
#nav.fixed-nav{position:fixed;width:100%;background:#010020;padding:15px 0;z-index:9999;margin:0;}
#nav.fixed-nav #cssmenu1 > ul > li > a{color:#c5cae9;}
#nav.fixed-nav #cssmenu1 > ul > li:hover > a{color:#b5bce6;border-bottom:1px solid #b5bce6;}
#nav.fixed-nav #cssmenu1{display:table;margin:0 auto;}
#nav .social-media li{float:left;margin:0px 3px;}
#nav .grid-pad{padding-top:0;}
.nav-scroll{opacity:1 !important;background:#010020;box-shadow:0px 1px 2px rgba(0, 0, 0, 0.2);}
#home .col-1-1{padding:0;}
#home #logo{display:table;margin:0 auto;padding-top:40px;}
#home #logo img{display:block;margin:0 auto;}
.front-page{margin-top:25%;}
.front-page h2.title{text-transform:uppercase;margin-bottom:80px;}
.front-page p{line-height:30px;}
.front-page .rmore{font-style:italic;color:#777;display:block;margin-top:35px;}
.front-page .button{width:40px;height:40px;background-image:url(assets/images/icons/button.png);display:block;margin-top:25px;text-indent:-9999px;}
.front-page.gemmology h2.title,
.front-page.gemmology .rmore{color:#FFF;}
.front-page.gemmology p{color:#888D9D;}
#posts .thumbnail:after{content:"";position:absolute;top:50%;right:0px;margin-top:-22px;width:0px;height:0px;border-right:22px solid #FFF;border-top:22px solid transparent;border-bottom:22px solid transparent;}
#posts .col-1-2{position:relative;padding:0;}
#posts .col-1-2:nth-child(4n+3) .col-1-2, #posts .col-1-2:nth-child(4n+4) .col-1-2{float:right;}
#posts .col-1-2:nth-child(4n+3) .thumbnail:after,
#posts .col-1-2:nth-child(4n+4) .thumbnail:after{content:"";position:absolute;top:50%;left:0px;margin-top:-22px;width:0px;height:0px;border-left:22px solid #FFF;border-top:22px solid transparent;border-bottom:22px solid transparent;border-right:0;}
#posts .post-content{padding:35px;}
#posts .post-content span.date{font-size:14px;font-style:italic;color:#777;display:block;margin-bottom:15px;}
#posts .post-content h2{line-height:20px;margin-bottom:18px;}
#posts .post-content h2 a{font-size:18px;color:#3D556D;text-transform:uppercase;}
#posts .post-content p{font-size:16px;color:#888D9D;line-height:20px;}
#posts .post-content a.rmore{font-size:14px;font-style:italic;color:#777;display:block;margin-top:15px;}
.google-maps{position:relative;padding-bottom:20%;height:0;overflow:hidden;}
.google-maps iframe{position:absolute;top:0;left:0;width:100% !important;height:100% !important;}
#main article header{padding:25px 0;}
#main article .title{text-transform:uppercase;margin-bottom:45px;}
#main article .aligncenter{margin:90px auto;}
#main article .content{margin:0 auto 0px auto;padding-bottom:25px;background:transparent url(assets/images/line.png) no-repeat center bottom;}
#main article .content.no-background{background:none;}
#main article .content p{text-align:justify;margin-bottom:45px;line-height:25px;}
#main .grid-posts{padding:107px 50px 50px 50px;width: 60%;}
#posts .posts-bar{padding-top:72px;padding-bottom:15px;border-bottom:1px solid #C7C7CB;}
#posts .posts-bar .grid-bar{padding-top:0;}
#posts .posts-bar .grid-bar .col-1-3 {min-height: 1px}
#posts .posts-bar .prev{height:31px;background:transparent url(assets/images/icons/prev.png) no-repeat left 25px center;padding-left:375px;float:left;text-indent:-9999px;}
#posts .posts-bar h1{font-size:24px;text-transform:uppercase;text-align:center;}
#posts .posts-bar .nav-next a {height:31px;background:transparent url(assets/images/icons/next.png) no-repeat right 25px center;padding-right:405px;float:right;}
#posts .posts-bar .nav-previous a {height:31px;background:transparent url("assets/images/icons/prev.png") no-repeat left 25px center;padding-left:405px;float:left;}
#posts .posts-bar.post-back a.prev{float:right;padding-left:415px;padding-right:75px;}
#posts .posts-bar.post-back a{font-size:14px;color:#3D556D;line-height:28px;text-indent:0px;}
#posts .grid-single-post{padding:0px;}
#posts .grid-post .col-1-2{padding-right: 0!important}
#posts .grid-single{padding:50px;}
#posts article header span.date{font-size:18px;font-family:Georgia;color:#777;display:block;font-style:italic;padding-top:10px;padding-bottom:25px;}
#posts article header h2{font-family:Century Gothic;font-size:24px;color:#3D556D;}
#posts article p{margin-bottom:25px;line-height:25px;}
#main.main-contact .grid-posts{width:60%;}
#main .contact span.wpcf7-not-valid-tip{margin-top:10px;text-align:center;}
#main .contact h2.title{font-size:30px;text-align:left;margin-bottom:35px;text-transform:uppercase;}
#main .contact ul li{padding-bottom:45px;}
#main .contact h3.title{font-size:18px;margin-bottom:7px;font-weight:bold;text-transform:uppercase;}
#main .contact ul li p,
#main .contact ul li address{font-size:20px;line-height:26px;margin-bottom:0;}
#main .contact ul li address{margin-top:10px;}
#main .contact p{margin-bottom:25px;}
#main .contact fieldset{margin-bottom:20px;}
#main .contact form label{color:#3D556D;display:block;margin-bottom:8px;}
#main .contact form input[type="text"], #main .contact form input[type="email"], #main .contact form textarea{font-family:"Century Gothic",sans-serif;width:100%;background:#fff;border:1px solid #C7C7CB;padding:7px;}
#main .contact form input[type="submit"]{font-family:"Century Gothic",sans-serif;color:#3D556D;border:3px solid #3D556D;background:#fff;cursor:pointer;padding:13px 75px;}
#main .contact form input[type="submit"]:hover{background:#3d556d;color:#fff;}
.small-navigation{float:right;margin-top:10px;}
.small-navigation a{width:15px;height:29px;text-indent:-9999px;margin:0 10px;}
.small-navigation .prev{background:url(assets/images/small-arrow-left.png) left center;float:left;}
.small-navigation .next{background:url(assets/images/small-arrow-right.png) right center;float:right;}
#footer{background:transparent url(assets/images/bg-footer.jpg);position:relative;padding:0;}
#footer .row{padding:25px 0;overflow:hidden;}
#footer .goup{width:80px;height:226px;background:transparent url("assets/images/goup.png") no-repeat scroll center top;position:absolute;left:0px;bottom:0px;text-indent:-9999px;padding:0px;z-index:9999;}
#footer #flogo img{display:table;margin:0px auto;}
#footer #fnav{display:table;margin:0 auto;}
#footer #fnav ul li{float:left;margin:0 35px;}
#footer #fnav ul li a{font-family:'Century Gothic', sans-serif;color:#888d9d;text-decoration:none;font-size:14px;font-weight:300;text-transform:uppercase;letter-spacing:2px;}
#footer #fnav ul li:hover a,
#footer #fnav ul li.current-menu-item a{color:#fff;}
#footer .copyright{font-size:12px;color:#888D9D;text-transform:uppercase;letter-spacing:5px;line-height:38px;padding-left:80px;}
#footer .copyright a{color:#888D9D;}
#footer .partners ul{display:table;margin:0 auto;}
#footer .partners ul li{float:left;margin:0 17px;}
#footer .partners img{display:block;margin:0px auto;}
#footer .biznes{float:right;}
#footer .biznes img{margin-right: 15px;}
#footer .social-media-footer{float: right;}
#footer .social-media-footer li{float:left;margin:0px 4px;}
.aligncenter,
div.aligncenter{display:block;margin:5px auto 5px auto;}
.alignright{float:right;margin:0px 20px 0px 20px;}
.alignleft{float:left;margin:0px 20px 0px 0;}
.aligncenter{display:block;margin:5px auto 5px auto;}
a img.alignright{float:right;margin:5px 0 20px 20px;}
a img.alignnone{margin:5px 20px 20px 0;}
a img.alignleft{float:left;margin:5px 20px 20px 0;}
a img.aligncenter{display:block;margin-left:auto;margin-right:auto}
.wp-caption{background:#fff;border:1px solid #f0f0f0;max-width:100%;padding:5px;text-align:center;margin-bottom:15px;overflow:hidden;}
.wp-caption.alignnone{margin:5px 20px 20px 0;}
.wp-caption.alignleft{margin:5px 20px 20px 0;}
.wp-caption.alignright{margin:5px 0 20px 20px;}
.wp-caption img{border:0 none;height:auto;margin:0;max-width:100%;padding:0;width:auto;}
.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;margin:5px 0!important;text-align:center!important;}

[class*="col-"] {

    float: left;
    padding-right: 20px!important;

}