html.fp-enabled,
.fp-enabled
body{margin:0;padding:0;overflow:hidden;-webkit-tap-highlight-color:rgba(0,0,0,0)}#superContainer{height:100%;position:relative;-ms-touch-action:none;touch-action:none}.fp-section{position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.fp-slide{float:left}.fp-slide,.fp-slidesContainer{height:100%;display:block}.fp-slides{z-index:1;height:100%;overflow:hidden;position:relative;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out}.fp-section.fp-table,.fp-slide.fp-table{display:table;table-layout:fixed;width:100%}.fp-tableCell{width:100%;height:100%}.fp-slidesContainer{float:left;position:relative}.fp-controlArrow{position:absolute;z-index:4;top:50%;cursor:pointer;width:0;height:0;border-style:solid;margin-top:-38px;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.fp-controlArrow.fp-prev{left:15px;width:0;border-width:38.5px 34px 38.5px 0;border-color:transparent #fff transparent transparent}.fp-controlArrow.fp-next{right:15px;border-width:38.5px 0 38.5px 34px;border-color:transparent transparent transparent #fff}.fp-scrollable{overflow:scroll}.fp-notransition{-webkit-transition:none !important;transition:none !important}#fp-nav{position:fixed;z-index:100;margin-top:-32px;top:50%;opacity:1;-webkit-transform:translate3d(0,0,0)}#fp-nav.right{right:17px}#fp-nav.left{left:17px}.fp-slidesNav{position:absolute;z-index:4;left:50%;opacity:1}.fp-slidesNav.bottom{bottom:17px}.fp-slidesNav.top{top:17px}#fp-nav ul,
.fp-slidesNav
ul{margin:0;padding:0}#fp-nav ul li,
.fp-slidesNav ul
li{display:block;width:14px;height:13px;margin:7px;position:relative}.fp-slidesNav ul
li{display:inline-block}#fp-nav ul li a,
.fp-slidesNav ul li
a{display:block;position:relative;z-index:1;width:100%;height:100%;cursor:pointer;text-decoration:none}#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active
span{height:12px;width:12px;margin:-6px 0 0 -6px;border-radius:100%}#fp-nav ul li a span,
.fp-slidesNav ul li a
span{border-radius:50%;position:absolute;z-index:1;height:4px;width:4px;border:0;background:#333;left:50%;top:50%;margin:-2px 0 0 -2px;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out}#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a
span{width:10px;height:10px;margin:-5px 0px 0px -5px}#fp-nav ul li .fp-tooltip{position:absolute;top:-2px;color:#fff;font-size:14px;font-family:arial,helvetica,sans-serif;white-space:nowrap;max-width:220px;overflow:hidden;display:block;opacity:0;width:0}#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active+.fp-tooltip{-webkit-transition:opacity 0.2s ease-in;transition:opacity 0.2s ease-in;width:auto;opacity:1}#fp-nav ul li .fp-tooltip.right{right:20px}#fp-nav ul li .fp-tooltip.left{left:20px}.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{height:auto !important}@media
print{html.fp-enabled,
.fp-enabled
body{overflow:visible !important;height:auto !important}html{background:#fff;width:auto;height:auto;overflow:visible}body{background:#fff;font-size:20pt;width:auto;height:auto;border:0;margin:0
5%;padding:0;overflow:visible;float:none !important}#fp-nav,.fp-slidesNav,.fp-controlArrow{display:none !important}h1{font-size:28pt !important}h2{font-size:24pt !important}h3{font-size:22pt !important}h4{font-size:22pt !important;font-variant:small-caps}h5{font-size:21pt !important}h6{font-size:20pt !important;font-style:italic}.fp-section,.fp-tableCell,.slimScrollDiv,.fp-scrollable{width:100% !important;height:auto !important;display:block !important;position:relative;float:none !important}.fp-slidesContainer{-webkit-transform:none !important;-ms-transform:none !important;transform:none !important;-webkit-transition:none !important;-moz-transition:none !important;-ms-transition:none !important;transition:none !important}.fp-slides,.fp-slidesContainer{height:auto !important;width:100% !important;float:none !important;overflow:hidden !important}.fp-slides{height:800px !important;width:800px !important}.fp-slide{float:none !important;width:100% !important;position:static !important}.fullpage-wrapper{float:none !important;-webkit-transform:none !important;-ms-transform:none !important;transform:none !important;-webkit-transition:none !important;-moz-transition:none !important;-ms-transition:none !important;transition:none !important;position:static !important;width:auto !important;height:auto !important;left:0 !important;top:0 !important;margin-left:0 !important;margin-top:0 !important;padding:0
!important;zoom:1 !important;overflow:visible !important;display:block !important;text-align:left !important}.fp-section{page-break-after:always !important}.fp-slide{page-break-after:always !important}}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:0.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px
solid #c0c0c0;margin:0
2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,
html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],
html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}[feedly mini]a,abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,time,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font-weight:inherit;font-style:inherit}article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}a,ins,del{text-decoration:none}ul,ol{list-style:none}strong{font-weight:bold}caption,th{text-align:left}q:after,q:before{content:""}*{outline:none;margin:0;padding:0}a{color:#010020;text-decoration:none}a:hover{color:#010020;text-decoration:none}pre{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px}img{vertical-align:middle;max-width:100%;height:auto}.center{margin:0
auto}.content_center{text-align:center}.flleft{float:left !important}.flright{float:right !important}.clear{clear:both}.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.floatfix{overflow:hidden}* html
.floatfix{width:100%;height:100%}.center,*[align="center"]{margin:0
auto}html,body{font-family:'Century Gothic','Roboto',sans-serif;font-size:18px;color:#263443;background:#fff;padding:0px;margin:0px}.container{width:98%;height:100%;margin:0
auto;padding:0
1%}.transition{opacity:0.9;-webkit-transition:all 300ms ease-out 0s;-moz-transition:all 300ms ease-out 0s;-o-transition:all 300ms ease-out 0s;transition:all 300ms ease-out 0s}h1,h2,h3,h4,h5,h6{font-weight:300;color:#3D556D}.title, .title
a{color:#010020;font-size:48px}.transition:hover{opacity:1}#home,#about,#diamonds,#diamonds,#guide{background-size:cover}#home{background-image:url('/wp-content/themes/ediamenty/assets/images/section-1.jpg');background-position:center top}#about{background-image:url('/wp-content/themes/ediamenty/assets/images/section-2.jpg')}#diamonds{background-image:url('/wp-content/themes/ediamenty/assets/images/section-3.jpg')}#guide{background-image:url('/wp-content/themes/ediamenty/assets/images/section-4.jpg')}#scroll-page{width:33px;height:110px;background-image:url(/wp-content/themes/ediamenty/assets/images/scroll.png);position:absolute;left:50%;bottom:3px;margin-left:-16.5px;text-indent:-9999px}#nav{display:table;margin:83px
auto 0px}#cssmenu>ul>li{float:left;display:inline-block;margin:0px
30px}#cssmenu>ul>li>a{font-family:"Century Gothic",sans-serif;color:#3D556D;text-decoration:none;font-size:18px;font-weight:300;text-transform:uppercase;letter-spacing:3px}#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover,
#cssmenu ul li.current-menu-item
a{border-bottom:1px solid #263443}#cssmenu.page-menu > ul > li:hover > a,
#cssmenu.page-menu > ul > li > a:hover,
#cssmenu.page-menu ul li.current-menu-item
a{border-bottom:1px solid #c5cae9}#nav.fixed-nav{position:fixed;width:100%;background:#010020;padding:15px
0;z-index:9999;margin:0}#nav.fixed-nav #cssmenu1>ul>li>a{color:#c5cae9}#nav.fixed-nav #cssmenu1>ul>li:hover>a{color:#b5bce6;border-bottom:1px solid #b5bce6}#nav.fixed-nav
#cssmenu1{display:table;margin:0
auto}#nav .social-media
li{float:left;margin:0px
5px}#nav .grid-pad{padding-top:0}.nav-scroll{opacity:1 !important;background:#010020;box-shadow:0px 1px 2px rgba(0, 0, 0, 0.2)}#home .col-1-1{padding:0}#home
#logo{display:table;margin:0
auto;padding-top:40px}#home #logo
img{display:block;margin:0
auto}.front-page{margin-top:25%}.front-page
h2.title{text-transform:uppercase;margin-bottom:80px}.front-page
p{line-height:30px}.front-page
.rmore{font-style:italic;color:#777;display:block;margin-top:35px}.front-page
.button{width:40px;height:40px;background-image:url(/wp-content/themes/ediamenty/assets/images/icons/button.png);display:block;margin-top:25px;text-indent:-9999px}.front-page.gemmology h2.title,
.front-page.gemmology
.rmore{color:#FFF}.front-page.gemmology
p{color:#888D9D}#posts .thumbnail:after{content:"";position:absolute;top:50%;right:0px;margin-top:-22px;width:0px;height:0px;border-right:22px solid #FFF;border-top:22px solid transparent;border-bottom:22px solid transparent}#posts .col-1-2{position:relative;padding:0}#posts .col-1-2:nth-child(4n+3) .col-1-2, #posts .col-1-2:nth-child(4n+4) .col-1-2{float:right}#posts .col-1-2:nth-child(4n+3) .thumbnail:after,
#posts .col-1-2:nth-child(4n+4) .thumbnail:after{content:"";position:absolute;top:50%;left:0px;margin-top:-22px;width:0px;height:0px;border-left:22px solid #FFF;border-top:22px solid transparent;border-bottom:22px solid transparent;border-right:0}#posts .post-content{padding:35px}#posts .post-content
span.date{font-size:14px;font-style:italic;color:#777;display:block;margin-bottom:15px}#posts .post-content
h2{line-height:20px;margin-bottom:18px}#posts .post-content h2
a{font-size:18px;color:#3D556D;text-transform:uppercase}#posts .post-content
p{font-size:16px;color:#888D9D;line-height:20px}#posts .post-content
a.rmore{font-size:14px;font-style:italic;color:#777;display:block;margin-top:15px}.google-maps{position:relative;padding-bottom:20%;height:0;overflow:hidden}.google-maps
iframe{position:absolute;top:0;left:0;width:100% !important;height:100% !important}#main article
header{padding:25px
0}#main article
.title{text-transform:uppercase;margin-bottom:45px}#main article
.aligncenter{margin:90px
auto}#main article
.content{width:50%;margin:0
auto 0px auto;padding-bottom:25px;background:transparent url(/wp-content/themes/ediamenty/assets/images/line.png) no-repeat center bottom}#main article .content.no-background{background:none}#main article .content
p{text-align:justify;margin-bottom:45px;line-height:25px}#main .grid-posts{padding:107px
50px 50px 50px}#posts .posts-bar{padding-top:72px;padding-bottom:15px;border-bottom:1px solid #C7C7CB}#posts .posts-bar .grid-bar{padding-top:0}#posts .posts-bar
.prev{height:31px;background:transparent url(/wp-content/themes/ediamenty/assets/images/icons/prev.png) no-repeat left 25px center;padding-left:375px;float:left;text-indent:-9999px}#posts .posts-bar
h1{font-size:24px;text-transform:uppercase;text-align:center}#posts .posts-bar
.next{height:31px;background:transparent url(/wp-content/themes/ediamenty/assets/images/icons/next.png) no-repeat right 25px center;padding-right:375px;float:right;text-indent:-9999px}#posts .posts-bar
.prev{height:31px;background:transparent url("/wp-content/themes/ediamenty/assets/images/icons/prev.png") no-repeat left 25px center;padding-left:375px;float:left;text-indent:-9999px}#posts .posts-bar.post-back
a.prev{float:right;padding-left:415px;padding-right:75px}#posts .posts-bar.post-back
a{font-size:14px;color:#3D556D;line-height:28px;text-indent:0px}#posts .grid-single-post{padding:0px}#posts .grid-single{padding:50px}#posts article header
span.date{font-size:18px;font-family:Georgia;color:#777;display:block;font-style:italic;padding-top:10px;padding-bottom:25px}#posts article header
h2{font-family:Century Gothic;font-size:24px;color:#3D556D}#posts article
p{margin-bottom:25px;line-height:25px}#main.main-contact .grid-posts{width:60%}#main .contact span.wpcf7-not-valid-tip{margin-top:10px;text-align:center}#main .contact
h2.title{font-size:30px;text-align:left;margin-bottom:35px;text-transform:uppercase}#main .contact ul
li{padding-bottom:45px}#main .contact
h3.title{font-size:18px;margin-bottom:7px;font-weight:bold;text-transform:uppercase}#main .contact ul li p,
#main .contact ul li
address{font-size:20px;line-height:26px;margin-bottom:0}#main .contact ul li
address{margin-top:10px}#main .contact
p{margin-bottom:25px}#main .contact
fieldset{margin-bottom:20px}#main .contact form
label{color:#3D556D;display:block;margin-bottom:8px}#main .contact form input[type="text"], #main .contact form input[type="email"], #main .contact form
textarea{font-family:"Century Gothic",sans-serif;width:100%;background:#fff;border:1px
solid #C7C7CB;padding:7px}#main .contact form input[type="submit"]{font-family:"Century Gothic",sans-serif;color:#3D556D;border:3px
solid #3D556D;background:#fff;cursor:pointer;padding:13px
75px}#main .contact form input[type="submit"]:hover{background:#3d556d;color:#fff}.small-navigation{float:right;margin-top:10px}.small-navigation
a{width:15px;height:29px;text-indent:-9999px;margin:0
10px}.small-navigation
.prev{background:url(/wp-content/themes/ediamenty/assets/images/small-arrow-left.png) left center;float:left}.small-navigation
.next{background:url(/wp-content/themes/ediamenty/assets/images/small-arrow-right.png) right center;float:right}#footer{background:transparent url(/wp-content/themes/ediamenty/assets/images/bg-footer.jpg);position:relative;padding:0}#footer
.row{padding:25px
0;overflow:hidden}#footer
.goup{width:80px;height:226px;background:transparent url("/wp-content/themes/ediamenty/assets/images/goup.png") no-repeat scroll center top;position:absolute;left:0px;bottom:0px;text-indent:-9999px;padding:0px;z-index:9999}#footer #flogo
img{display:table;margin:0px
auto}#footer
#fnav{display:table;margin:0
auto}#footer #fnav ul
li{float:left;margin:0
35px}#footer #fnav ul li
a{font-family:'Century Gothic',sans-serif;color:#888d9d;text-decoration:none;font-size:14px;font-weight:300;text-transform:uppercase;letter-spacing:2px}#footer #fnav ul li:hover a,
#footer #fnav ul li.current-menu-item
a{color:#fff}#footer
.copyright{font-size:12px;color:#888D9D;text-transform:uppercase;letter-spacing:5px;line-height:38px;padding-left:80px}#footer .partners
ul{display:table;margin:0
auto}#footer .partners ul
li{float:left;margin:0
17px}#footer .partners
img{display:block;margin:0px
auto}#footer .social-media-footer{margin-top:7px;float:right}#footer .social-media-footer
li{float:left;margin:0px
4px}.aligncenter,div.aligncenter{display:block;margin:5px
auto 5px auto}.alignright{float:right;margin:0px
20px 0px 20px}.alignleft{float:left;margin:0px
20px 0px 0}.aligncenter{display:block;margin:5px
auto 5px auto}a
img.alignright{float:right;margin:5px
0 20px 20px}a
img.alignnone{margin:5px
20px 20px 0}a
img.alignleft{float:left;margin:5px
20px 20px 0}a
img.aligncenter{display:block;margin-left:auto;margin-right:auto}.wp-caption{background:#fff;border:1px
solid #f0f0f0;max-width:100%;padding:5px;text-align:center;margin-bottom:15px;overflow:hidden}.wp-caption.alignnone{margin:5px
20px 20px 0}.wp-caption.alignleft{margin:5px
20px 20px 0}.wp-caption.alignright{margin:5px
0 20px 20px}.wp-caption
img{border:0
none;height:auto;margin:0;max-width:100%;padding:0;width:auto}.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;margin:5px
0!important;text-align:center!important}#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button{padding:0;border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}#cssmenu:after,#cssmenu>ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}#cssmenu #menu-button{display:none}#cssmenu{width:auto}#cssmenu>ul>li{float:left}#cssmenu.align-center>ul{font-size:0;text-align:center}#cssmenu.align-center>ul>li{display:inline-block;float:none}#cssmenu.align-right>ul>li{float:right}#cssmenu>ul>li>a{-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-ms-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease}#cssmenu.page-menu
ul{display:table;margin:0
auto}#cssmenu.page-menu ul li
a{color:#c5cae9}#cssmenu.small-screen{width:100%}#cssmenu.small-screen>ul,#cssmenu.small-screen.align-center>ul{width:100%;padding-top:20px;text-align:left}#cssmenu.small-screen>ul>li,#cssmenu.small-screen.align-center{float:none;display:block;border-bottom:1px solid rgba(100,100,100,0.1)}#cssmenu.small-screen>ul>li>a{font-size:14px;padding:8px
37px;border-bottom:0}#cssmenu.small-screen > ul > li:hover > a,
#cssmenu.small-screen > ul li.current-menu-item
a{border-bottom:0}#cssmenu.small-screen>ul>li:after,#cssmenu.small-screen>ul>li:before{display:none}#cssmenu.small-screen #menu-button{display:block;padding:0;cursor:pointer;font-size:15px;text-decoration:none;color:#fcfefb;padding-left:50px}#cssmenu.small-screen #menu-button:after{content:"";position:absolute;right:25px;top:2px;display:block;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;border-top:3px solid #fcfefb;border-bottom:3px solid #fcfefb;width:25px;height:3px}#cssmenu.small-screen #menu-button:before{content:"";position:absolute;right:25px;top:12px;display:block;width:25px;height:3px;background:#fcfefb}*,*:after,*:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}body{margin:0px}[class*='col-']{float:left;padding-right:60px}.grid{width:100%;margin:0
auto}.grid:after{content:"";display:table;clear:both}.grid-pad{padding-top:20px;padding-left:50px;padding-right:0px}.grid-pad-left{}.push-right{float:right}.col-1-1{width:100%}.col-2-3,.col-8-12{width:66.66%}.col-1-2,.col-6-12{width:50%}.col-1-3,.col-4-12{width:33.33%}.col-1-4,.col-3-12{width:25%}.col-1-5{width:20%}.col-1-6,.col-2-12{width:16.667%}.col-1-7{width:14.28%}.col-1-8{width:12.5%}.col-1-9{width:11.1%}.col-1-10{width:10%}.col-1-11{width:9.09%}.col-1-12{width:8.33%}.col-11-12{width:91.66%}.col-10-12{width:83.333%}.col-9-12{width:75%}.col-5-12{width:41.66%}.col-7-12{width:58.33%}.push-2-3,.push-8-12{margin-left:66.66%}.push-1-2,.push-6-12{margin-left:50%}.push-1-3,.push-4-12{margin-left:33.33%}.push-1-4,.push-3-12{margin-left:25%}.push-1-5{margin-left:20%}.push-1-6,.push-2-12{margin-left:16.667%}.push-1-7{margin-left:14.28%}.push-1-8{margin-left:12.5%}.push-1-9{margin-left:11.1%}.push-1-10{margin-left:10%}.push-1-11{margin-left:9.09%}.push-1-12{margin-left:8.33%}@media handheld, only screen and (max-width:767px){.grid{width:100%;min-width:0;margin-left:0px;margin-right:0px;padding-left:10px;padding-right:10px}[class*='col-']{width:auto;float:none;margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px}[class*='mobile-col-']{float:left;margin-left:0px;margin-right:0px;margin-top:0px;margin-bottom:10px;padding-left:0px;padding-right:10px;padding-bottom:0px}.mobile-col-1-1{width:100%}.mobile-col-2-3,.mobile-col-8-12{width:66.66%}.mobile-col-1-2,.mobile-col-6-12{width:50%}.mobile-col-1-3,.mobile-col-4-12{width:33.33%}.mobile-col-1-4,.mobile-col-3-12{width:25%}.mobile-col-1-5{width:20%}.mobile-col-1-6,.mobile-col-2-12{width:16.667%}.mobile-col-1-7{width:14.28%}.mobile-col-1-8{width:12.5%}.mobile-col-1-9{width:11.1%}.mobile-col-1-10{width:10%}.mobile-col-1-11{width:9.09%}.mobile-col-1-12{width:8.33%}.mobile-col-11-12{width:91.66%}.mobile-col-10-12{width:83.333%}.mobile-col-9-12{width:75%}.mobile-col-5-12{width:41.66%}.mobile-col-7-12{width:58.33%}.hide-on-mobile{display:none !important;width:0;height:0}}@media screen and (max-width:1366px){body{font-size:16px}.title, .title
a{font-size:28px}#home
#logo{padding-top:20px}#home #logo
img{width:80%}.front-page
h2.title{margin-bottom:40px}.front-page.gemmology{margin-top:15%}#posts .post-content{padding:15px}#posts .post-content
p{line-height:18px}#main .contact form input[type="submit"]{padding:7px
15px}#main .grid-posts{padding:87px
30px 30px 30px}#main article
.title{margin-bottom:15px}#main article
.aligncenter{margin:45px
auto}#main article .content
p{margin-bottom:25px}}@media screen and (max-width:1240px){#posts .col-post{width:100%;margin-bottom:10px}#posts .col-post
img{width:100%;height:100%}#cssmenu>ul>li{margin:0px
10px}#nav .social-media
li{margin:0
3px}}@media screen and (max-width:768px){#scroll-page{display:none}#nav .col-1-12{position:absolute;top:11px;left:20px}#nav .col-9-12{width:100%}#nav .col-2-12{display:none}#home
#nav{width:100%;background:#010020}#home #cssmenu.small-screen #menu-button{padding:10px
10px 10px 25px}#home #cssmenu.small-screen #menu-button::before{top:23px}#home #cssmenu.small-screen #menu-button::after{top:11px}#home #cssmenu.small-screen>ul{padding-top:10px}#home #cssmenu.small-screen>ul>li>a{padding:8px
12px}.title, .title
a{font-size:28px}#home
#logo{padding-top:15px}#home #logo
img{width:70%}.front-page
h2.title{text-align:center;margin:10vh 0}.front-page.gemmology
h2.title{margin:2vh 0}.grid{padding:20px}.container{width:100%;padding:0}#posts .post-content{border-bottom:1px solid #eee}#footer .row:nth-child(2){display:none}#guide{height:auto!important}.front-page{background:rgba(255, 255, 255, 0.8);margin-top:0;padding:20px;min-height:94vh}.front-page
.button{margin-top:10px}.front-page.gemmology{margin-top:10px;background:rgba(39, 33, 72, 0.45);min-height:90vh}.front-page.gemmology
p{font-size:14px;color:#fff}.front-page
p{font-size:18px;line-height:25px}.front-page.gemmology
.rmore{margin-top:10px}#nav
.grid{padding:0}#main.main-contact .grid-posts{width:100%}.google-maps{padding-bottom:55%}#posts .col-1-2
.thumbnail{display:none}#posts .col-1-2
.grid{padding:0}#posts .col-1-2 .thumbnail
img{margin:0
auto;display:block}#posts .col-1-2:nth-child(4n+3) .col-1-2, #posts .col-1-2:nth-child(4n+4) .col-1-2{float:none}#main .grid-posts{padding:57px
25px 25px 25px}#main article
.content{width:100%;padding:10px
0}#main .contact.contact-form{padding-top:25px;border-top:1px solid #eee;margin-top:25px}#posts .posts-bar{padding-top:55px;padding-bottom:10px}#posts .grid-single{padding:10px}#footer{padding:10px
0}#footer
.goup{display:none}#footer
.row{padding:10px
0}#footer #fnav ul
li{margin:0
10px}#footer
.copyright{text-align:center;margin:10px
0;padding-left:0}#footer .social-media-footer{display:table;margin:20px
auto 10px auto;float:none}#fp-nav{display:none}#footer .partners ul
li{width:100%;margin:5px
0}}@media screen and (max-width:350px){#home
#logo{padding-top:35px}}div.wpcf7{margin:0;padding:0}div.wpcf7-response-output{margin:2em
0.5em 1em;padding:0.2em 1em}div.wpcf7 .screen-reader-response{position:absolute;overflow:hidden;clip:rect(1px,1px,1px,1px);height:1px;width:1px;margin:0;padding:0;border:0}div.wpcf7-mail-sent-ok{border:2px
solid #398f14}div.wpcf7-mail-sent-ng{border:2px
solid #f00}div.wpcf7-spam-blocked{border:2px
solid #ffa500}div.wpcf7-validation-errors{border:2px
solid #f7e700}span.wpcf7-form-control-wrap{position:relative}span.wpcf7-not-valid-tip{color:#f00;font-size:1em;display:block}.use-floating-validation-tip span.wpcf7-not-valid-tip{position:absolute;top:20%;left:20%;z-index:100;border:1px
solid #f00;background:#fff;padding: .2em .8em}span.wpcf7-list-item{margin-left:0.5em}.wpcf7-display-none{display:none}div.wpcf7 img.ajax-loader{border:none;vertical-align:middle;margin-left:4px}div.wpcf7 div.ajax-error{display:none}div.wpcf7
.placeheld{color:#888}