﻿<style type="text/css">
<!--
#user_field a{text-decoration:none}
#user_field a:link{color:#585858}
#user_field table{border-spacing:0px}
#user_field{margin-top:10px;margin-bottom:10px;padding:0px;border:0px}
.style1 {
	font-family: "HelveticaNeueLT Com 45 Lt";
}
.style3 {
	font-size: 13px;
	color: #666666;
}
.style4 {
	font-family: "HelveticaNeueLT Com 45 Lt";
	font-size: 20px;
	color: #666666;
}
.style5 {
	font-family: "HelveticaNeueLT Com 45 Lt";
	font-size: 11pt;
	color: #666666;
	font-style: normal;
}
.style6 {
	font-size: 11pt;
	color: #666666;
}
.style7 {
	color: #666666;
}
.style8 {
	font-size: 20px;
}
.style9 {
	font-family: arial;
	font-size: 20px;
	color: #666666;
}
.style10 {
	font-family: "HelveticaNeueLT Com 45 Lt";
	font-size: xx-small;
	color: #666666;
}
.style11 {
	font-family: arial;
	font-size: xx-small;
	color: #666666;
}
.style12 {
	font-size: small;
}
.style14 {
	font-family: "HelveticaNeueLT Com 45 Lt";
	font-size: small;
	color: #666666;
}
.style15 {
	font-family: arial;
	font-size: small;
	color: #666666;
}
.style17 {
	font-family: "HelveticaNeueLT Com 45 Lt";
	font-size: x-small;
	color: #666666;
}
.style18 {
	font-family: arial;
	font-size: x-small;
	color: #666666;
}
.style19 {
	font-size: 11pt;
}
.style20 {
	font-family: "HelveticaNeueLT Com 45 Lt";
	color: #666666;
}
.style21 {
	font-family: "HelveticaNeueLT Com 45 Lt";
	font-size: 11pt;
}
.style22 {
	font-family: "HelveticaNeueLT Com 45 Lt";
	font-size: 11pt;
	color: #666666;
}
.style23 {
	font-family: arial;
	font-size: 11pt;
	color: #666666;
	text-align: center;
}
.style24 {
	font-family: "HelveticaNeueLT Com 45 Lt";
	font-size: 11pt;
	text-decoration: none;
}
.style25 {
	font-size: 20px;
	color: #666666;
}
.style26 {
	font-family: "HelveticaNeueLT Com 45 Lt";
	font-size: xx-small;
	text-decoration: none;
}
.style27 {
	border-width: 0px;
}
.style23 {
	text-align: center;
}
-->
</style>
<!--TABELA GŁOWNA--> 
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 920px; background-color: #ffffff;">
<!-- BANER+LINKI--> 
<tbody>
<tr>
<td style="width: 920px; height: 342px; background-image: url(http://www.staviori.pl/allegro/omnie/grafika/baner_01.jpg); background-repeat: no-repeat;"></td>
</tr>
<tr>
<td style="width: 920px; height: 36px; background-image: url(http://www.staviori.pl/allegro/omnie/grafika/baner_02.jpg); background-repeat: no-repeat;"><!--TABELA LINKI--> 
<table border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td style="padding-left: 25px;"><a href="../my_page.php?uid=10195938"> <img border="0" height="30" src="http://www.staviori.pl/allegro/omnie/grafika/gif.gif" width="123" /> </a></td>
<td><a href="../show_user_auctions.php?uid=10195938"> <img border="0" height="30" src="http://www.staviori.pl/allegro/omnie/grafika/gif.gif" width="106" /> </a></td>
<td><a href="../show_user.php?uid=10195938"> <img border="0" height="30" src="http://www.staviori.pl/allegro/omnie/grafika/gif.gif" width="142" /> </a></td>
<td><a href="../email_to_user.php?uid=10195938"> <img border="0" height="30" src="http://www.staviori.pl/allegro/omnie/grafika/gif.gif" width="119" /> </a></td>
<td><a href="favourites/favourites_sellers.php/addNew/?userId=10195938&amp;ret=%2Fshow_user.php%3Fuid%3D10195938"> <img border="0" height="30" src="http://www.staviori.pl/allegro/omnie/grafika/gif.gif" width="160" /> </a></td>
</tr>
</tbody>
</table>
<!-- LINKI KONIEC--> <!--BANER+LINKI KONIEC--></td>
</tr>
<tr>
<td><!--TABELA NADRZĘDNA &brvbar;RODEK STRONY--> 
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 920px; background-image: url(http://www.staviori.pl/allegro/omnie/grafika/tlo_omnie.jpg);">
<tbody>
<tr>
<td style="background: url(http://www.staviori.pl/allegro/omnie/grafika/zaokraglenie_top_omnie.jpg); width: 920px; height: 102px; background-repeat: no-repeat;"></td>
</tr>
<tr>
<td><!--TABELA &brvbar;RODEK STRONY--> 
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 850px; position: relative; bottom: 70px;">
<tbody>
<tr>
<!--WITAM TEKST-->
<td colspan="2">
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 425px;">
<tbody>
<tr>
<td style="background: url(http://www.staviori.pl/allegro/omnie/grafika/witam.jpg); width: 425px; height: 50px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td colspan="2">
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 800px; height: 30px;">
<tbody>
<tr>
<td valign="top">
<h3 style="border-style: none; border-color: inherit; border-width: 0px; margin: 0px; padding: 30px 15px 5px 30px; font-style: normal; font-variant: normal; font-weight: 400; line-height: inherit; vertical-align: baseline; color: rgb(102, 102, 102); letter-spacing: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);" class="style23">
Kontynuując tradycję włoskich mistrzów złotnictwa, których wyjątkowe dzieła powstawały dla konkretnych osób, Staviori tworzy niepowtarzalną biżuterię na indywidualne zamówienie klientów. Każdy produkt może być dowolnie zmodyfikowany wedle życzenia swojego przyszłego właściciela, począwszy od koloru złota, poprzez jakość kamieni, a na samym stylu skończywszy. Wykonanie dowolnego wzoru trwa zaledwie 4 tygodnie, tak aby nasi klienci mogli jak najszybciej cieszyć się swoją spersonalizowaną biżuterią.
<br /><br />
Wyrafinowana stylistyka, doskonałe złoto oraz wyselekcjonowane kamienie szlachetne to cecha perfekcyjnego włoskiego rzemiosła i ponadczasowej jakości. Każdy produkt jest unikatowy i wykonywany zgodnie z życzeniem Klienta. Brylanty i pozostałe kamienie osadzane są pod mikroskopem (tzw. microsetting), co daje gwarancję wyjątkowej trwałości.
Natomiast biżuteria użytkowa Staviori, którą można znaleźć zarówno w katalogu Diamenty jak i Srebro niczym nie odstaje jakością od swojego wyrafinowanego pierwowzoru, a do jej produkcji używa się wyłącznie najwyższej jakości złota i srebra oraz naturalnych kamieni szlachetnych, głównie diamentów.
<br /><br />
Na indywidualne życzenie Klienta możemy sprowadzić dowolny diament lub inny kamień szlachetny zarówno pod inwestycję, jak też i do osadzenia w jednej z naszych wyjątkowych opraw. Współpracujemy z największymi dostawcami kamieni z Hong Kongu, Izraela, Antwerpii oraz Stanów Zjednoczonych
.<br>
<br>
Zgodnie z obowiązującym prawem, oferowane wyroby ze złota i srebra mają wybitą 
przez Urząd Probierczy odpowiednią cechę probierczą. Stopy złota natomiast, zgodne są z dyrektywą Unii Europejskiej i pozbawione domieszek niklu.<span class="Apple-converted-space">&nbsp;</span><br>
<br>
Gwarantujemy, iż kamienie szlachetne, w tym diamenty, wykorzystywane przy tworzeniu naszej biżuterii są 
zgodnie z wymogami ONZ i pochodzą z krajów wolnych od konfliktów zbrojnych.</p></h3>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<!--KONIEC WITAM TEKST--> 
<tr>
<!--REGULAMIN TEKST-->
<td colspan="2">
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 425px; margin-top: 30px;">
<tbody>
<tr>
<td style="background: url(http://www.staviori.pl/allegro/omnie/grafika/regulamin_omnie.jpg); width: 425px; height: 50px;"></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td colspan="2">
<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-spacing: 0px; width: 800px; height: 30px;">
<tbody>
<tr>
<td valign="top" style="text-align: center;"><p class="style23">1<br />
    Komentarz wystawiamy zwykle  jako drudzy, dlatego jeśli zależy Ci na naszej opinii, prosimy najpierw o  wyrażenie swojej<br />
    2<br />
    Sprzedajemy tylko autentyczną  biżuterię wykonaną ze złota i srebra - oraz z naturalnych kamieni  szlachetnych&nbsp; i półszlachetnych. Każda sztuka biżuterii z kamieniami  szlachetnymi dostarczona jest do klienta z certyfikatem autentyczności.<br />
    3<br />
    Każdy produkt objęty jest  gwarancją na okres 24 miesięcy <br />
    4<br />
    Marka Staviori wprowadza nowe  standardy na polski rynek, dlatego przy zakupie w opcji KUP TERAZ, <br />kupujący ma  prawo zwrotu towaru w ciągu 30 dni. <br />(nie dotyczy&nbsp; produktów wykonywanych  na indywidualne zamówienie, w przypadku których zwrot nie jest możliwy)<br />
    Warunkiem zwrotu towaru jest  nienaruszona metka wyrobu oraz brak jakichkolwiek uszkodzeń powstałych z winy  klienta, a także certyfikaty i wszelkie opakowania, w których klient otrzymał  towar. <br />
    5<br />
    Klient jest dla nas  najważniejszy, zatem robimy wszystko aby dostarczyć Wam produkt jak  najszybciej. Prosimy jednak o wyrozumiałość gdyby nastąpiły jakieś komplikacje.<br />
    6<br />
    W przypadku braku odzewu lub  wpłaty w ciągu 14 dni od dnia zakupu, występujemy o zwrot prowizji allegro.<br />
    7<br />
    Na podstawie danych aukcji  tworzymy Tobie automatycznie konto w naszym systemie – wyłącznie do celów  realizacji zamówienia. Jeżeli chcesz otrzymywać od nas informacje promocyjne  oraz rabaty - wyślij do nas email z informacją, że wyrażasz  zgodę na otrzymywanie informacji o promocjach i nowościach. <br />
    8<br />
    Przelewy akceptujemy poprzez  płatności allegro lub bezpośrednio na nasz rachunek bankowy:<br />
    <b>mBank: 41 1140 2004 0000 3802  6522 2647 </b><br />
    9<br />
    Zawsze wystawiamy paragon  fiskalny lub na życzenie fakturę VAT 23%.<br />
    10 <br />
    Biżuteria Staviori zawsze  trafia do Klienta w eleganckim i oryginalnym opakowaniu.<br />11 <br />Dokonująć zakupu w naszym sklepie allegro, akceptujesz jednocześnie powyższy regulamin.
</p></td>
</tr>
</tbody>
</table>
</td>
</tr>
<!--KONIEC REGULAMIN TEKST--> 
<tr>
<td style="padding-top: 30px;" valign="top"><!--TABELA LEWA--> 
<table border="0" cellpadding="0" cellspacing="0" style="border-spacing: 0px; width: 425px;">
<tbody>
<tr>
<td style="background: url(http://www.staviori.pl/allegro/omnie/grafika/wysylka_omnie.jpg); width: 425px; height: 50px;"></td>
</tr>
<tr>
<td>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-spacing: 0px; width: 390px; height: 40px; margin-bottom: 20px;">
<tbody>
<tr>
<td valign="top"><span style="color: #600006; font-family: &quot;arial&quot;; font-size: x-small;"> 
<span class="style22">Sprzedajemy nasze produkty wyłącznie wysyłkowo. <br /> Odbi&oacute;r osobisty jest możliwy 
w naszym VipRoom w Poznaniu - tylko po wcześniejszym uzgodnieniu dokładnej daty i godziny.<br />Więcej o kosztach wysyłek - <a target="_blank" href="http://www.staviori.pl/shipment.php"> <img align="" src="http://www.staviori.pl/allegro/omnie/grafika/koszty_wysylek.jpg" class="style27" /></a></span></span></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="background: url(http://www.staviori.pl/allegro/omnie/grafika/platnosci_omnie.jpg); width: 425px; height: 50px;"></td>
</tr>
<tr>
<td>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 390px; height: 40px;">
<tbody>
<tr>
<td valign="top">
<p class="style22">Akceptujemy płatności poprzez system allegro PayU, przelew na nasze konto lub zapłatę przy odbiorze.&nbsp;<br />
Zawsze wystawiamy paragon lub na życzenie fakturę vat.<br /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="http://www.staviori.pl/allegro/omnie/grafika/mbank_bw.png" />&nbsp;<img src="http://www.staviori.pl/allegro/omnie/grafika/payu_bw.png" /><br /><br />Formularz zwrotu / reklamacji: <br /><br />
<p><a target="_blank" href="http://www.staviori.biz/inne/formularz_zwrotu.pdf"> 
<img align="center" src="http://www.staviori.biz/inne/pdf1.png" class="style27" /></a></p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
<!--KONIEC TABELA LEWA-->
<td align="center" style="padding-top: 30px;" valign="top"><!--TABELA PRAWA--> 
<table border="0" cellpadding="0" cellspacing="0" style="border-spacing: 0px; width: 425px; height: 120px;">
<tbody>
<tr>
<td style="background: url(http://www.staviori.pl/allegro/omnie/grafika/komentarze_omnie.jpg); width: 425px; height: 50px;"></td>
</tr>
<tr>
<td>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-spacing: 0px; width: 390px; height: 40px; margin-bottom: 20px;">
<tbody>
<tr>
<td style="text-align: left;" valign="top"><span style="color: #600006; font-family: &quot;arial&quot;; font-size: x-small;"> 
<span class="style22">Zadowolenie klienta to dla nas sprawa priorytetowa, ponieważ nie ma lepszej reklamy niż usatysfakcjonowany kupujący ! <br />Dlatego też z największą troską i starannością staramy się podchodzić do każdej transakcji i zawsze jesteśmy otwarci na ew. prośby lub  		pytania.</span><em> </em></span></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="background: url(http://www.staviori.pl/allegro/omnie/grafika/kontakt_omnie.jpg); width: 425px; height: 50px;"></td>
</tr>
<tr>
<td>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 390px; height: 40px;">
<tbody>
<tr>
<td style="text-align: center;" valign="top">
<p><span style="font-family: &quot;arial&quot;; font-size: x-small;"> 
<span class="style25"> <span class="style21">Infolinia czynna od 9:00 do 18:00</span><br class="style21" /> </span></span><span style="color: #600006; font-family: &quot;arial&quot;; font-size: x-small;"><span class="style9"><span style="font-size: 12pt;">
<span class="style21"><b>+48 500 744 070</b></span></span><br class="style21" /> 
<br class="style21" /> </span></span>
<span style="font-family: &quot;arial&quot;; font-size: x-small;">
<span class="style25"><span class="style21">kontakt mailowy:</span><br class="style21" /> </span></span><span style="color: #600006; font-family: &quot;arial&quot;; font-size: x-small;"><span style="color: #0000ff;"><span class="style10" style="font-size: 10pt;"> <span class="style11"> 
<a class="style24" href="mailto:allegro@idiamonds.pl"><span class="style7"><b>allegro@staviori.pl</b></span></a></span></span></span></span></p>
<p><span class="style8">
<span style="font-family: &quot;arial&quot;; font-size: x-small;" class="style7">
<span class="style21">kontakt gadu-gadu:</span><br class="style21" /> 
<span class="style21">GG:&nbsp;&nbsp;&nbsp; </span> </span><span style="color: #600006; font-family: &quot;arial&quot;; font-size: x-small;"> 
<a class="style26" href="#gg:2039709"><span class="style22"><b>2039709</b></span></a><span style="font-family: &quot;arial&quot;; font-size: x-small;" class="style7"><br class="style21" /> </span></span></span></p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<!--KONIEC TABELA PRAWA--></td>
</tr>
</tbody>
</table>
<!--TABELA &brvbar;RODEK STRONY KONIEC--></td>
</tr>
</tbody>
</table>
<!--TABELA NADRZĘDNA &brvbar;RODEK STRONY KONIEC--></td>
</tr>
<!--STOPKA--> 
<tr>
<td style="background: url(http://www.staviori.pl/allegro/omnie/grafika/stopka_omnie.jpg); width: 920px; height: 105px; background-repeat: no-repeat;"></td>
</tr>
<!--STOPKA KONIEC-->
</tbody>
</table>
<!--TABELA GŁ&Oacute;WNA KONIEC--> <!--ISO-->