/* Ion.RangeSlider, Nice Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar,
.irs-bar-edge,
.irs-slider {
    background: url(../images/sprite-skin-nice.png) repeat-x;
}

.irs {
    height: 30px;
}

.irs-with-grid {
    height: 60px;
}

.irs-line {
    height: 10px;
    top: 15px;
}

.irs-line-left {
    height: 10px;
    background-position: 0 -31px;
}

.irs-line-mid {
    height: 10px;
    background-position: 0 0;
}

.irs-line-right {
    height: 10px;
    background-position: 100% -31px;
}

.irs-bar {
    height: 10px; 
    top: 15px;
    background-position: 0 -60px;
}

.irs-bar-edge {
    top: 15px;
    height: 10px;
    width: 11px;
    background-position: 0 -90px;
}

.irs-shadow {
    height: 1px; 
    top: 34px;
    background: #000;
    opacity: 0.15;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=15);
}

.irs-slider {
    width: 28px; 
    height: 28px;
    top: 7px;
    background-position: 0 -118px;
}

.irs-min, .irs-max {
    color: #999;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0; padding: 1px 3px;
    background: rgba(0,0,0,0.1);
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: none;
}

.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #ccc;
}

.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: rgba(0,0,0,0.3);
    -moz-border-radius: 3px;
    border-radius: 3px;
    display:none;
}

.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #999;
}

.irs-grid-pol {
    background: #99a4ac;
}

.irs-grid-text {
    color: #99a4ac;
}

.irs-disabled {
}
