#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button{padding:0;border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#cssmenu:after,
#cssmenu > ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
#cssmenu #menu-button{display:none;}
#cssmenu{width:auto;}
#cssmenu > ul > li{float:left;}
#cssmenu.align-center > ul{font-size:0;text-align:center;}
#cssmenu.align-center > ul > li{display:inline-block;float:none;}
#cssmenu.align-right > ul > li{float:right;}
#cssmenu > ul > li > a{-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-ms-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;}
#cssmenu.page-menu ul{display:table;margin:0 auto;}
#cssmenu.page-menu ul li a{color:#c5cae9;}
#cssmenu.small-screen{width:100%;}
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul{width:100%;padding-top:20px;text-align:left;}
#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center{float:none;display:block;border-bottom:1px solid rgba(100, 100, 100, 0.1);}
#cssmenu.small-screen > ul > li > a{font-size:14px;padding:8px 37px;border-bottom:0;}
#cssmenu.small-screen > ul > li:hover > a,
#cssmenu.small-screen > ul li.current-menu-item a{border-bottom:0;}
#cssmenu.small-screen > ul > li:after,
#cssmenu.small-screen > ul > li:before{display:none;}
#cssmenu.small-screen #menu-button{display:block;padding:0;cursor:pointer;font-size:15px;text-decoration:none;color:#fcfefb;padding-left:50px;}
#cssmenu.small-screen #menu-button:after{content:"";position:absolute;right:25px;top:0px;display:block;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;border-top:3px solid #fcfefb;border-bottom:3px solid #fcfefb;width:25px;height:3px;}
#cssmenu.small-screen #menu-button:before{content:"";position:absolute;right:25px;top:12px;display:block;width:25px;height:3px;background:#fcfefb;}
*, *:after, *:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{margin:0px;}
[class*='col-']{float:left;padding-right:60px;}
.grid{width:100%;margin:0 auto;}
.grid:after{content:"";display:table;clear:both;}
.grid-pad{padding-top:20px;padding-left:50px;padding-right:0px;}
.grid-pad-left{}
.push-right{float:right;}
.col-1-1{width:100%;}
.col-2-3, .col-8-12{width:66.66%;}
.col-1-2, .col-6-12{width:50%;}
.col-1-3, .col-4-12{width:33.33%;}
.col-1-4, .col-3-12{width:25%;}
.col-1-5{width:20%;}
.col-1-6, .col-2-12{width:16.667%;}
.col-1-7{width:14.28%;}
.col-1-8{width:12.5%;}
.col-1-9{width:11.1%;}
.col-1-10{width:10%;}
.col-1-11{width:9.09%;}
.col-1-12{width:8.33%}
.col-11-12{width:91.66%}
.col-10-12{width:83.333%;}
.col-9-12{width:75%;}
.col-5-12{width:41.66%;}
.col-7-12{width:58.33%}
.push-2-3, .push-8-12{margin-left:66.66%;}
.push-1-2, .push-6-12{margin-left:50%;}
.push-1-3, .push-4-12{margin-left:33.33%;}
.push-1-4, .push-3-12{margin-left:25%;}
.push-1-5{margin-left:20%;}
.push-1-6, .push-2-12{margin-left:16.667%;}
.push-1-7{margin-left:14.28%;}
.push-1-8{margin-left:12.5%;}
.push-1-9{margin-left:11.1%;}
.push-1-10{margin-left:10%;}
.push-1-11{margin-left:9.09%;}
.push-1-12{margin-left:8.33%}
@media handheld, only screen and (max-width:767px){.grid{width:100%;min-width:0;margin-left:0px;margin-right:0px;padding-left:10px;padding-right:10px;}
[class*='col-']{width:auto;float:none;margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px;}
[class*='mobile-col-']{float:left;margin-left:0px;margin-right:0px;margin-top:0px;margin-bottom:10px;padding-left:0px;padding-right:10px;padding-bottom:0px;}
.mobile-col-1-1{width:100%;}
.mobile-col-2-3, .mobile-col-8-12{width:66.66%;}
.mobile-col-1-2, .mobile-col-6-12{width:50%;}
.mobile-col-1-3, .mobile-col-4-12{width:33.33%;}
.mobile-col-1-4, .mobile-col-3-12{width:25%;}
.mobile-col-1-5{width:20%;}
.mobile-col-1-6, .mobile-col-2-12{width:16.667%;}
.mobile-col-1-7{width:14.28%;}
.mobile-col-1-8{width:12.5%;}
.mobile-col-1-9{width:11.1%;}
.mobile-col-1-10{width:10%;}
.mobile-col-1-11{width:9.09%;}
.mobile-col-1-12{width:8.33%}
.mobile-col-11-12{width:91.66%}
.mobile-col-10-12{width:83.333%;}
.mobile-col-9-12{width:75%;}
.mobile-col-5-12{width:41.66%;}
.mobile-col-7-12{width:58.33%}
.hide-on-mobile{display:none !important;width:0;height:0;}
}
@media screen and (max-width:1366px){body{font-size:16px;}
.title, .title a{font-size:28px;}
#home #logo{padding-top:20px;}
#home #logo img{width:80%;}
.front-page h2.title{margin-bottom:40px;}
.front-page.gemmology{margin-top:15%;}
#posts .post-content{padding:15px;}
#posts .post-content p{line-height:18px;}
#main .contact form input[type="submit"]{padding:7px 15px;}
#main .grid-posts{padding:87px 30px 30px 30px; width: 80%;}
#main article .title{margin-bottom:15px;}
#main article .aligncenter{margin:45px auto;}
#main article .content p{margin-bottom:25px;}
#main .contact ul li{padding-bottom: 25px;}
#main.main-contact .grid-posts{width:80%;}
}
@media screen and (max-width:1240px){#posts .col-post{width:100%;margin-bottom:10px;}
#posts .col-post img{width:100%;height:100%;}
#cssmenu > ul > li{margin:0px 10px;}
#nav .social-media li{margin:0 3px;}
}
@media screen and (max-width:768px){#scroll-page{display:none;}
#nav .col-1-12{position:absolute;top:11px;left:20px;}
#nav .col-9-12{width:100%;}
#nav .col-2-12{display:none;}
#home #nav{width:100%;background:#010020;}
#home #cssmenu.small-screen #menu-button{padding:10px 10px 10px 25px;}
#home #cssmenu.small-screen #menu-button::before{top:23px;}
#home #cssmenu.small-screen #menu-button::after{top:11px;}
#home #cssmenu.small-screen > ul{padding-top:10px;}
#home #cssmenu.small-screen > ul > li > a{padding:8px 12px;}
.title, .title a{font-size:28px;}
#home #logo{padding-top:15px;}
#home #logo img{width:70%;}
.front-page h2.title{text-align:center;margin:10vh 0;}
.front-page.gemmology h2.title{margin:2vh 0;}
.grid{padding:20px;}
.container{width:100%;padding:0;}
#posts .post-content{border-bottom:1px solid #eee;}
#footer .row:nth-child(2){display:none;}
#guide{height:auto!important;}
.front-page{background:rgba(255, 255, 255, 0.8);margin-top:0;padding:20px;min-height:94vh;}
.front-page .button{margin-top:10px;}
.front-page.gemmology{margin-top:10px;background:rgba(39, 33, 72, 0.45);min-height:90vh;}
.front-page.gemmology p{font-size:14px;color:#fff;}
.front-page p{font-size:18px;line-height:25px;}
.front-page.gemmology .rmore{margin-top:10px;}
#nav .grid{padding:0;}
#main.main-contact .grid-posts{width:100%;}
.google-maps{padding-bottom:55%;}
#posts .col-1-2 .thumbnail{display:none;}
#posts .col-1-2 .grid{padding:0;}
#posts .col-1-2 .thumbnail img{margin:0 auto;display:block;}
#posts .col-1-2:nth-child(4n+3) .col-1-2, #posts .col-1-2:nth-child(4n+4) .col-1-2{float:none;}
#main .grid-posts{padding:57px 25px 25px 25px;}
#main article .content{width:100%;padding:10px 0;}
#main .contact.contact-form{padding-top:25px;border-top:1px solid #eee;margin-top:25px;}
#posts .posts-bar{padding-top:55px;padding-bottom:10px;}
#posts .grid-single{padding:10px;}
#footer{padding:10px 0;}
#footer .goup{display:none;}
#footer .row{padding:10px 0;}
#footer #fnav ul li{margin:0 10px;}
#footer .copyright{text-align:center;margin:10px 0;padding-left:0;}
#footer .social-media-footer{display:table;margin:20px auto 10px auto;float:none;}
#fp-nav{display:none;}
#footer .partners ul li{width:100%;margin:5px 0;}
}
@media screen and (max-width:350px){#home #logo{padding-top:35px;}
}