<STYLE type="text/css"> 
<!--
body 
{  
  background-color: #202D25;
  font-family: verdana, arial, helvetica, sans-serif;  
  font-size: 12px; 
  color: black;
  scrollbar-face-color: #4D6B58;
  scrollbar-highlight-color: #63BA3C;
  scrollbar-shadow-color: #5D7B68;
  scrollbar-3dlight-color: #5D7B68;
  scrollbar-arrow-color:  #63BA3C;
  scrollbar-track-color: #5D7B68;
  scrollbar-darkshadow-color: #3D5B48;
}

table
{
  font-family: verdana, arial, helvetica, sans-serif;  
  font-size: 12px; 
  color: #D6CD97;
  background-color: #202D25;
  border-width: 0;
}

tr, td, th
{
  font-family: verdana, arial, helvetica, sans-serif;  
  font-size: 12px; 
  color: #D6CD97;
  border-width: 0;
}

input, select, textarea
{
  background-color: white;
  border-width: 2;
  border-color: #63BA3C;
}

input:focus {background-color: #C0FFC0}
select:focus {background-color: #C0FFC0}
textarea:focus {background-color: #C0FFC0}

p.error 
{
  font-family: verdana, arial, helvetica, sans-serif; 
  color: white; 
  font-size: 12px; 
  background-color: red;
  font-weight: bold;
}

p.ok 
{
  font-family: verdana, arial, helvetica, sans-serif; 
  color: white; 
  font-size: 12px; 
  font-weight: bold;
}

.yellow
{
  font-family: verdana, arial, helvetica, sans-serif; 
  color: #D6CD97;
  margin: 20px;
  font-size: 12px; 
  text-align:justify;
}

.yellowcenter
{
  font-family: verdana, arial, helvetica, sans-serif; 
  color: #D6CD97;
  margin: 20px;
  font-size: 12px; 
  text-align:center;
}

.bigyellow
{
  font-family: verdana, arial, helvetica, sans-serif; 
  color: #D6CD97;
  margin: 20px;
  font-size: 16px; 
  text-align:justify;
}

.green
{
  font-family: verdana, arial, helvetica, sans-serif; 
  color: #425944;
  margin: 20px;
  font-size: 12px; 
  text-align:justify;
}


a:link {color: #425944;  font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; text-decoration: none}
a:visited {color: #425944;  font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; text-decoration: none} 
a:active {color: #425944;  font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; text-decoration: none} 
a:hover {text-decoration: none; color: D6CD97; }

tr.line:hover {background-color: #3D7B48;}
img.galeria:hover {width:130; height:130; border: 10px solid white;}

small
{
  font-family: verdana, arial, helvetica, sans-serif;  
  font-size: 10px;
  color: #425944;
}

th
{
  font-family: verdana, arial, helvetica, sans-serif;  
  background-color: #D6CD97;
  font-size: 12px;
  color: black;
}


/* ---- [ main section ] ---- */
#main{
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 260;
}
#main h1,
#main p{
	text-align: left;
	margin: .5em 0;
}
#main p{
	font-size: .9em;
}
#map {
	width:260;
	margin:0 auto 50px;
}

/* ---- [ country's map - css only ] ---- */
.poland-map{
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
	width: 260px;
	height: 250px;
	background: url(poland-map.png) no-repeat 0 0;
	font-size:0.75em;
}
.poland-map li{
	margin: 0;
	padding: 0;
	position: absolute;
}
.poland-map li a{
	display: block;
	text-decoration: none;
	color: #136cf2;
	font-weight: bold;
}
.poland-map li a:hover,
.poland-map li a:focus{
	color: #0c76ed;
}
/* ---- [ Hide focus in worldmap ] ---- */
.poland-map li a:active,
.poland-map li a:focus {
	-moz-outline: none;
	outline: none;
}
.poland-map li a span{
	position:absolute;
	font-size:0.83em;
}
/* ---- [ Zachodniopomorskie ] ---- */
#zachodniopomorskie {
	top: 14px;
	left: 0;
	width: 74px;
	height: 86px;
}
#zachodniopomorskie a{
	height: 86px;
}
#zachodniopomorskie a:hover,
#zachodniopomorskie a:focus{
	background: url(poland-map.png) no-repeat 0 -267px;
}

#zachodniopomorskie a span{
	left:24px;
	top:34px;
}
#zachodniopomorskie-details{
	top:-2em;
	left:-28em;
}
/* ---- [ Pomorskie ] ---- */
#pomorskie {
	top: 1px;
	left: 67px;
	width: 83px;
	height: 60px;
}
#pomorskie a{
	height: 60px;
}
#pomorskie a:hover,
#pomorskie a:focus{
	background: url(poland-map.png) no-repeat -67px -353px;
}

#pomorskie a span{
	left:5px;
	top:20px;
}
#pomorskie-details{
	top:-2em;
	left:-28em;
}
/* ---- [ Warminsko-Mazurskie ] ---- */
#warminsko-mazurskie {
	top: 21px;
	left: 134px;
	width: 96px;
	height: 57px;
}
#warminsko-mazurskie a{
	height: 57px;
}
#warminsko-mazurskie a:hover,
#warminsko-mazurskie a:focus{
	background: url(poland-map.png) no-repeat -134px -413px;
}

#warminsko-mazurskie a span{
	left:13px;
	top:11px;
}
#warminsko-mazurskie-details{
	top:-2em;
	left:-28em;
}
/* ---- [ Podlaskie ] ---- */
#podlaskie {
	top: 23px;
	left: 195px;
	width: 60px;
	height: 91px;
}
#podlaskie a{
	height: 91px;
}
#podlaskie a:hover,
#podlaskie a:focus{
	background: url(poland-map.png) no-repeat -195px -493px;
}

#podlaskie a span{
	left:1px;
	top:37px;
}
#podlaskie-details{
	top:-2em;
	left:-28em;
}
/* ---- [ Lubuskie ] ---- */
#lubuskie {
	top: 77px;
	left: 11px;
	width: 51px;
	height: 77px;
}
#lubuskie a{
	height: 77px;
}
#lubuskie a:hover,
#lubuskie a:focus{
	background: url(poland-map.png) no-repeat -11px -584px;
}

#lubuskie a span{
	left:12px;
	top:30px;
}
#lubuskie-details{
	top:-2em;
	left:-28em;
}
/* ---- [ Wielkopolskie ] ---- */
#wielkopolskie {
	top: 54px;
	left: 43px;
	width: 93px;
	height: 110px;
}
#wielkopolskie a{
	height: 110px;
}
#wielkopolskie a:hover,
#wielkopolskie a:focus{
	background: url(poland-map.png) no-repeat -43px -661px;
}

#wielkopolskie a span{
	left:6px;
	top:56px;
}
#wielkopolskie-details{
	top:-2em;
	left:-28em;
}
/* ---- [ Kujawsko-Pomorskie ] ---- */
#kujawsko-pomorskie {
	top: 50px;
	left: 83px;
	width: 69px;
	height: 63px;
}
#kujawsko-pomorskie a{
	height: 63px;
}
#kujawsko-pomorskie a:hover,
#kujawsko-pomorskie a:focus{
	background: url(poland-map.png) no-repeat -83px -771px;
}

#kujawsko-pomorskie a span{
	left:13px;
	top:28px;
}
#kujawsko-pomorskie-details{
	top:-2em;
	left:-28em;
}
/* ---- [ Mazowieckie ] ---- */
#mazowieckie {
	top: 64px;
	left: 138px;
	width: 97px;
	height: 103px;
}
#mazowieckie a{
	height: 103px;
}
#mazowieckie a:hover,
#mazowieckie a:focus{
	background: url(poland-map.png) no-repeat -138px -834px;
}

#mazowieckie a span{
	left:5px;
	top:28px;
}
#mazowieckie-details{
	top:-2em;
	left:-28em;
}
/* ---- [ Lodzkie ] ---- */
#lodzkie {
	top: 109px;
	left: 107px;
	width: 68px;
	height: 65px;
}
#lodzkie a{
	height: 65px;
}
#lodzkie a:hover,
#lodzkie a:focus{
	background: url(poland-map.png) no-repeat -107px -937px;
}

#lodzkie a span{
	left:18px;
	top:28px;
}
#lodzkie-details{
	top:-2em;
	left:-28em;
}
/* ---- [ Dolnoslaskie ] ---- */
#dolnoslaskie {
	top: 135px;
	left: 17px;
	width: 83px;
	height: 74px;
}
#dolnoslaskie a{
	height: 74px;
}
#dolnoslaskie a:hover,
#dolnoslaskie a:focus{
	background: url(poland-map.png) no-repeat -17px -1002px;
}

#dolnoslaskie a span{
	left:5px;
	top:15px;
}
#dolnoslaskie-details{
	top:-2em;
	left:-28em;
}
/* ---- [ Opolskie ] ---- */
#opolskie {
	top: 160px;
	left: 75px;
	width: 48px;
	height: 52px;
}
#opolskie a{
	height: 52px;
}
#opolskie a:hover,
#opolskie a:focus{
	background: url(poland-map.png) no-repeat -75px -1076px;
}

#opolskie a span{
	left:15px;
	top:5px;
}
#opolskie-details{
	top:-2em;
	left:-28em;
}
/* ---- [ Slaskie ] ---- */
#slaskie {
	top: 163px;
	left: 106px;
	width: 51px;
	height: 71px;
}
#slaskie a{
	height: 71px;
}
#slaskie a:hover,
#slaskie a:focus{
	background: url(poland-map.png) no-repeat -106px -1128px;
}

#slaskie a span{
	left:13px;
	top:12px;
}
#slaskie-details{
	top:-2em;
	left:-28em;
}
/* ---- [ Swietokrzyskie ] ---- */
#swietokrzyskie {
	top: 153px;
	left: 150px;
	width: 53px;
	height: 48px;
}
#swietokrzyskie a{
	height: 48px;
}
#swietokrzyskie a:hover,
#swietokrzyskie a:focus{
	background: url(poland-map.png) no-repeat -150px -1199px;
}

#swietokrzyskie a span{
	left:13px;
	top:20px;
}
#swietokrzyskie-details{
	top:-2em;
	left:-28em;
}
/* ---- [ Malopolskie ] ---- */
#malopolskie {
	top: 186px;
	left: 135px;
	width: 59px;
	height: 58px;
}
#malopolskie a{
	height: 58px;
}
#malopolskie a:hover,
#malopolskie a:focus{
	background: url(poland-map.png) no-repeat -135px -1247px;
}

#malopolskie a span{
	left:5px;
	top:19px;
}
#malopolskie-details{
	top:-2em;
	left:-28em;
}
/* ---- [ Lubelskie ] ---- */
#lubelskie {
	top: 113px;
	left: 197px;
	width: 62px;
	height: 82px;
}
#lubelskie a{
	height: 82px;
}
#lubelskie a:hover,
#lubelskie a:focus{
	background: url(poland-map.png) no-repeat -197px -1305px;
}

#lubelskie a span{
	left:3px;
	top:47px;
}
#lubelskie-details{
	top:-2em;
	left:-28em;
}
/* ---- [ Podkarpackie ] ---- */
#podkarpackie {
	top: 173px;
	left: 185px;
	width: 62px;
	height: 77px;
}
#podkarpackie a{
	height: 77px;
}
#podkarpackie a:hover,
#podkarpackie a:focus{
	background: url(poland-map.png) no-repeat -185px -1387px;
}

#podkarpackie a span{
	left:3px;
	top:20px;
}
#podkarpackie-details{
	top:-2em;
	left:-28em;
}

-->
</style>
