<STYLE type="text/css"> 
<!--
body 
{  
  background-color: white;
  font-family: verdana, arial, helvetica, sans-serif;  
  font-size: 12px; 
  color: black;
  scrollbar-face-color: white;
  scrollbar-highlight-color: #63BA3C;
  scrollbar-shadow-color: #5D7B68;
  scrollbar-3dlight-color: #5D7B68;
  scrollbar-arrow-color:  #63BA3C;
  scrollbar-track-color: #5D7B68;
  scrollbar-darkshadow-color: #3D5B48;
}

table
{
  font-family: verdana, arial, helvetica, sans-serif;  
  font-size: 12px; 
  color: black;
  background-color: white;
  border-width: 0;
}

tr, td, th
{
  font-family: verdana, arial, helvetica, sans-serif;  
  font-size: 12px; 
  color: black;
  border-width: 0;
}

input, select, textarea
{
  background-color: white;
  border-width: 1;
  border-color: black;
  border-style: solid;
}

input:focus {background-color: #eeeeee}
select:focus {background-color: #eeeeee}
textarea:focus {background-color: #eeeeee}

p.error 
{
  font-family: verdana, arial, helvetica, sans-serif; 
  color: white; 
  font-size: 12px; 
  background-color: red;
  font-weight: bold;
}

p.ok 
{
  font-family: verdana, arial, helvetica, sans-serif; 
  color: green; 
  font-size: 12px; 
  font-weight: bold;
}


a:link {color: black;  font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; text-decoration: none}
a:visited {color: black;  font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; text-decoration: none} 
a:active {color: black;  font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; text-decoration: none} 
a:hover {text-decoration: none; color: white; background-color: black;}

tr.line:hover {background-color: #bbbbbb;}
td.cell:hover {background-color: #bbbbbb;}
input.cart:hover {background-color: orange;}
img.galeria:hover {width:130; height:130; border: 10px solid white;}

.yellow
{
  font-family: verdana, arial, helvetica, sans-serif; 
  color: black;
  margin: 20px;
  font-size: 12px; 
  text-align:justify;
}

.yellowcenter
{
  font-family: verdana, arial, helvetica, sans-serif; 
  color: black;
  margin: 20px;
  font-size: 12px; 
  text-align:center;
}

.bigyellow
{
  font-family: verdana, arial, helvetica, sans-serif; 
  color: black;
  margin: 20px;
  font-size: 16px; 
  text-align:justify;
}

.green
{
  font-family: verdana, arial, helvetica, sans-serif; 
  color: black;
  margin: 20px;
  font-size: 12px; 
  text-align:justify;
}

small
{
  font-family: verdana, arial, helvetica, sans-serif;  
  font-size: 10px;
  color: grey;
}

th
{
  font-family: verdana, arial, helvetica, sans-serif;  
  background-color: black;
  font-size: 12px;
  color: white;
}
-->
</style>
