<STYLE type="text/css"> 
<!--
body 
{  
  background-color: #4D6B58;
  font-family: verdana, arial, helvetica, sans-serif;  
  font-size: 12px; 
  color: black;
  scrollbar-face-color: #4D6B58;
  scrollbar-highlight-color: #63BA3C;
  scrollbar-shadow-color: #5D7B68;
  scrollbar-3dlight-color: #5D7B68;
  scrollbar-arrow-color:  #63BA3C;
  scrollbar-track-color: #5D7B68;
  scrollbar-darkshadow-color: #3D5B48;
}

table
{
  font-family: verdana, arial, helvetica, sans-serif;  
  font-size: 12px; 
  color: white;
  background-color: #4D6B58;
  border-width: 0;
}

tr, td, th
{
  font-family: verdana, arial, helvetica, sans-serif;  
  font-size: 12px; 
  color: white;
  border-width: 0;
}

input, select, textarea
{
  background-color: white;
  border-width: 2;
  border-color: #63BA3C;
}

input:focus {background-color: #C0FFC0}
select:focus {background-color: #C0FFC0}
textarea:focus {background-color: #C0FFC0}

p.error 
{
  font-family: verdana, arial, helvetica, sans-serif; 
  color: white; 
  font-size: 12px; 
  background-color: red;
  font-weight: bold;
}

p.ok 
{
  font-family: verdana, arial, helvetica, sans-serif; 
  color: white; 
  font-size: 12px; 
  font-weight: bold;
}


a:link {color: white;  font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; text-decoration: none}
a:visited {color: white;  font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; text-decoration: none} 
a:active {color: white;  font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; text-decoration: none} 
a:hover {text-decoration: none; color: black; background-color: #63BA3C;}

tr.line:hover {background-color: #3D7B48;}
td.cell:hover {background-color: #3D7B48;}
input.cart:hover {background-color: orange;}
img.galeria:hover {width:130; height:130; border: 10px solid white;}

small
{
  font-family: verdana, arial, helvetica, sans-serif;  
  font-size: 10px;
  color: #63BA3C;
}

th
{
  font-family: verdana, arial, helvetica, sans-serif;  
  background-color: #63BA3C;
  font-size: 12px;
  color: black;
}
-->
</style>
