/*
Theme Name: E-diamenty
Author: Hesna IMS
Author URI: http://hesna.pl
*/

a, abbr, address, article, aside, audio, b, blockquote, body, canvas,
caption, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset,
figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup,
html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,
object, ol, p, pre, q, samp, section, small, span, strong, sub, summary,
sup, time, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
}

article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary {
  display: block;
}

a, ins, del {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}
strong {
  font-weight: bold;
}
caption, th {
  text-align: left;
}

q:after, q:before {
  content: "";
}

* {
    outline: none;
    margin: 0;
    padding: 0;
}

a {
	color: #1f2b38;
	text-decoration: none;
}

a:hover {
	color: #1f2b38;
	text-decoration: none;
}


pre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

/* Helpers  */
.center {margin: 0 auto;}
.content_center {text-align: center;}
.flleft {float: left !important;}
.flright {float: right !important;}
.clear {clear: both;}
.text-left {text-align: left}
.text-center {text-align: center}
.text-right {text-align: right}


/* IE Fixes */
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

/* End hide from IE Mac */
.floatfix {
	overflow:hidden;
}

* html .floatfix {
	width:100%;
    height: 100%;
}

.center, *[align="center"] {
	margin: 0 auto;
}

hr {
    border-top: 1px solid #d6d6d6;
    margin-top: 40px;
    margin-bottom: 40px;
}

@font-face {
	font-family: 'gothic';
	src: url('assets/fonts/gothic.eot');
	src: local('gothic'), url('assets/fonts/gothic.woff') format('woff'), url('assets/fonts/gothic.ttf') format('truetype');
}

/* Font downloaded from FontsForWeb.com */

html, body {
    font-family: 'gothic';
    font-size: 14px;
    color: #3d556d;
    padding: 0px;
    margin: 0px;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.transition {
    opacity: 0.7;
	-webkit-transition:all 300ms ease-out 0s;
	-moz-transition:all 300ms ease-out 0s;
	-o-transition:all 300ms ease-out 0s;
	transition:all 300ms ease-out 0s;
}

.transition:hover {
    opacity: 1;
}

.title {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}

.title:after {
    content: "";
    width: 100%;
    max-width: 764px;
    height: 15px;
    background: url(assets/images/line.png) center top;
    display: block;
    margin: 20px auto 40px auto;
}

.readmore {
    color: #3d556d;
    font-size: 14px;
    border: 3px solid #d9d9d9;
    display: inline-block;
    padding: 7px 25px;
    text-transform: uppercase;
}

.readmore:hover {
    color: #fff;
    background: #1f2b38;
    border: 3px solid #fff;
}


.readmore.pdf {
    font-weight: bold;
    background: #fff url(assets/images/icons/pdf.png) no-repeat center left 15px;
    padding: 7px 50px;
}

.readmore.pdf:hover {
    background: #1f2b38 url(assets/images/icons/pdf-active.png) no-repeat center left 15px;
}

input[type="checkbox"],
input[type="radio"] {
    display:none;
}

input[type="checkbox"] + label,
input[type="radion"] + label {
    cursor: pointer;
}

input[type="checkbox"] + label span,
input[type="radio"] + label span {
    display:inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: url(assets/images/icons/checkbox.png) left top no-repeat;
    cursor: pointer;
}

input[type="radio"] + label span {
    background: url(assets/images/icons/radio.png) left top no-repeat;
}

input[type="checkbox"]:checked + label span {
    background: url(assets/images/icons/checkbox.png) -20px top no-repeat;
}

input[type="radio"]:checked + label span {
    background: url(assets/images/icons/radio.png) -20px top no-repeat;
}

i.info {
    width: 15px;
    height: 15px;
    background: url(assets/images/icons/info.png);
    display: inline-block;
    cursor: help;
}

i.info:hover, i.info:active, i.info:focus {
    background-position: 15px 0;
}

/* Wrapper */
.wrapper {
    width: 1192px;
    max-width: 100%;
    margin: 0 auto;
}

/* Header */
#header #nav {
    width: 100%;
    min-height: 20px;
    background: #fff;
    border-bottom: 1px solid #d9d9d9;
    position: fixed;
    z-index: 9999;
}

#header.front-page #nav {
    position: static;
}

#header #nav .row > div {
    border-left: 1px solid #d9d9d9;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;
}

#header #nav .row > div:last-child {
    border-right: 1px solid #d9d9d9;
}

#header #nav .sticky,
#header #nav .noscroll {
    display: none;
}

#header #nav .sticky.scroll {
    display: block;
    animation-duration: 0.8s;
    animation-name: fadeIn;
}

/* Header: Języki */
#header #nav .row div.language,
#header #nav .row div.currency {
    padding: 0;
}


#header #nav .row div.language img {
    margin-right: 10px;
}

#header #nav .row div.language a,
#header #nav .row div.currency a,
#header #nav .row div.account .choose a {
    font-size: 12px;
    display: block;
    padding: 10px 15px;
}

#header #nav .row div .choose {
    width: calc(100% + 2px);
    position: absolute;
    top: 41px;
    left: -1px;
    background: #fff;
    -webkit-box-shadow: 10px 10px 25px -21px rgba(0,0,0,0.4);
    -moz-box-shadow: 10px 10px 25px -21px rgba(0,0,0,0.4);
    box-shadow: 10px 10px 25px -21px rgba(0,0,0,0.4);
    z-index: 9999;
}

#header #nav .row div ul.choose li {
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

#header #nav .row div ul.choose li:hover {
    background: #f2f2f2;
}

/* Header: Waluta */
#header .currency {
    text-align: center;
    text-transform: uppercase;
}

/* Header: Szukajka */
#header .search input[type="text"] {
    width: calc(100% - 25px);
    color: #bec2d0;
    border: 0;
}

#header .search input[type="submit"] {
    width: 19px;
    height: 19px;
    background: url(assets/images/icons/search.png) no-repeat center center;
    border: 0;
}

/* Header: Account */
#header .account a {
    font-size: 12px;
}

#header .account a.login {
    height: 19px;
    background: url(assets/images/icons/auth.png) no-repeat;
    padding-left: 40px;
    display: inline-block; 
}

#header .account a.login:after {
    content: "/";
    padding: 0 15px;
}

#header .account .choose li a {
    text-transform: uppercase;
}

#header .account .choose li a:after {
    content: "";
    width: 5px;
    height: 8px;
    background: url(assets/images/icons/bullet.png) no-repeat center right;
    float: right;
    position: relative;
    top: 5px;
}

/* Header: Obserwowane */
#header .watch a {
    height: 19px;
    background: url(assets/images/icons/obse.png) no-repeat;
    padding-left: 30px;
    display: inline-block; 
}

/* Header: Koszyk */
#header .cart > a {
    height: 19px;
    background: url(assets/images/icons/cart.png) no-repeat;
    padding-left: 30px;
    display: inline-block; 
}

#header #nav .row div.mini-cart.choose {
    top: 40px;
}

#header .cart .mini-cart .bx-prev,
#header .cart .mini-cart .bx-next {
    background: #f2f2f2;
    width: 100%;
    display: block;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    text-indent: -9999px;
    position: relative;
    outline: none;
}

#header .cart .mini-cart .bx-prev:before,
#header .cart .mini-cart .bx-next:before {
    content: "";
    width: 8px;
    height: 5px;
    position: absolute;
    top: 8px;
    left: 50%;
    margin-left: -4px;
}

#header .cart .mini-cart .bx-prev:before {
    background: url(assets/images/icons/cart-arrow.png) no-repeat;
}

#header .cart .mini-cart .bx-next:before {
    background: url(assets/images/icons/cart-arrow.png) no-repeat;
    background-position: 0px -5px;
}

#header .cart .mini-cart .mini-cart-product {
    border-bottom: 1px dashed #bbbbbb;
    padding: 15px;
}

#header .cart .mini-cart .mini-cart-product img {
    margin-right: 15px;
    border: 1px solid #d9d9d9;
    padding: 7px;
}

#header .cart .mini-cart .mini-cart-product:last-child {
    border-bottom: 0;
}

#header .cart .mini-cart .mini-cart-product-item {
    font-size: 12px;
    overflow: hidden;
}

#header .cart .mini-cart .mini-cart-product-item a {
    color: #2d3e50;
}

#header .cart .mini-cart .mini-cart-product-item p.qty {
    color: #888d9d;
    margin: 5px 0;
}

#header .cart .mini-cart .mini-cart-product-item p.amount {
    color: #2d3e50;
    font-weight: bold;
}

#header .cart .mini-cart .mini-cart-subtotal {
    padding: 10px;
    text-align: center;
}

#header .cart .mini-cart .mini-cart-subtotal p {
    color: #3d556d;
    font-size: 12px;
}

#header .cart .mini-cart .mini-cart-subtotal p.amount {
    font-size: 14px;
    color: #2d3e50;
    font-weight: bold;
    margin-top: 5px;
}

#header .cart .mini-cart .go-cart {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    background: #3d556d;
    display: block;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

#header .cart .mini-cart .go-cart:hover {
    background: #1f2b38;
}

#header .cart .mini-cart .go-cart:after {
    content: "";
    width: 5px;
    height: 8px;
    background: url(assets/images/icons/mini-cart-bullet.png);
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 25px;
}

/* Header: Fixed */
#header #nav.fixed {
    width: 100%;
    background: #fff;
}

/* Header: Sticky */
#header #nav .sticky.scroll .sticky-logo img {
    display: block;
    margin: 3px auto 0 auto;
}

#header #nav .row div.sticky-menu {
    padding: 0;
    max-width: 898px;
}

#header #nav .row div.sticky-menu ul li {
    float: left;
}

#header #nav .row div.sticky-menu ul li a {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 25px;
}

#header #nav .row div.sticky-menu ul li a:hover {
    background: #000c36;
    color: #fff;
}

#header #nav .row .sticky-search {
    border-left: 0px;
    border-right: 0px!important;
    padding-right: 15px;
}

#header #nav .row div.sticky-search input[type="text"] {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
}

#header #nav .row div.sticky-search input[type="submit"] {
    float: right;
    margin-top: 10px;
}

#header #nav .row div.sticky-logo {
    max-width: 55px;
    min-width: 55px;
}

#header #nav .row div.sticky-language {
    max-width: 50px;
    min-width: 50px;
}

#header #nav .row div.sticky-language span {
    display: none;
}

#header #nav .row div.sticky-currency {
    max-width: 60px;
    min-width: 60px
}

#header #nav .row div.sticky-account {
    max-width: 50px;
    min-width: 50px
}

#header #nav .row div.sticky-account a.login::after {
    display: none;
}

#header #nav .row div.sticky-account a.login {
    padding-left: 19px;
}

#header #nav .row div.sticky-watch {
    max-width: 50px;
    min-width: 50px
}

#header #nav .row div.sticky-watch a {
    padding-left: 19px;
}

#header #nav .row div.sticky-cart {
    max-width: 50px;
    min-width: 50px;
}

#header #nav .row div.sticky-cart a {
    padding-left: 19px;
}

#header #nav .row div .badge {
    width: 17px;
    height: 17px;
    line-height: 17px;
    display: inline-block;
    min-width: 17px;
    font-size: 9px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #f24849;
    border-radius: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
}

/* Header: Menu */
#header #menu {
    border-bottom: 1px solid #d9d9d9;
    padding-top: 41px;
}

#header #menu .logo img {
    display: block;
    margin: 20px auto 30px auto;
}

#header #menu .nav ul li {
    width: 20%;
    float: left;
    text-align: center;
}

#header #menu .nav ul li a {
    color: #3d556d;
    font-size: 16px;
    position: relative;
    display: block;
    padding-bottom: 5px;
}

#header #menu .nav ul li:hover a:after {
    content: "";
    width: 80px;
    height: 2px;
    background: #3d556d;
    position: absolute;
    bottom: -1px;
    left: 50%;
    margin-left: -40px;
}

#header #menu .nav.video ul li:hover a:after {
    height: 1px;
    background: #fff;
}

/* Header: Menu video */
#header #menu .nav.video {
    border-bottom: 1px solid #727881;
    text-align: center;
}

#header #menu .readmore {
    color: #fff;
    margin: 50px auto 0 auto;
}

#header #menu .readmore:hover {
    background: #fff;
    color: #2d3e50;
}

#header #menu .nav.video ul li a {
    color: #fff;
}

#header #menu .name.video {
    color: #fff;
    text-align: center;
    padding-top: 70px;
}

#header #menu .name.video h1 {
    font-size: 24px;
    margin: 17px 0;
}

#header #menu .name.video p {
    line-height: 17px;
}

/* Header: Video */
#header #menu.video {
    height: 600px;
    background: url(assets/images/bg-video.jpg) center top;
    background-size: cover;
    padding-top: 40px;
    position: relative;
}

#header #menu.video .home-filtr {
    width: 100%;
    height: 120px;
    background: rgba(1, 0, 32, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 15px;
}

label.pre-search-label {
    font-size: 14px;
    color: #aaaaaa;
    display: block;
}

label.pre-search-label span {
    font-size: 12px;
}

input.input-filtr {
    max-width: 75px;
    font-size: 12px;
    color: #e7e9ee;
    background: transparent;
    border: 1px solid #676b7a;
    padding: 1px 5px;
    margin-top: 10px;
}

input.input-filtr:last-of-type {
    float: right;
}

.pre-search {
    color: #fff;
    text-transform: uppercase;
    border: 3px solid #606273;
    padding: 10px 25px;
    width: 100%;
    max-width: 175px;
    display: block;
    margin-top: 30px;
    background: transparent;
    text-align: center;
}

.pre-search:hover {
    color: #606273;
    background: #fff;
    border: 3px solid #fff;
}

/* Home: Products */
#home-products {
    padding-top: 40px;
    padding-bottom: 40px;    
 
    
}
#home-products .table-row {
    width: 100%;
    display: table-row;
    margin: 0 auto 40px auto;
    display: block;
}

#home-products .table-cell {
    display: table-cell;
    vertical-align: middle;
}

#home-products .border {
    width: 100%;
    height: 1px;
    background: #3d556d;
}

#home-products .table-cell h2 {
    font-size: 24px;
    color: #3d556d;
    text-transform: uppercase;
    white-space: nowrap;
}

#home-products .product {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}

#home-products article {
    border: 1px solid #ecf0f1;
    padding: 30px;
    text-align: center;
}

#home-products article:hover {
    border: 1px solid #000c36;
}

#home-products article figure img {
    display: block;
    margin: 0 auto;
}

#home-products article figure:after {
    content: "";
    width: 100%;
    height: 5px;
    float: left;
    background: url(assets/images/icons/sep.png) repeat-x;
    margin-top: 5px;
    margin-bottom: 15px;
}

#home-products article h3 {
    font-size: 12px;
    color: #2d3e50;
    text-transform: uppercase;
    margin-bottom: 12px;
}

#home-products article p {
    color: #2d3e50;
    font-size: 14px;
    font-weight: bold;
}

#home-products article .readmore {
    font-size: 12px;
    color: #2d3e50;
    border: 2px solid #ecf0f1;
    margin: 10px auto 0 auto;
    padding: 5px 25px;
}

#home-products article:hover .readmore,
#home-products .more-product a:hover,
#home-posts .more  a:hover  {
    color: #fff;
    background: #000c36;
    border: 2px solid #000c36;
}

#home-products .more-product a,
#home-posts .more  a {
    color: #000c36;
    font-size: 14px;
    font-style: italic;
    border: 2px solid #ecf0f1;
    max-width: 215px;
    display: block;
    margin: 25px auto 0 auto;
    padding: 8px 0;
    text-align: center;
    clear: both;
}

/* Home: About */
#home-about {
    padding-top: 40px;
    padding-bottom: 40px;
}
#home-about article header {
    padding-bottom: 10px;
}

#home-about article p {
    text-align: center;
    line-height: 24px;
}

#home-about article .play {
    width: 53px;
    height: 53px;
    background: url(assets/images/play.png) no-repeat;
    margin: 40px auto;
    display: block;
    text-indent: -9999px;
}

/* Home: Services */
#home-services {
    padding-top: 40px;
    padding-bottom: 40px;
}

#home-services .service,
#main .service {
    padding-left: 10px;
    padding-right: 10px;
}

#home-services article,
#main .service article {
    border: 1px solid #ecf0f1;
}

#home-services article figure,
#main .service article figure {
    position: relative;
}

#home-services article figure h3,
#main .service article figure h3 {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    left: 15px;
    bottom: 10px;
}

#home-services article p,
#main .service article p {
    color: #888d9d;
    line-height: 18px;
    padding: 10px;
    margin: 0;
}

#home-services article a,
#main .service article a {
    color: #000c36;
    font-style: italic;
    margin-bottom: 10px;
    margin-left: 10px;
    display: block;
}

/* Home: Posts */
#home-posts,
#posts {
    padding-top: 40px;
    padding-bottom: 40px;
}

#home-posts .thumb,
#home-posts .content,
#posts .thumb,
#posts .content {
    padding: 0;
}

#home-posts  .post-content,
#posts  .post-content {
    padding: 25px 25px 0 25px;
}

#home-posts .post-content span.date,
#posts .post-content span.date {
    font-size: 14px;
    font-style: italic;
    color: #777;
    display: block;
    margin-bottom: 15px;
}

#home-posts .post-content h2,
#posts .post-content h2 {
    line-height: 20px;
    margin-bottom: 15px;
}

#home-posts .post-content h2 a,
#posts .post-content h2 a {
    font-size: 14px;
    color: #3d556d;
    text-transform: uppercase;
}

#home-posts .post-content a.rmore,
#posts .post-content a.rmore {
    font-size: 12px;
    font-style: italic;
    color: #0c1840;
    display: block;
    margin: 15px 0;
}

#home-posts .thumbnail::after,
#posts .thumbnail::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -22px;
    width: 0px;
    height: 0px;
    border-right: 22px solid #fff;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

#home-posts .col-md-6:nth-child(4n+3) .thumbnail:after, #home-posts .col-md-6:nth-child(4n+4) .thumbnail:after,
#posts .col-md-6:nth-child(4n+3) .thumbnail:after, #posts .col-md-6:nth-child(4n+4) .thumbnail:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    margin-top: -22px;
    width: 0px;
    height: 0px;
    border-left: 22px solid #fff;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-right: 0;
    }


#home-posts .more {
    padding-top: 15px;
}

/* Posts: Pagination */
#posts .title {
    margin-top: 0;
}

#posts .pagination .title:after {
    display: none;
}

#posts .pagination {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 30px;
    margin-bottom: 40px;
}

#posts .pagination .prev,
#posts .pagination .next {
    padding-top: 7px;
}

#posts .pagination .prev a::before,
#posts .pagination .next a::after {
    content: "";
    width: 125px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    background: url(assets/images/icons/post-prev.png) center left;
}

#posts .pagination .next a::after  {
    background: url(assets/images/icons/post-next.png) center right;
    margin-right: 0;
    margin-left: 20px
}

/* Posts: Single Post */
#posts.single {
    padding-top: 20px;
}

#posts .posts-bar {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 20px;
    margin-bottom: 40px;    
}

#posts .posts-bar a {
    float: right;
}

#posts .posts-bar a:before {
    content: "";
    width: 235px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    background: url(assets/images/icons/back.png);
}

#posts.single .post-content h2 a {
    font-weight: bold;
    font-size: 16px;
}

#posts.single p {
    margin-bottom: 15px;
}

#posts.single .small-navigation {
    float: right;
    margin-top: 30px;
}

#posts.single .small-navigation .prev {
    background: url(assets/images/icons/prev.png) left center;
    float: left;
}

#posts.single .small-navigation a {
    width: 15px;
    height: 29px;
    text-indent: -9999px;
    margin: 0 10px;
}

#posts.single .small-navigation .next {
    background: url(assets/images/icons/next.png) right center;
    float: right;
}

/* Main */
#main {
    padding-top: 30px;
    padding-bottom: 30px;
}

#main article p {
    margin: 20px 0;
    line-height: 24px;
}

/* Catalog */
#main.catalog #filtr {
    border-bottom: 1px solid #d9d9d9;
}

#main.catalog #filtr .row {
    padding-top: 20px;
    padding-bottom: 20px;
}

#main.catalog #filtr #advanced-filtr {
    border-top: 1px solid #d9d9d9;
}

.hide-advanced-filters{
    display: none;
}
.show-advanced-filters{
    display: block;
}

#main.catalog #filtr .list li {
    float: left;
    margin-right: 25px;
}

#main.catalog #filtr .list li label {
    cursor: pointer;
}

#main.catalog #filtr .list li span {
    margin-right: 10px;
}

#main.catalog #filtr .list li:last-child {
    margin-right: 0;
}

#main.catalog #filtr .choose-shape li {
    float: left;
    margin-right: 1px;
    opacity: 0.7
}

#main.catalog #filtr .choose-shape li:hover {
    opacity: 1;
}

#main.catalog #filtr .choose-shape li label {
    margin-bottom: 0;
}

#main.catalog #filtr .choose-shape li .shape {
    background-image: url(assets/images/diamond.png);
    width: 35px;
    height: 35px;
    display: block;
    cursor: pointer;
    border: 1px solid transparent;
}

#main.catalog #filtr .choose-shape li .shape.s2 {
    background-position: -36px 0;
}

#main.catalog #filtr .choose-shape li .shape.s3 {
    background-position: -72px 0;
}

#main.catalog #filtr .choose-shape li .shape.s4 {
    background-position: -108px 0;
}

#main.catalog #filtr .choose-shape li .shape.s5 {
    background-position: -144px 0;
}

#main.catalog #filtr .choose-shape li .shape.s6 {
    background-position: -180px 0;
}

#main.catalog #filtr .choose-shape li .shape.s7 {
    background-position: -216px 0;
}

#main.catalog #filtr .choose-shape li .shape.s8 {
    background-position: -252px 0;
}

#main.catalog #filtr .choose-shape li .shape.s9 {
    background-position: -288px 0;
}

#main.catalog #filtr .choose-shape li .shape.s10 {
    background-position: -324px 0;
}

input[name="sort_shape"] { display: none; }

#main.catalog #filtr .choose li {
    font-size: 10px;
    line-height: 12px;
    color: #888d9d;
    float: left;
    margin-right: 20px;
    text-align: center;
}

#main.catalog #filtr .choose li:last-child {
    margin-right: 0;
}

#main.catalog #filtr .choose li .color {
    background-image: url(assets/images/colour.png);
    width: 34px;
    height: 25px;
    display: block;
    cursor: pointer;
}

#main.catalog #filtr .choose-shape {
    padding-top: 10px;
}

#main.catalog #filtr .choose li .color.violet {
    background-position: 0 -25px;
}

#main.catalog #filtr .choose li .color.violet.selected,
#main.catalog #filtr .choose li .color.violet:hover {
    background-position: 0 0;
}

#main.catalog #filtr .choose li .color.red {
    background-position: -34px -25px;
}

#main.catalog #filtr .choose li .color.red.selected,
#main.catalog #filtr .choose li .color.red:hover {
    background-position: -34px 0;
}

#main.catalog #filtr .choose li .color.purple {
    background-position: -68px -25px;
}

#main.catalog #filtr .choose li .color.purple.selected,
#main.catalog #filtr .choose li .color.purple:hover {
    background-position: -68px 0;
}

#main.catalog #filtr .choose li .color.pink {
    background-position: -102px -25px;
}

#main.catalog #filtr .choose li .color.pink.selected,
#main.catalog #filtr .choose li .color.pink:hover {
    background-position: -102px 0;
}

#main.catalog #filtr .choose li .color.orange {
    background-position: -136px -25px;
}

#main.catalog #filtr .choose li .color.orange.selected,
#main.catalog #filtr .choose li .color.orange:hover {
    background-position: -136px 0;
}

#main.catalog #filtr .choose li .color.grey {
    background-position: -170px -25px;
}

#main.catalog #filtr .choose li .color.grey.selected,
#main.catalog #filtr .choose li .color.grey:hover {
    background-position: -170px 0;
}

#main.catalog #filtr .choose li .color.green {
    background-position: -204px -25px;
}

#main.catalog #filtr .choose li .color.green.selected,
#main.catalog #filtr .choose li .color.green:hover {
    background-position: -204px 0;
}

#main.catalog #filtr .choose li .color.cognac {
    background-position: -238px -25px;
}

#main.catalog #filtr .choose li .color.cognac.selected,
#main.catalog #filtr .choose li .color.cognac:hover {
    background-position: -238px 0;
}

#main.catalog #filtr .choose li .color.champagne {
    background-position: -272px -25px;
}

#main.catalog #filtr .choose li .color.champagne.selected,
#main.catalog #filtr .choose li .color.champagne:hover {
    background-position: -272px 0;
}

#main.catalog #filtr .choose li .color.chameleon {
    background-position: -306px -25px;
}

#main.catalog #filtr .choose li .color.chameleon.selected,
#main.catalog #filtr .choose li .color.chameleon:hover {
    background-position: -306px 0;
}

#main.catalog #filtr .choose li .color.yellow {
    background-position: -340px -25px;
}

#main.catalog #filtr .choose li .color.yellow.selected,
#main.catalog #filtr .choose li .color.yellow:hover {
    background-position: -340px 0;
}

#main.catalog #filtr .choose li .color.brown {
    background-position: -374px -25px;
}

#main.catalog #filtr .choose li .color.brown.selected,
#main.catalog #filtr .choose li .color.brown:hover {
    background-position: -374px 0;
}

#main.catalog #filtr .choose li .color.white {
    background-position: -408px -25px;
}

#main.catalog #filtr .choose li .color.white.selected,
#main.catalog #filtr .choose li .color.white:hover {
    background-position: -408px 0;
}

#main.catalog #filtr .choose li .color.blue {
    background-position: -442px -25px;
}

#main.catalog #filtr .choose li .color.blue.selected,
#main.catalog #filtr .choose li .color.blue:hover {
    background-position: -442px 0;
}

input[name="sort_colour"] { 
    display: none; 
}

#main.catalog #filtr .reset-filters {
    color: #3d556d;
    font-size: 14px;
}

#main.catalog #filtr .reset-filters:before {
    content: "";
    width: 20px;
    height: 20px;
    background: url(assets/images/icons/reset.png) no-repeat;
    padding-right: 35px;
    display: inline-block;
    vertical-align: -4px;
}

#main.catalog #filtr .advanced-search {
    font-size: 12px;
    color: #888d9d;
    border: 1px solid #dbdde1;
    display: block;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}

#main.catalog #filtr .advanced-search:hover {
    color: #fff;
    background: #1f2b38;
}

#main.catalog #filtr .advanced-search.up:after {
    content: "";
    width: 11px;
    height: 6px;
    background-image: url(assets/images/icons/up.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 16px;
    margin-left: 15px;
}

#main.catalog #filtr .advanced-search.down:after {
    content: "";
    width: 11px;
    height: 6px;
    background-image: url(assets/images/icons/down.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 16px;
    margin-left: 15px;
}

#main.catalog #filtr label {
    font-size: 14px;
    color: #3d556d;
    display: block;
    margin-bottom: 15px;
}

#main.catalog #filtr label span {
    font-size: 12px;
    margin-left: 5px;
}

#main.catalog #filtr label .info {
    position: relative;
    top: 3px;
}

#main.catalog #filtr input.input-filtr {
    max-width: 75px;
    font-size: 12px;
    color: #676b7a;
    background: transparent;
    border: 1px solid #dbdde1;
    padding: 1px 5px;
    margin-top: 10px;
}

#main.catalog #filtr input.input-filtr:last-of-type {
    float: right;
}

/* Porównaj diamenty */
#main.catalog .compare {
    padding-top: 20px;
    padding-bottom: 20px;
}

#main.catalog .compare a {
    font-size: 12px;
    color: #888d9d;
    border: 1px solid #dbdde1;
    display: block;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}

#main.catalog .compare a:hover {
    color: #fff;
    background: #1f2b38;
}

#main.catalog .compare p {
    color: #3d556d;
    text-align: right;
}

#main.catalog .compare p span {
    font-weight: bold;
    font-size: 18px;
    color: #1f2b38;
}

#main.catalog .Table {
    width: calc(100% - 6px);
}

#main.catalog .slimScrollBar {
    width: 6px!important;
}

/* Tabelka z wynikami */
#content-1 {
    height: 400px;
    position:relative;
}

.Table {
    /*display: table;*/
   	width: 1162px!important;
    position: relative
}

.TableRow {
    /*display: table-row;*/
}

.TableHeading {
    /*display: table-header-group;*/
   	background-color: #ddd;
}

.TableCell, .TableHead {
    /*display: table-cell;*/
    display: inline-block;
}

.TableCell.shape img {
    float: left;
    margin-left: 10px;
}

.TableHeading {
    /*display: table-header-group;*/
   	background-color: #3d556d;
    display: flex;
}

.TableHead {
    font-size: 8px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    border-left: 1px solid #34485d;
    padding: 5px;
    text-transform: uppercase;  
    position: relative;
}

.TableFoot {
    /*display: table-footer-group;*/
   	font-weight: bold;
   	background-color: #ddd;
}

.TableBody {
    /*display: table-row-group;*/
}

.TableHead.head-watch, .TableCell.watch {
    width: 4.647160068846816%;
    max-width: 4.647160068846816%;
}

.TableHead.head-compare, .TableCell.comparison{
    width: 4.991394148020654%;
    max-width: 4.991394148020654%
}

.TableHead.head-shape, .TableCell.shape{
    width: 8.777969018932874%
}

.TableHead.head-mass, .TableCell.mass{
    width: 6.798623063683305%
}

.TableHead.head-color, .TableCell.color{
    width: 7.401032702237522%
}

.TableHead.head-clarity, .TableCell.clarity{
    width: 8.691910499139415%
}

.TableHead.head-certificat, .TableCell.certificat{
    width: 9.036144578313253%
}

.TableHead.head-availability, .TableCell.availability{
    width: 10.15490533562823%
}

.TableHead.head-symmetry, .TableCell.symmetry{
    width: 8.347676419965577%
}

.TableHead.head-cut, .TableCell.cut{
    width: 8.347676419965577%
}

.TableHead.head-polishing, .TableCell.polishing{
    width: 8.347676419965577%
}

.TableHead.head-price, .TableCell.price{
    width: 9.55249569707401%
}

.TableHead.head-cart, .TableCell.cart {
    width: calc(4.388984509466437% + 5px);
    text-align: left;
}

.TableHead .arrow {
    width: 10px;
    height: 5px;
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
}

.TableHead .arrow.up {
    background: url(assets/images/icons/sort-up.png) no-repeat;
}

.TableHead .arrow.down {
    background: url(assets/images/icons/sort-down.png) no-repeat;
}

.TableCell.cart,
.TableCell.remove {
    padding: 0;
}

.TableCell.remove a {
    height: 35px;
    background: url(assets/images/icons/remove.png) no-repeat center center;
    text-indent: -9999px;
    display: block;
    margin: 0 auto;
}

.TableCell.cart a {
    height: 42px;
    background: url(assets/images/icons/add-to-cart.png) no-repeat center center;
    text-indent: -9999px;
    display: block;
    outline: none;
}

.TableCell.cart:hover a,
.TableCell.cart a.active {
    background: #010020 url(assets/images/icons/add-to-cart-active.png) no-repeat center center;
}

.TableRow {
    border-bottom: 1px solid #d9d9d9;
}

.TableRow:nth-child(2n) {
    background: #f5f6f8;
}

.TableRow:hover {
    background: #e7e7e9;
}

.TableCell {
    font-size: 12px;
    color: #1f2b38;
    text-align: center;
    border-left: 1px solid #d9d9d9;
    padding: 8px 4px;
    height: 42px;
    line-height: 26px;
    vertical-align: middle;
}

.TableCell:last-child {
    border-right: 1px solid #d9d9d9;
}

.TableCell.watch input[type="checkbox"] + label span {
    background: url(assets/images/icons/star.png) left top no-repeat;
}

.TableCell.watch input[type="checkbox"]:checked + label span {
    background: url(assets/images/icons/star.png) -20px top no-repeat;
}

.TableCell.price {
    font-weight: bold;
}

.spinner {
    width: 40px;
    height: 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 999
}

.cube1, .cube2 {
    background-color: #3D556D;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 
    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 
    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 
    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}

/* Strona: Porównywarka */
#main.compare {
    padding-top: 20px
}

#main.compare .heading  {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#main.compare .heading h2 {
    font-size: 18px;
    color: #1f2b38;
    text-transform: uppercase;
}

#main.compare .heading .right {
    text-align: right;
    padding-top: 3px;
}

#main.compare .heading .right a:after {
    content: "";
    background: url(assets/images/icons/arrow.png) no-repeat left center;
    display: inline-block;
    width: 14px;
    height: 7px;
    margin-left: 10px;
}

#main.compare .result {
    padding-bottom: 25px;
}

#main.compare .result p {
    color: #3d556d;
}

#main.compare .result p span {
    font-weight: bold;
    font-size: 18px;
    color: #1f2b38;
    margin-right: 10px;
}

#main.compare .result a.remove {
    color: #000c36;
    font-style: italic;
    border: 2px solid #ecf0f1;
    display: block;
    padding: 8px 0;
    max-width: 175px;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

#main.compare .result a.remove:hover {
    color: #fff;
    background: #1f2b38;
    border: 2px solid #1f2b38;
}

/* Strona z kategoriami */
#main.page .category {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 20px;
}

#main.page .category ul {
    display: table;
    margin: 0 auto;
}

#main.page .category ul li {
    text-align: center;
    float: left;
}

#main.page .category ul li a {
    font-size: 14px;
    font-weight: bold;
    color: #888d9d;
    text-transform: uppercase;
    margin: 0 25px;
}

#main.page .category ul li a:hover,
#main.page .category ul li.active a {
    color: #2d3e50;
    position: relative;
}

#main.page .category ul li a:hover:after ,
#main.page .category ul li.active a:after {
    content: "";
    width: 16px;
    height: 9px;
    background: url(assets/images/icons/arrow.jpg) no-repeat;
    position: absolute;
    left: 50%;
    bottom: -30px;
    margin-left: -8px;
}

#main.page .content {
    padding-top:40px;
}

#main.page .content article ul li {
    font-weight: bold;
    text-transform: uppercase;
}

/* Kontakt */
#main.contact {
    padding-top: 60px;
    padding-bottom: 0px
}

#main.contact h2 {
    font-size: 18px;
    color: #010020;
    text-transform: uppercase;
}

#main.contact p {
    margin: 20px 0;
}

#main.contact p span {
    font-size: 12px;
}

#main.contact p a {
    font-weight: bold;
    text-decoration: underline;
}

#main.contact .investment {
    color: #888d9d;
}

/* Kontakt: Formularz kontaktowy */
#main.contact .form p {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#main.contact .form-group {
    margin-bottom: 20px;
}

#main.contact .form-group label {
    display: block;
    text-transform: uppercase;
    margin-bottom: 1px;
}

#main.contact .form-group input[type="text"],
#main.contact .form-group input[type="email"],
#main.contact .form-group textarea {
    width: 100%;
    border: 1px solid #c7c7cb;
    padding: 9px;
}

#main.contact .form-group input[type="submit"] {
    color: #fff;
    font-weight: bold;
    background: #010020;
    padding: 10px 50px;
    border: 0;
    text-transform: uppercase;
}

#main.contact .map-container {
    height: 320px;
    position: relative;
    margin-top: 40px;
}

#main.contact .map-container #googlemaps {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 0;
}

/* Reklamacje - accordion */
#main .accordion {
    padding: 0 15px;
    position: relative;
}

#main .accordion-group {
    border-top: 1px solid #d9d9d9;
}

#main .accordion-group h3 {
    font-size: 14px;
    color: #2d3e50;
    cursor: pointer;
    padding: 20px 5px;
}

#main .accordion-group span {
    width: 13px;
    height: 13px;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -6.5px;
}

#main .accordion-group .accordion-open span {
    background: url(assets/images/icons/open.png) no-repeat;
}

#main .accordion-group .accordion-close span {
    background: url(assets/images/icons/close.png) no-repeat;
}

#main .accordion-group .accordion-content {
    padding: 0px 15px 15px 15px;
}

#main .accordion-group .accordion-content p {
    color: #888d9d;
    margin: 0;
}

#main .accordion-group .accordion-content ul {
    padding-left: 100px;   
}

#main .accordion-group .accordion-content ul li {
    padding: 1px 0;
}

/* Poradnik */
#main.guide .category {
    padding-bottom: 10px;
}

#main.guide .category ul {
    display: table;
    margin: 0 auto;
}

#main.guide .category ul li {
    text-align: center;
    float: left;
}

#main.guide .category ul li a {
    font-size: 12px;
    color: #888d9d;
    text-transform: uppercase;
    margin: 0 35px;
}

#main.guide .category ul li a:hover,
#main.guide .category ul li.active a {
    color: #2d3e50;
}

#main.guide .column {
    padding-top: 30px;
    padding-bottom: 30px;
}

#main.guide .column p {
    margin-top: 25px;
}

#main.guide .content {
    padding-bottom: 30px;
}

#main.guide article header {
    margin-top: 20px;
}

/* Poradnik kategorie - dół */
#main.guide .guide-category {
    padding-top: 40px;
    padding-bottom: 40px;
}

#main.guide .guide-category figure {
    position: relative;
}

#main.guide .guide-category figcaption {
    font-size: 12px;
    color: #888d9d;
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

#main.guide .guide-category .item {
    padding-left: 11px;
    padding-right: 11px;
}

#main.guide .guide-category .item img {
    border: 1px solid #dbdde1;
}

#main.guide .guide-category .item:hover img {
    border: 1px solid #3d556d;
}

#main.guide .guide-category .item:hover figcaption {
    color: #1f2b38;
}

#main.guide .service {
    padding-bottom: 40px;
}

#main.guide #guide-bg {
    background: #e7e9eb url(assets/images/guide-bg.jpg) no-repeat right center;
    margin-bottom: 20px;
}

#main.guide #guide-bg p {
    max-width: 440px;
    line-height: 24px;
    padding-top: 90px;
    padding-bottom: 90px;
}

/* Logowanie */
#main.login h2,
#main.register h2 {
    font-size: 18px;
    font-weight: bold;
    color: #2d3e50;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#main.login form,
#main.register form {
    width: 84%;
    padding-top: 20px;
}

#main.login .form-group,
#main.register .form-group,
#main.cart.steps .form-group {
    margin-bottom: 20px;
}

#main.login .form-group label,
#main.cart.steps .form-group label {
    color: #888d9d;
    cursor: pointer;
}

#main.login .form-group input[type="text"],
#main.login .form-group input[type="email"],
#main.login .form-group input[type="password"],
#main.register .form-group input[type="text"],
#main.register .form-group input[type="email"],
#main.register .form-group input[type="password"],
#main.register .form-group select,
#main.cart.steps .form-group input[type="text"],
#main.cart.steps .form-group input[type="email"],
#main.cart.steps .form-group input[type="password"],
#main.cart.steps .form-group select {
    color: #888d9d;
    width: 100%;
    border: 1px solid #d9d9d9;
    padding: 9px;
}

#main.login .form-group input[type="checkbox"] + label span,
#main.register .form-group input[type="checkbox"] + label span,
#main.cart.steps .form-group input[type="checkbox"] + label span {
    margin: -2px 10px 0 0;
}

#main.login .form-group input[type="submit"],
#main.register .form-group input[type="submit"],
#main.cart.steps .form-group input[type="submit"] {
    color: #fff;
    background: #010020;
    padding: 9px 50px;
    border: 0;
    margin-top: 20px;
}

#main.login .form-group input[type="submit"]:hover,
#main.register .form-group input[type="submit"]:hover,
#main.cart.steps .form-group input[type="submit"]:hover {
    background: #1f2b38;
}

/* Logowanie: Nowości */
#main.login .bx-wrapper .desc:after,
#main.register .bx-wrapper .desc:after {
    content: "";
    width: 5px;
    background: url(assets/images/icons/sep.jpg) repeat-y;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin-left: -5px;
}
#main.login .bx-wrapper,
#main.register .bx-wrapper {
    border: 1px solid #d9d9d9;
    padding: 20px;
}

#main.login .bx-wrapper .image img,
#main.register .bx-wrapper .image img {
    display: block;
    margin: 0 auto;
}

#main.login .bx-wrapper .desc,
#main.register .bx-wrapper .desc {
    padding-left: 30px;
    padding-right: 30px;
}

#main.login .bx-wrapper h3,
#main.register .bx-wrapper h3 {
    font-size: 12px;
    color: #2d3e50;
    text-transform: uppercase;
}

#main.login .bx-wrapper p,
#main.register .bx-wrapper p {
    font-size: 12px;
    color: #888d9d;
    line-height: 16px;
}

#main.login .bx-wrapper p.price,
#main.register .bx-wrapper p.price {
    font-size: 14px;
    font-weight: bold;
    color: #2d3e50;
    margin-top: 10px;
    margin-bottom: 5px;
}

#main.login .bx-wrapper a,
#main.register .bx-wrapper a {
    font-weight: bold;
    color: #2d3e50;
    display: block;
    margin-top: 10px;
}

/* Rejestracja */
#main.register p.info {
    max-width: 84%;
    font-size: 12px;
    font-style: italic;
    line-height: 16px;
    color: #888d9d;
}

#main.register .form-group {
    margin-bottom: 10px;
}

#main.register .form-group label {
    display: block;
}

#main.register .form-group.rule label {
    white-space: nowrap;
}

#main.register .form-group .required,
#main.cart.steps .form-group .required {
    color: #f04849;
}

#main.register .form-group p,
#main.cart.steps .form-group p {
    font-size: 12px;
    color: #888d9d;
    margin-top: 15px;
    margin-bottom: 15px;
}

#main.register .form-group input[type="checkbox"] + label span {
    background: url(assets/images/icons/additional.png) left top no-repeat;
}

#main.register .form-group input[type="checkbox"]:checked + label span {
    background: url(assets/images/icons/additional.png) -20px top no-repeat;
}

#main.register #additional-form {
    border-top: 1px solid #d9d9d9;
}

#main.register #additional-form h3 {
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 25px;
}

#main.register .form-group.additional {
    margin-top: 40px;
    margin-bottom: 40px;
}

#main.register .form-group input[type="submit"] {
    width: 100%;
    display: block;
}

/* About */
#main.about {
    padding-top: 0;
}

#main.about #about-1 {
    background: url(assets/images/about-bg-1.jpg) no-repeat center center;
    margin-bottom: 60px;
}

#main.about #about-1 h1 {
    font-size: 24px;
    color: #2d3e50;
    text-transform: uppercase;
    line-height: 30px;
    height: 300px;
    display: table-cell;
    vertical-align: middle;
}

#main.about #about-2 {
    background: url(assets/images/about-bg-2.jpg) no-repeat;
    margin-top: 60px;
    margin-bottom: 60px;
    background-position: center top;
}

#main.about #about-2 p {
    height: 400px;
    display: table-cell;
    vertical-align: middle;
}

#main.about #about-3 {
    background: url(assets/images/about-bg-3.jpg) no-repeat center center;
    margin-top: 60px;
    margin-bottom: 60px;
}

#main.about #about-3 p {
    width: 1090px;
    max-width: 100%;
    height: 400px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#main.about #about-3 a {
    font-size: 12px;
    color: #3d556d;
}

#main.about #about-3 a:before {
    content: "";
    width: 53px;
    height: 53px;
    background: url(assets/images/play.png) no-repeat;
    display: block;
    margin: 30px auto;
}

#main.about p {
    line-height: 24px;
}

/* Sklep: Produkt */
#main.product .images {
    
}

#main.product .images .thumbnail figure {
    border: 1px solid #d9d9d9;
    padding: 90px;
}

#main.product .images .thumbnail figure img {
    display: block;
    margin: 0 auto;
}

#main.product .images .thumbnail-gallery  {
    margin-top: 7.5px;
}

#main.product .images .thumbnail-gallery a {
    width: 78px;
    height: 78px;
    line-height: 78px;
    text-align: center;
    border: 1px solid #d9d9d9;
    display: inline-block;
    margin: 7.5px;
}

#main.product .images .thumbnail-gallery a img {
    max-width: 41px;
}

#main.product .images .thumbnail-gallery a.first {
    margin-left: 0px;
}

#main.product .images .thumbnail-gallery a.last {
    margin-right: 0px;
}

#main.product .images .thumbnail-gallery a:hover {
    border: 1px solid #3d556d;
}

#main.product .detail .summary h1 {
    font-size: 18px;
    color: #2d3e50;
    text-transform: uppercase;
}

#main.product .detail .summary .amount {
    margin-top: 15px;
    margin-bottom: 15px;
}

#main.product .detail .summary .amount p {
    font-size: 24px;
    font-weight: bold;
    color: #2d3e50;
}

#main.product .detail .summary .amount p span {
    font-size: 14px;
    font-weight: normal;
}

#main.product .detail .summary input[type="checkbox"] + label {
    color: #000c36;
    cursor: pointer;
    white-space: nowrap
}

#main.product .detail .summary input[type="checkbox"] + label span {
        margin: 5px 10px 5px 0;
}

#main.product #addtocart {
    padding-top: 20px;
    float: right;
}

#main.product #addtocart p.price {
    font-size: 12px;
    color: #888d9d;
    text-align: center;
    margin-bottom: 3px;
}

#main.product #addtocart .qtyminus,
#main.product #addtocart .qtyplus {
    width: 38px;
    height: 38px;
    border: 1px solid #d9d9d9;
    float: left;
}

#main.product #addtocart .qtyminus {
    background: #fff url(assets/images/product/qtyminus.png) no-repeat center center;
}

#main.product #addtocart .qtyplus {
    background: #fff url(assets/images/product/qtyplus.png) no-repeat center center;
}

#main.product #addtocart .qty {
    width: 99px;
    height: 38px;
    padding: 0 10px;
    border: 0;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    float: left;
}

#main.product #addtocart button {
    width: 175px;
    color: #fff;
    border: 0;
    background: #010020;
    text-transform: uppercase;
    padding: 10px 0;
    margin-top: 20px;
}

#main.product .delivery {
    padding-top: 30px;
    padding-bottom: 20px;
}

#main.product .delivery .background {
    background: #f2f2f2;
    padding: 10px 20px;
    position: relative;
}

#main.product .delivery .background p:before {
    content: "";
    width: 31px;
    height: 18px;
    background: url(assets/images/product/delivery.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

#main.product .delivery .background .info {
    position: absolute;
    top: 50%;
    margin-top: -7.5px;
    right: 15px;
}

#main.product .meta {
    padding: 0 15px;
}

#main.product .meta h2 {
    color: #2d3e50;    
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#main.product .meta ul {
    margin-bottom: 25px;
}

#main.product .meta ul li {
    width: 100%;
    border-bottom: 1px solid #ecf0f1;
    overflow: hidden;
    padding-top: 3px;
    padding-bottom: 3px;
}

#main.product .meta ul li .value {
    color: #888d9d;
    float: left;
}

#main.product .meta ul li .key {
    font-weight: bold;
    float: right;
}

#main.product .meta .rmore {
    font-size: 14px;
    font-weight: bold;
    color: #2d3e50;
    display: block;
    margin: 8px 0;
}

#main.product .meta .rmore:after {
    content: "";
    height: 11px;
    width: 6px;
    background: url(assets/images/product/arrow.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px; 
}

#main.product .meta button,
#main.product .description .guide {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    color: #2d3e50;
    background: #fff;
    text-transform: uppercase;
    padding: 9px 0;
    border: 1px solid #d9d9d9;
    margin-top: 15px;
    display: block;
    text-align: center;
}

#main.product .meta button:hover,
#main.product .description .guide:hover {
    color: #fff;
    background: #2d3e50;
}

#main.product .description {
    padding-top: 35px;
}

#main.product .description:before {
    content: "";
    width: 100%;
    max-width: 764px;
    height: 15px;
    background: url(assets/images/product/line.png) center top;
    display: block;
    margin: 0 auto 25px auto;
}

#main.product .description article {
    padding-bottom: 60px;
}

#main.product .description article h3 {
    font-size: 18px;
    color: #2d3e50;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
}

#main.product .description .guide {
    max-width: 370px;
    margin: 30px auto;
}

/* Sklep: Product - diamond size */
#main.product .diamond-size:after {
    content: "";
    width: 765px;
    height: 15px;
    background: url(assets/images/product/size/scale.png);
    display: block;
    clear: both;
    margin-top: 20px;
}

#main.product .diamond-size .size {
    float: left;
    width: 80px;
    height: 100px;
    position: relative;
    margin-bottom: 10px;
}

#main.product .diamond-size #indicator {
    width: 192px;
    height: 68px;
    background: url(assets/images/product/size/indicator.png);
    position: absolute;
    left: 15px;
    bottom: -92px;
}

#main.product .diamond-size #indicator span {
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    line-height: 68px;
    padding-left: 15px;
}

#main.product .diamond-size .size.grosz {
    width: 98px;
    padding-right: 21px;
}

#main.product .diamond-size .size.grosz figure figcaption {
    padding-left: 10px;
}

#main.product .diamond-size .size figure {
    position: absolute;
    left: 0;
    bottom: 0;
}

#main.product .diamond-size .size figure img {
    display: block;
    margin: 5px auto;
}

#main.product .diamond-size .size figcaption {
    font-size: 12px;
    color: #3d556d;
    padding-left: 20px;
}

#main.product .diamond-size .size figcaption span {
    color: #888d9d;
    display: block;
}

/* Sklep: Product - diamond color */
#main.product .diamond-color:after {
    content: "";
    width: 765px;
    height: 46px;
    background: url(assets/images/product/color/scale.png);
    display: block;
    clear: both;
    margin-top: 20px;
}

#main.product .diamond-color .color {
    width: 11.1111%;
    float: left;
}

#main.product .diamond-color .color figure {
    text-align: center;
    height: 120px;
    padding: 7px 0;
}

#main.product .diamond-color .color.active figure {
    outline: 1px solid #6b7d8f;
}

#main.product .diamond-color .color.active figure:after {
    content: "";
    width: 54px;
    height: 20px;
    background: url(assets/images/product/color/selected.png);
    display: block;
    margin: 10px auto 0 auto;
}

#main.product .diamond-color .color figcaption {
    padding-bottom: 5px;
}

/* Sklep: Product - diamond clarity */
#main.product .diamond-clarity .clarity {
    width: 10%;
    float: left;
}

#main.product .diamond-clarity .clarity figure {
    text-align: center;
    height: 120px;
    padding: 7px 0;
    position: relative;
}

#main.product .diamond-clarity .clarity.active figure img {
    border: 3px solid #3d556d;
    border-radius: 50%;
    padding: 3px;
    background-clip: content-box;
}

#main.product .diamond-clarity .clarity.active figure:after {
    content: "";
    width: 54px;
    height: 20px;
    background: url(assets/images/product/color/selected.png);
    display: block;
    margin: 10px auto 0 auto;
}

#main.product .diamond-clarity .clarity figcaption {
    padding-bottom: 10px;
}

/* Sklep: Koszyk */
#main.cart .heading {
    padding-bottom: 25px;
}

#main.cart .heading .left h1 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

#main.cart .heading .right {
    text-align: right;
}

#main.cart .heading .right a {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 5px;
    display: block;
}

#main.cart .heading .right a::after {
    content: "";
    background: url(assets/images/cart/arrow.png) no-repeat right center;
    display: inline-block;
    width: 15px;
    height: 8px;
    margin-left: 10px;
}

#main.cart .cart-table table {
    color: #2d3e50;
    width: 100%;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}

#main.cart .cart-table table thead {
    border-bottom: 1px solid #d9d9d9;
}

#main.cart .cart-table table thead tr th {
    font-size: 12px;
    font-weight: normal;
    color: #2d3e50;
    border-right: 1px solid #d9d9d9;
    padding: 11px 15px;
    text-align: center;
}

#main.cart .cart-table table thead tr th.product-name {
    text-align: left;
}

#main.cart .cart-table table tbody tr {
    border-bottom: 1px dashed #d9d9d9;
}

#main.cart .cart-table table tbody tr:last-child {
    border-bottom: 0;
}

#main.cart .cart-table table tbody tr td {
    padding: 20px;
    text-align: center;
    white-space: nowrap;
    position: relative;
}

#main.cart .cart-table table tbody tr td:before {
    content: "";
    width: 1px;
    height: 100px;
    background: #d9d9d9;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    right: 0
}

#main.cart .cart-table table tbody tr td.product-name {
    font-size: 12px;
    text-align: left;
    white-space: normal;
}

#main.cart .cart-table table tbody tr td.product-name img {
    border: 1px solid #d9d9d9;
    max-width: 138px;
}

#main.cart .cart-table table tbody tr td.product-name .product-detail {
    overflow: hidden;
}

#main.cart .cart-table table tbody tr td.product-name h2,
#main.cart .cart-table table tbody tr td.product-name h2 a {
    font-size: 14px;
    color: #2d3e50;
    text-transform: uppercase;
    margin: 15px 0;
}

#main.cart .cart-table table tbody tr td.product-quantity {
    width: 215px;
}

#main.cart .cart-table table tbody tr td.product-quantity .qtyminus,
#main.cart .cart-table table tbody tr td.product-quantity .qtyplus {
    width: 38px;
    height: 38px;
    border: 1px solid #d9d9d9;
    float: left;
}

#main.cart .cart-table table tbody tr td.product-quantity .qtyminus {
    background: #fff url(assets/images/product/qtyminus.png) no-repeat center center;
}

#main.cart .cart-table table tbody tr td.product-quantity .qtyplus {
    background: #fff url(assets/images/product/qtyplus.png) no-repeat center center;
}

#main.cart .cart-table table tbody tr td.product-quantity .qty {
    width: 97px;
    height: 38px;
    padding: 0 10px;
    border: 0;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    float: left;
}

#main.cart .cart-table table tbody tr td.product-value {
    font-weight: bold;
}

#main.cart .cart-table table tbody tr td.product-remove:before {
    display: none;
}

#main.cart .cart-table table tbody tr td.product-remove a {
    width: 20px;
    height: 20px;
    background: url(assets/images/cart/remove.png) center center;
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
}

#main.cart .cart-subtotal .content {
    background-image: url(assets/images/cart/separator.jpg), url(assets/images/cart/separator.jpg);
    background-repeat: repeat-x, repeat-x;
    background-position: left top, left bottom;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    padding: 45px 35px;
}

#main.cart .cart-subtotal .content .name {
    padding-top: 5px;
}

#main.cart .cart-subtotal .content .name h3 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

#main.cart .cart-subtotal .content .name .info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

#main.cart .cart-subtotal .content .detail {
    text-align: right;
}

#main.cart .cart-subtotal .content .left .detail {
    padding-top: 5px;
    position: relative;
}

#main.cart .cart-subtotal .content .left .detail:before {
    content: "";
    width: 1px;
    height: 80px;
    background: #d9d9d9;
    position: absolute;
    top: 50%;
    right: -15px;
    margin-top: -40px;
}

#main.cart .cart-subtotal .content .detail span {
    font-weight: bold;
}

#main.cart .cart-subtotal .content .detail .price {
    font-size: 20px;
    text-transform: uppercase;
}

/* Sklep: User Area */
#main.cart .user-area {
    padding-top: 30px;
    padding-bottom: 30px
}

#main.cart .user-area h4 {
    font-size: 14px;
    font-weight: bold;
    color: #010020;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#main.cart .user-area .login input[type="text"],
#main.cart .user-area .login input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #d9d9d9;
    margin-bottom: 20px;
}

#main.cart .user-area .login input[type="checkbox"] + label span {
    margin-right: 10px;
}

#main.cart .user-area .login input[type="submit"] {
    width: 175px;
    color: #fff;
    border: 0;
    background: #010020;
    padding: 10px 0;
    display: block;
    margin: 20px 0;
}

#main.cart .user-area p {
    font-size: 12px;
    color: #888d9d;
    min-height: 120px;
}

#main.cart .user-area .buy-reg a,
#main.cart .user-area .buy-not-reg a {
    width: 275px;
    font-size: 14px;
    font-weight: bold;
    color: #3d556d;
    text-transform: uppercase;
    text-align: center;
    border: 3px solid #d9d9d9;
    display: block;
    margin: 20px auto 0 auto;
    padding: 6px 0;
}
#main.cart .user-area .buy-not-reg a  {
    color: #fff;
    border: 3px solid #3d556d;
    background: #3d556d;
}

#main.cart .user-area .buy-reg a:hover,
#main.cart .user-area .buy-not-reg a:hover {
    color: #fff;
    background: #1f2b38;
    border: 3px solid #1f2b38;
}

/* Sklep: Koszyk :: step 1 */
#main.cart.steps .step-content .heading {
    padding-bottom: 0;
}

#main.cart.steps #step-container .tab { 
    font-size: 14px;
    color: #888d9d;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #d9d9d9; 
    padding: 10px 0;
}

#main.cart.steps #step-container .tab.active { 
    color: #3d556d;
    font-weight: bold;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 0px;
}

#main.cart.steps #step-container .panel-container .name h2 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#main.cart.steps #step-container .panel-container { 
    border-left: 1px solid #d9d9d9; 
    border-right: 1px solid #d9d9d9; 
    border-bottom: 1px solid #d9d9d9; 
    clear: both;
    overflow: hidden;
    padding: 30px 30px 15px 30px;
}

#main.cart.steps #step-container .panel-container .blank {
    padding-bottom: 62px;
}

#main.cart.steps .form-group input[type="checkbox"]:checked + label span {
    background: url(assets/images/icons/additional.png) -20px top no-repeat;
}

#main.cart.steps #additional-form {
    padding-bottom: 15px;
}

#main.cart.steps .form-group.rule {
    padding-top: 30px;
    padding-bottom: 0px;
    border-top: 1px solid #d9d9d9;
}

#main.cart.steps .actions {
    padding-bottom: 30px;
    margin-top: 20px;
}

#main.cart.steps .actions a {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    max-width: 270px;
    display: block;
    text-align: center;
    padding: 7px;
    position: relative;
}

#main.cart.steps .actions .continue a {
    border: 3px solid #d9d9d9 ;
}

#main.cart.steps .actions .continue a:before {
    content: "";
    width: 5px;
    height: 8px;
    background: url(assets/images/cart/bullet.png);
    position: absolute;
    top: 50%;
    left: 25px;
    margin-top: -4px;
}

#main.cart.steps .actions .continue a:hover:before {
    content: "";
    background-position: 0 -8px;
}

#main.cart.steps .actions .continue a:hover,
#main.cart.steps .actions .nextstep a:hover {
    color: #fff;
    background: #1f2b38;
    border: 3px solid #1f2b38;
}

#main.cart.steps .actions .nextstep a {
    color: #fff;
    background: #3d556d;
    border: 3px solid #3d556d;
    float: right;
}

#main.cart.steps .actions .nextstep a:after {
    content: "";
    width: 5px;
    height: 8px;
    background: url(assets/images/cart/bullet-1.png);
    position: absolute;
    top: 50%;
    right: 25px;
    margin-top: -4px;
}

#main.cart.steps .actions .nextstep a:hover:after {
    content: "";
    background: url(assets/images/cart/bullet-1.png);
}

#main.cart.steps .actions .thanks {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    background: #3d556d;
    text-align: center;
    padding: 17px;
    margin-bottom: 20px;
}

/* Sklep: Koszyk :: step 2 */
#main.cart.steps .step-2 .user-detail .sep {
    width: 100%;
    height: 1px;
    background: #d9d9d9;
    display: block;   
    margin-top: 30px;  
    margin-bottom: 15px;       
}

#main.cart.steps .step-2 .user-detail .detail h2 {
    color: #2d3e50;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#main.cart.steps .step-2 .user-detail .detail p {
    color: #888d9d;
}

#main.cart.steps .step-2 #step-container .panel-container form .content {
    padding: 0 60px;
}

#main.cart.steps .step-2 #step-container .panel-container form h3 {
    color: #2d3e50;
    text-transform: uppercase;
    margin: 15px 0;
}

#main.cart.steps .step-2 #step-container .panel-container form .form-country label {
    color: #2d3e50;
    height: 41px;
    line-height: 41px;
    padding-left: 0;
}

#main.cart.steps .step-2 #step-container .panel-container form .form-country select {
    width: 33.333%;
}

#main.cart.steps .step-2 #step-container .panel-container form input[type="radio"] + label {
    color: #2d3e50;
}

#main.cart.steps .step-2 #step-container .panel-container form input[type="radio"] + label span {
    margin: -2px 15px 0 0;
}

#main.cart.steps .step-2 #step-container .panel-container form input[type="radio"]:checked + label {
    color: #2d3e50;
    font-weight: bold;
}

#main.cart.steps .step-2 #step-container .panel-container form input[type="radio"] + label i {
    width: calc(100% - 35px);
    display: inline-block;
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 0;
}

#main.cart.steps .step-2 #step-container .panel-container form input[type="radio"] + label i abbr {
    float: right;
}

#main.cart.steps .step-2 #step-container .panel-container form .form-payment ul li,
#main.cart.steps .step-2 #step-container .panel-container form .form-invoice ul li  {
    width: 33.333%;
    float: left;
}

#main.cart.steps .step-2 #step-container .panel-container form .form-payment input[type="radio"] + label i,
#main.cart.steps .step-2 #step-container .panel-container form .form-invoice input[type="radio"] + label i {
    width: auto;
    display: inline-block;
    border-bottom: 0;
    padding: 10px 0;
}

#main.cart.steps .step-2 .cart-comments {
    padding-top: 30px;
}

#main.cart.steps .step-2 .cart-comments h3 {
    color: #2d3e50;
    text-transform: uppercase;
    padding-bottom: 15px;
}


#main.cart.steps .step-2 .cart-comments textarea {
    width: 100%;
    max-width: 470px;
    border: 1px solid #d9d9d9;
    padding: 15px;
}

#main.cart.steps .step-2 .cart-total {
    padding-top: 30px;
}

#main.cart.steps .step-2 .cart-total table {
    width: 100%;
}

#main.cart.steps .step-2 .cart-total table tr.cart-total {
    background: #f2f2f2;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

#main.cart.steps .step-2 .cart-total table tr.cart-delivery td:nth-child(2) {
    font-weight: normal;
}

#main.cart.steps .step-2 .cart-total table tr td {
    font-size: 18px;
    font-weight: bold;
    color: #3d556d;
    padding: 25px;
}

#main.cart.steps .step-2 .cart-total table tr td:nth-child(2) {
    text-align: right;
}

/* Sklep: Koszyk :: step 3 */
#main.cart.steps .step-3 #step-container .panel-container {
    padding: 15px 0;
    background-image: url(assets/images/cart/separator.jpg);
    background-repeat: repeat-x;
    background-position: left bottom;
    border-bottom: 0;
}

#main.cart.steps .step-3 #step-container .panel-container .name {
    padding: 15px 40px;
}

#main.cart.steps .step-3 #step-container .panel-container .name p {
    font-size: 14px;
    font-weight: bold;
    color: #3d556d;
}

#main.cart.steps .step-3 #step-container .panel-container table {
    width: 100%;
    border-top: 1px solid #d9d9d9;
}

#main.cart.steps .step-3 #step-container .panel-container table thead {
    border-bottom: 2px solid #d9d9d9;
}

#main.cart.steps .step-3 #step-container .panel-container table thead tr th {
    font-size: 12px;
    font-weight: normal;
    color: #2d3e50;
    border-right: 1px solid #d9d9d9;
    padding: 11px 40px;
    text-align: center;
}

#main.cart.steps .step-3 #step-container .panel-container table thead tr th.product-name {
    width: 60%;
    text-align: left;
}

#main.cart.steps .step-3 #step-container .panel-container table thead tr th:last-child {
    border-right: 0;
}

#main.cart.steps .step-3 #step-container .panel-container table tbody tr {
    border-bottom: 1px dashed #d9d9d9;
}

#main.cart.steps .step-3 #step-container .panel-container table tbody tr:last-child {
    border-bottom: 0;
}

#main.cart.steps .step-3 #step-container .panel-container table tbody tr td {
    padding: 20px 40px;
    text-align: center;
}

#main.cart.steps .step-3 #step-container .panel-container table tbody tr td.product-name {
    text-align: left;
}

#main.cart.steps .step-3 #step-container .panel-container table tbody tr td.product-name a {
    text-transform: uppercase;
}

#main.cart.steps .step-3 #step-container .panel-container table tbody tr td.product-price {
    font-weight: bold;
}

#main.cart.steps .step-3 #step-container .panel-container .cart-subtotal .content {
    background-image: url(assets/images/cart/separator.jpg);
    background-repeat: repeat-x;
    background-position: left top;
    overflow: hidden;
    border-left: 0;
    border-right: 0;
    padding: 6px 0 0 0;
}

#main.cart.steps .step-3 #step-container .panel-container .cart-subtotal .content .item {
    padding: 20px 40px;
    border-bottom: 1px solid #d9d9d9;
}

#main.cart.steps .step-3 #step-container .panel-container .cart-subtotal .content .item.total {
    background: #f2f2f2;
    border-bottom: 1px solid #d9d9d9;
}

#main.cart.steps .step-3 #step-container .panel-container .cart-subtotal .content .item:last-child .right {
    font-size: 20px;
    font-weight: bold;
}

#main.cart.steps .step-3 #step-container .panel-container .cart-subtotal .content .item .left {
    font-size: 18px;
    font-weight: bold;
    color: #3d556d;
}

#main.cart.steps .step-3 #step-container .panel-container .cart-subtotal .content .item .right {
    text-align: right;
}

#main.cart.steps .step-3 #step-container .panel-container .cart-subtotal .resume-detail {
    padding: 0 40px;
}

#main.cart.steps .step-3 #step-container .panel-container .cart-subtotal .detail-group {
    margin: 25px 0;
}

#main.cart.steps .step-3 #step-container .panel-container .cart-subtotal .detail-group h3 {
    font-weight: bold;
    text-transform: uppercase;
    color: #3d556d;
}

#main.cart.steps .step-3 #step-container .panel-container .cart-subtotal .resume-info {
    border-top: 1px solid #d9d9d9;
    padding: 15px 40px 0px 40px;
}

#main.cart.steps .step-3 #step-container .panel-container .cart-subtotal .resume-info p {
    margin: 10px 0;
    color: #888d9d;
}

/* Sklep: Koszyk : Aside */
#main.cart.steps .mini-cart aside {
    border: 1px solid #d9d9d9;
}

#main.cart.steps .mini-cart aside .aside-heading {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #d9d9d9;
}

#main.cart.steps .mini-cart aside .aside-heading h2 {
    color: #3d556d;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 20px;
    display: inline-block
}

#main.cart.steps .mini-cart aside .aside-heading .aside-heading-right {
    float: right
}

#main.cart.steps .mini-cart aside .aside-heading .aside-heading-right p {
    float: left;
    padding-right: 10px;
}

#main.cart.steps .mini-cart aside .aside-heading .aside-heading-right a {
    width: 36px;
    height: 39px;
    background: url(assets/images/cart/edit.jpg) no-repeat;
    float: left;
    text-indent: -9999px;
}

#main.cart.steps .mini-cart aside .aside-content .mini-cart-item {
    background: url(assets/images/cart/separator.jpg) repeat-x left bottom;
}

#main.cart.steps .mini-cart aside .aside-content ul,
#main.cart.steps .mini-cart aside .aside-content .mini-cart-total {
    padding: 15px;
}

#main.cart.steps .mini-cart aside .aside-content li {
    border-bottom: 1px dashed #d9d9d9;
    padding: 15px 0;
}

#main.cart.steps .mini-cart aside .aside-content li:first-child {
    padding-top: 0;
}

#main.cart.steps .mini-cart aside .aside-content li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

#main.cart.steps .mini-cart aside .aside-content .mini-cart-item li img {
    max-width: 38px;
    border: 1px solid #d9d9d9;
    float: left;
    margin-right: 15px;
}

#main.cart.steps .mini-cart aside .aside-content .mini-cart-item li .item-content {
    overflow: hidden;
}

#main.cart.steps .mini-cart aside .aside-content .mini-cart-item li .item-content h3 a {
    font-size: 12px;
    color: #2d3e50;
    text-transform: uppercase;
}

#main.cart.steps .mini-cart aside .aside-content .mini-cart-item li .item-content p {
    font-size: 12px;
    color: #2d3e50;
    margin: 3px 0;
}

#main.cart.steps .mini-cart aside .aside-content .mini-cart-item li .item-content p .amount {
    font-size: 14px;
    font-weight: bold;
    display: block;
}

#main.cart.steps .mini-cart aside .aside-content  span {
    font-size: 18px;
    font-weight: bold;
}

#main.cart.steps .mini-cart aside .aside-content .mini-cart-total {
    background: #f2f2f2;
    border-top: 1px solid #d9d9d9;
}


/* FAQ */
#main.cart .faq {
    padding-top: 20px;
    padding-bottom: 20px;
}
#main.cart .faq .heading {
    font-size: 18px;
    color: #2d3e50;
    text-transform: uppercase;
    padding-bottom: 20px;
}


/* Footer */
#footer {
    background: url(assets/images/footer/bg.jpg) repeat;
    padding-top: 30px;
}

#footer .social {
    padding-top: 60px;
}

#footer .social li {
    float: left;
    margin-right: 12px;
}

#footer .social li:last-child {
    margin-right: 0;
}

#footer .menu h3 {
    color: #fff;
    text-transform: uppercase;
}

#footer .menu h3:after {
    content: "";
    width: 78px;
    height: 1px;
    background: #9ea2c1;
    display: block;
    margin-top: 5px;
    margin-bottom: 2px;
}

#footer .menu ul li {
    padding: 2px 0;
}

#footer .menu ul li a {
    color: #9194b3;
}

#footer .menu ul li a:hover {
    color: #7d80a3;
}

#footer .bottom {
    border-top: 1px solid #4f5170;
    border-bottom: 1px solid #282848;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
}

#footer .right {
    text-align: right;
}

#footer .bottom .right a {
    margin-left: 10px;
}

#footer .copyright {
    color: #53516a;
    padding-bottom: 15px;
}

#footer .copyright a {
    color: #53516a;
}

/* Cookies */
#cookies-message {
    font-size: 14px;
    font-style: italic;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    background-color: #fff;
    width: 100%;
    z-index: 999;
    color: #3d556d;
    -webkit-box-shadow: 0px 4px 23px 0px rgba(196,196,196,1);
    -moz-box-shadow: 0px 4px 23px 0px rgba(196,196,196,1);
    box-shadow: 0px 4px 23px 0px rgba(196,196,196,1);
}

#cookies-message a {
    color: #3d556d;
}

#cookies-message #accept-cookies-checkbox {
    width: 20px;
    height: 20px;
	cursor: pointer;
    background: url(assets/images/icons/accept.png) no-repeat;
    display: inline-block;
    margin-left: 20px;
    text-indent: -9999px;
}

.cookie #footer {
	padding-bottom: 60px;
}

/* Pomocniczne */
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 0px 25px 0px 25px;
}

.alignleft {
    float: left;
    margin: 0px 25px 0px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 25px 25px;
}

a img.alignnone {
    margin: 5px 25px 25px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 25px 25px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}