body {
	font-family: "Lato",sans-serif;
}
nav.main-navbar {
	padding-top: 20px;
	border-bottom: 1px solid #eee;
	margin-bottom: 0px;
}
#navbar {
	margin-right: -15px;
	margin-left: -15px;
}
.full-box {
	margin-right: -15px;
	margin-left: -15px;
}
.logo-container {
	text-align: center;
}
.btn-yes {
  background-color: #006e63;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 14px 15px !important;
  border: 0;
  color: #fff;
  font-size: 14px;
  font-family: "Lato",sans-serif;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  letter-spacing: 0.1em !important;
	margin: 0 0 22px 0;
}

.btn-yes:hover, .btn-yes:focus {
	background-color: #006e63 !important;
	color: #fff;
	text-decoration: none;
}

.section-heading {
	font-weight: normal;
	text-align: center;
}
.section-img {
	width:100%;
	margin-bottom:20px;
	cursor: pointer;
}
.page-content {
	display: none;
}
#back-btn {
	display: none;
}
.clickable {
	cursor: pointer;
}
#choose-diamond {
	display: none;
}
.product-images {
	display: none;
}
.big-price {
	font-size: 36px;
	margin-top: 20px;
	margin-bottom: 10px;
  font-weight: 600;
  line-height: 1.1;
}