/* General styles for the modal */

/* 
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the 
perspective effects (not including the modals and the overlay).
*/
.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body  {
	background: #222;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}

.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 415px;
	min-width: 320px;
	height: auto;
	z-index: 10000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 9999;
	opacity: 0;
	background: rgba(0,0,0,0.9);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

/* Content styles */
.md-content {
	background: #fff;
	position: relative;
	margin: 0 auto;
    padding: 22px;
    overflow: hidden;
}

.md-content h3 {
    font-weight: bold;
    text-align: center;
    color: #2d3e50;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.md-content input[type="text"],
.md-content input[type="email"],
.md-content textarea {
    max-width: 100%;
    color: #888d9d;
    width: 100%;
    border: 1px solid #d9d9d9;
    padding: 9px;
    margin-bottom: 20px;
}

.md-content input[type="submit"] {
    color: #fff;
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 175px;
    background: #010020;
    padding: 10px;
    border: 0;
}

.md-content input[type="submit"]:hover {
    background: #263443;
}

.md-content .md-added-product img {
    border: 1px solid #d9d9d9;
    padding: 10px;
}

.md-content .md-added-product-content {
    color: #2d3e50;
    overflow: hidden;
}

.md-content .md-added-product-content a {
    font-size: 12px;
}

.md-content .md-added-product-content .price {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #2d3e50;
}

.md-content .md-close {
    width: 10px;
    height: 10px;
    background: url(../images/icons/modal-close.png);
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.md-content .actions {
    clear: both;
    padding-top: 20px;
}

.md-content .actions a {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: #3d556d;
    text-transform: uppercase;
    text-align: center;
    border: 3px solid #d9d9d9;
    display: block;
    padding: 6px 0;
}

.md-content .actions .cart a {
    color: #fff;
    background: #010020;
    border: 3px solid #010020;
}

.md-content .actions a:hover {
    color: #fff;
    background: #010020;
    border: 3px solid #010020;
}

.md-content .actions .cart a:hover {
    background: #263443;
    border: 3px solid #263443;
}

.md-effect-1 .md-content {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}