#cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cssmenu #menu-button {
    display: none;
}

#cssmenu.small-screen {
    width: 100%;
}

#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
    width: 100%;
    text-align: left;
    position: absolute;
    top: 41px;
    left: 0;
    background: #fff;
    -webkit-box-shadow: 0px 0px 15px -6px rgba(196,196,196,1);
    -moz-box-shadow: 0px 0px 15px -6px rgba(196,196,196,1);
    box-shadow: 0px 0px 15px -6px rgba(196,196,196,1);
}

#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center > ul > li {
    display: block;
    padding: 0;
    float: none!important;
}

#cssmenu.small-screen > ul > li a:hover {
    border-bottom: 0;
}

#cssmenu.small-screen > ul > li > a {
    padding: 5px 10px;
    display: block;
}

#cssmenu.small-screen > ul > li:after,
#cssmenu.small-screen > ul > li:before {
    display: none;
}

#cssmenu.small-screen #menu-button {
    display: block;
    padding: 20px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #3d556d;
    float: left;
    border-left: 0!important;
}

#cssmenu.small-screen #menu-button.menu-opened {
    color: #3d556d;
}

#cssmenu.small-screen #menu-button:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 14px;
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-top: 2px solid #3d556d;
    border-bottom: 2px solid #3d556d;
    width: 18px;
    height: 3px;
}

#cssmenu.small-screen #menu-button.menu-opened:after {
    border-top: 2px solid #3d556d;
    border-bottom: 2px solid #3d556d;
}

#cssmenu.small-screen #menu-button:before {
    content: "";
    position: absolute;
    right: 10px;
    top: 23.5px;
    display: block;
    width: 18px;
    height: 2px;
    background: #3d556d;
}

#cssmenu.small-screen #menu-button.menu-opened:before {
    background: #3d556d;
}

#cssmenu.small-screen #menu-indicator {
    display: none;
}

@media (max-width: 1240px) {
    #header #nav .row {
        margin-left: 0;
        margin-right: 0;
    }
    
    #main.page .category ul li a {
        margin: 0 20px;
    }
}

@media (max-width: 1024px) {
    #main.page .category ul li a {
        margin: 0 15px;
    }
    
    #main.guide .category ul li a {
        margin: 0 30px;
    }
}

@media (max-width: 992px) {
    .col-md-show {
		display:block !important
	}
	.col-md-hide {
		display:none !important
	}
    
    .title::after {
        margin: 15px auto;
    }
    
    #header #nav .static.desktop {
        display: none;
    }
    
    #header #nav .sticky.mobile {
        display: block;
    }
    
    #header #nav .row div.sticky-menu {
        width: calc( 100% - 315px);
        max-width: none
    }
    
    #header.front-page #nav {
        position: fixed;
    }
    
    #header.front-page {
        padding-bottom: 50px;
    }
    
    #header.front-page #menu,
    #header #menu > .wrapper  {
        border-bottom: 0;
        display: none;
    }
    
    #home-about, #home-services, #home-posts, #home-products {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    #home-posts, #posts {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    #posts .posts-bar {
        margin-bottom: 0;
    }
    
    #posts .pagination .prev, #posts .pagination .next {
        text-align: center;
        padding: 10px 0;
    }
    
    #posts .pagination .prev a::before,
    #posts .pagination .next a::after{
        display: none;
    }
    
    #posts .pagination {
        border-bottom: 1px solid #d9d9d9;
        padding-bottom: 15px;
        margin-bottom: 0px;
    }
    
    #header #menu.video {
        height: auto;
    }
    
    #header #menu.video .home-search {
        position: static;
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    #main {
        padding-top: 25px;
        padding-bottom: 15px;
    }
    
    #main.page .content {
        padding-top: 15px;
    }
    
    #main.page .category ul li a {
        font-size: 12px;
    }
    
    #main.page .category ul li a:hover::after, #main.page .category ul li.active a::after {
        display: none;
    }
    
    #main.contact {
        padding-top: 30px;
        text-align: center;
    }
    
    #main.contact .form {
        padding-top: 30px;
    }
    
    #main.contact .map-container {
        margin-top: 15px;
        height: 200px;
    }
    
    #main.about #about-1 {
        background: #DAE3EA;
        margin-bottom: 15px;
        text-align: center;
    }
    
    #main.about #about-1 h1 {
        height: auto;
        padding: 15px 0;
        display: block;
    }
    
    #main.about #about-2 {
        background: #DAE3EA;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    #main.about #about-2 p {
        height: auto;
        display: block;
        padding: 15px 0;
    }
    
    #main.about #about-3 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    #main.about #about-3 p {
        height: auto;
        display: block;
        padding-bottom: 15px;
    }
    
    #main.compare {
        padding-top: 15px;
    }
    
    #main.compare .heading .right {
        text-align: left;
        padding-top: 3px;
    }
    
    #main .service article {
        margin-bottom: 15px;
    }
    
    #home-services article figure img, #main .service article figure img {
        width: 100%;
    }
    
    #home-services article figure h3, #main .service article figure h3 {
        left: 10px;
        bottom: 10px;
    }
    
    #main.guide .category {
        padding-bottom: 0px;
    }
    
    #main.guide .category ul li a {
        margin: 0 15px;
    }
    
    #main.guide .column {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    #main.guide .guide-category {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    #main.guide .guide-category figure {
        display: table;
        margin: 15px auto;
    }
    
    #main.guide .service {
        padding-bottom: 5px;
    }
    
    #main.guide #guide-bg p {
        max-width: 100%;
        line-height: 24px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    #main.register .news {
        padding-top: 15px;
    }
    
    #main.login form, #main.register form {
        width: 100%;
        padding-top: 0px;
    }
    
    #main.login h2, #main.register h2 {
        margin-bottom: 20px;
    }
    
    #main.login .image img {
        display: block;
        margin: 0 auto;
    }
    
    #main.login .bx-wrapper, #main.register .bx-wrapper {
        padding: 20px;
    }
    
     #main.login .bx-wrapper .row,
     #main.register .bx-wrapper .row {
        margin-left: 0;
        margin-right: 0;
     }
    
    #main.login .bx-wrapper .desc, #main.register .bx-wrapper .desc {
        text-align: center;
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    #main.login .bx-wrapper .desc::after, #main.register .bx-wrapper .desc::after {
        display: none;
    }
    
    #main.register p.info {
        max-width: 100%;
        margin-bottom: 15px;
    }
    
    #main.register .form-group.rule label {
        white-space: normal;
    }
    
    #main.catalog #filtr .row .single {
        margin-bottom: 25px;
    }
    
    #main.catalog #filtr .choose li {
        min-height: 75px;
    }
    
    #main.catalog .compare p {
        color: #3d556d;
        margin-top: 15px;
        text-align: center;
    }
    
    #main.cart {
        padding-top: 15px;
    }
    
    #main.cart .heading {
        padding-bottom: 15px;
    }
    
    #main.cart .heading .right {
        text-align: left;
    }
    
    #main.cart .cart-table table  {
        border: 0;
    }
    
    #main.cart .cart-table table thead {
        border-bottom: 0;
    }
    
    #main.cart .cart-table table tbody tr {
        border-bottom: 0;
    }
    
    #main.cart .cart-table table tbody tr td.product-name img {
        display: block;
        margin: 0 auto;
        float: none;
    }
    
    #main.cart .cart-table table tbody tr td::before {
        display: none;
    }
    
    #main.cart .cart-table table tbody tr td.product-name h2, 
    #main.cart .cart-table table tbody tr td.product-name h2 a {
        text-align: center;
    }
    
    #main.cart .cart-table table tbody tr td.product-quantity {
        width: 100%;
    }
    
    #main.cart .cart-table table tbody tr td.product-quantity div {
        margin: 0px auto;
        display: table;
    }
    
    #main.cart .user-area {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    #main.cart .user-area .login,
    #main.cart .user-area .buy-reg,
    #main.cart .user-area .buy-not-reg {
        padding-top: 15px;
    }
    
    #main.cart .user-area p {
        min-height: 0;
    }
    
    #main.cart .user-area .buy-reg a, #main.cart .user-area .buy-not-reg a {
        margin: 20px 0
    }
    
    #main.cart .cart-subtotal .content {
        padding: 15px;
    }
    
    #main.cart .cart-subtotal .content .detail {
        text-align: center;
    }
    
    #main.cart .cart-subtotal .content .name {
        padding-top: 15px;
        text-align: center;
    }
    
    #main.cart.steps #step-container .tab {
        display: none;
    }
    
    #main.cart.steps #step-container .tab.active {
        display: block;
    }
    
    #main.cart.steps #step-container .panel-container  {
        padding: 0;
    }
    
    #main.cart.steps #step-container .panel-container .blank {
        padding-bottom: 0px;
    }
    
    #main.cart.steps .actions .nextstep a {
        float: left;
        margin-top: 15px;
    }
    
    #main.cart.steps .step-2 #step-container .panel-container form .content {
        padding: 0 15px;
    }
    
    #main.cart.steps .step-2 #step-container .panel-container form .form-payment ul li, #main.cart.steps .step-2 #step-container .panel-container form .form-invoice ul li {
        width: 100%;
    }
    
    #main.cart.steps .step-2 > .cart-total {
        padding-top: 0;
    }
    
    #main.cart.steps .step-2 .cart-total table tr td {
        padding: 15px;
    }
    
    #main.cart.steps .step-2 .cart-total table tr.cart-total {
        padding-top: 0;
    }
    
    #main.cart.steps .step-2 .cart-total table tr td,
    #main.cart.steps .step-2 .cart-total table tr td:nth-child(2) {
        text-align: center;
    }
    
    #main.cart.steps .step-3 #step-container .panel-container {
        padding: 0;
    }
    
    #main.cart.steps .step-3 #step-container .panel-container .name {
        padding: 0 15px;
    }
    
    #main.cart.steps .step-3 #step-container .panel-container .name p {
        margin-bottom: 15px;
    }
    
    #main.cart.steps .step-3 #step-container .panel-container table {
        border-top: 0;
    }
    
    #main.cart.steps .step-3 #step-container .panel-container table thead {
        border: 0;
    }
    
    #main.cart.steps .step-3 #step-container .panel-container table tbody tr {
        border-bottom: 0;
    }
    
    #main.cart.steps .step-3 #step-container .panel-container .cart-subtotal .content .item {
        padding: 15px;
        border-bottom: 1px solid #d9d9d9;
    }
    
    #main.cart.steps .step-3 #step-container .panel-container .cart-subtotal .content .item .left,
    #main.cart.steps .step-3 #step-container .panel-container .cart-subtotal .content .item .right {
        text-align: center;
    }
    
    #main.cart.steps .step-3 #step-container .panel-container .cart-subtotal .content .item .right {
        margin-top: 15px;
    }
    
    #main.cart.steps .step-3 #step-container .panel-container .cart-subtotal .resume-detail {
        padding: 0 15px;
    }
    
    #main.cart.steps .step-3 #step-container .panel-container .cart-subtotal .resume-info {
        border-top: 1px solid #d9d9d9;
        padding: 0 15px 10px 15px;
    }
    
    #main .accordion-group h3 {
        padding: 10px 5px;
    }
    
    #main.product .images .thumbnail figure {
        border: 1px solid #d9d9d9;
        padding: 15px;
    }
    
    #main.product .detail {
        padding-top: 30px;
        clear: both;
    }
    
    #main.product .detail .summary input[type="checkbox"] + label {
        display: block;
    }
    
    #main.product #addtocart {
        padding-top: 20px;
        float: left;
    }
    
    #footer .logo img {
        display: block;
        margin: 0 auto;
    }
    
    #footer .social {
        padding-top: 0;
        display: table;
        margin: 30px auto;
    }
    
    #footer .menu {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
    }
    
    #footer .menu h3::after {
        margin: 5px auto;
    }
    
    #footer #bottom,
    #footer #top {
        clear: both;
    }
    
    #footer .left,
    #footer .right {
        text-align: center;
    }
}
 
@media (max-width: 768px) {
	.col-sm-show {
		display:block !important
	}
    
	.col-sm-hide {
		display:none !important
	}
    
    .readmore.pdf {
        padding: 10px 30px 10px 45px;
    }
    
    #header #menu .nav {
        display: table;
        margin: 0 auto;
    }
    
    #header #menu .nav ul li {
        width: auto;
        text-align: center;
    }
    
    #header #menu .nav ul li a {
        font-size: 12px;
        margin: 0 5px;
    }
    
    #header #nav .row div.sticky-currency,
    #header #nav .row div.sticky-language {
        display: none;
    }
    
    #header #nav .row div.sticky-menu {
        width: calc( 100% - 205px);
    }
    
    #main {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    #main article p {
        margin: 15px 0;
    }
    
    #main.page .category {
        padding-bottom: 15px;
    }
    
    #main.page .category ul li,
    #main.guide .category ul li {
        float: none;
    }
    
    #main.page .category ul li a {
        margin: 0;
    }
    
    #main.guide .column p {
        margin-top: 0px;
    }
    
    #main.cart.steps .step-2 #step-container .panel-container form .form-country select {
        width: 100%;
    }
    
    #main.product .images .thumbnail-gallery a {
        width: 20%;
        height: auto;
        line-height: normal;
        float: left;
        padding: 5px;
        margin: 0;
    }
}





@media 
only screen and (max-width: 990px),
(min-device-width: 992px) and (max-device-width: 992px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}