html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}
input, select {
	vertical-align: middle;
}
.clear {clear:both; height:0;}








body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:#FFF;
}
#all {
	width: 1020px;
	margin: -65px auto 0 auto;
	background:#FFF;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	font-weight:300;
	color:#000;
}
h1, h2, h3, h4, h5, h6, p {
	padding: 15px;
	color:#5F6E80;
}
h1 {
	font-size: 45px
}
h2 {
	font-size:26px;
}
h3 {
	font-size: 20px
}
a {height:auto;}
a:link {
	color: #FFF;
	text-decoration: none;
}
a:visited {
	color: #FFF;
	text-decoration: none;
}
a:hover {
	color: #FFF;
	text-decoration: none;
}
a:active {
	color: #FFF;
}
#top {
	background: url(../graf/bg_top_main_1920x240.jpg) center;
	height: 240px;
	text-align: center;
}

#top-inner {
	width: 1020px;
	margin: 0 auto;
	height: 175px;
	position: relative;
}
#top-face-twitter {
	position: absolute;
	top: 38px;
	right: 0px;
}
#top-face-twitter li {
	float: left;
}


.top-face {background:url(../graf/ico_facebook_90x48.png); height:24px; width:90px;}
.top-line {background:url(../graf/ico_fb_twitter_vr_24x1.png); height:24px; width:1px;}
.top-twitter {background:url(../graf/ico_twitter_90x48.png); height:24px;width:90px;}


.top-face:hover {background-position:0 -24px;cursor:pointer;}
.top-twitter:hover {background-position:0 -24px;cursor:pointer;}











#top img {
	padding-top: 10px;
	height:150px;
}






#main-menu {
	text-align: center;
	background: url(../graf/bg_menu_1020x50.jpg);
	height: 50px;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size: 18px;
	z-index:5;
}
#main-menu li {
	float: left;
	width: 255px;
	height: 50px;
	line-height: 50px;
	color: #FFF;
	cursor: pointer;
}
#main-menu li, #main-menu li a {
	-webkit-transition: background .40s ease-in-out;
	-moz-transition: background .40s ease-in-out;
	-ms-transition: background .40s ease-in-out;
	-o-transition: background .40s ease-in-out;
	transition: background .40s ease-in-out;
}
#main-menu li a:hover {
	background-color: rgba(255, 255, 255, 0.2);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF,endColorstr=#33FFFFFF)"; /* IE8 */
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#33FFFFFF);   /* IE6 & 7 */
	zoom: 1;
}
#main-menu li:hover {
	width: 255px;
}
#main-menu ul li a {
	display: block;
}
#main-menu .active {
	background-color: rgba(255, 255, 255, 0.2);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF,endColorstr=#33FFFFFF)"; /* IE8 */
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#33FFFFFF);   /* IE6 & 7 */
	zoom: 1;
}
.active a:hover {
	background-color: rgba(255, 255, 255, 0)!important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);   /* IE6 & 7 */
	zoom: 1;
}


#content {
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #11141E),
	color-stop(1, #323845)
);
background-image: -o-linear-gradient(bottom, #11141E 0%, #323845 100%);
background-image: -moz-linear-gradient(bottom, #11141E 0%, #323845 100%);
background-image: -webkit-linear-gradient(bottom, #11141E 0%, #323845 100%);
background-image: -ms-linear-gradient(bottom, #11141E 0%, #323845 100%);
background-image: linear-gradient(to bottom, #11141E 0%, #323845 100%);


 filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#11141E', endColorstr='#323845');
}



#stopka {
	color: #666;
	height:140px;


background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #11141E),
	color-stop(1, #323845)
);
background-image: -o-linear-gradient(bottom, #11141E 0%, #323845 100%);
background-image: -moz-linear-gradient(bottom, #11141E 0%, #323845 100%);
background-image: -webkit-linear-gradient(bottom, #11141E 0%, #323845 100%);
background-image: -ms-linear-gradient(bottom, #11141E 0%, #323845 100%);
background-image: linear-gradient(to bottom, #11141E 0%, #323845 100%);


 filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#11141E', endColorstr='#323845');
}
#stopka p {
	padding: 0 0 0 50px;
	line-height: 100px;
	float: left;
}

.footer-img {float:left; line-height:140px; margin-left:48px; margin-right:48px;}
.footer-list 
{float:left; margin-left:40px; padding:30px 20px 20px 20px;
}
.footer-list li
{
	padding-bottom:4px;
	font-size:12px;color:#5F6E80;
}
.footer-list a{color:#5F6E80;}
.footer-list a:hover{color:#DDD;}








@import url(fancybox/jquery.fancybox-1.3.4.css);
#ds {
	width: 950px;
	margin: 0 auto;
	color: #c2bebe;
	padding-top:15px;
}
#ds * {
	outline: none;
	border: 0;
}

#ds a {
	text-decoration: none;
	outline: none;
}

#ds .ds-help {
	width: 20px;
	height: 20px;
	text-indent: -9999px;
	background: url(img/help.png) no-repeat;
	display: block;
	float: left;
	margin-right: 10px;
}

#ds h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
	font-size: 20px;
	padding-top: 2px;
	color:#FFF;
}

#ds header h3 {
	float: left;
}

#ds hr {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #4b4f56;
	padding: 0;
	margin: 0;
	margin-top: 22px;
	margin-bottom: 40px;
	clear: both;
	width: 100%;
}

#ds .ds-clear {
	clear: both;
}

#ds-shapes * {
	border: 0;
	outline: none;
}

#ds-shapes ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	margin-left: 15px;
}

#ds-shapes li {
	float: left;
	width: 90px;
	margin-left: 3px;
	font-family:Arial;
	font-weight: normal;
}

#ds-shapes li:first-child {
	margin-left: 0;
}

#ds-shapes li a {
	display: block;
}

#ds-shapes li div {
	width: 90px;
	height: 93px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#ds-shapes li div img {
	margin-top: 3px;
}

#ds-shapes li p {
	margin: 0;
	padding: 0;
	color: white;
	font-size: 12px;
	text-align: center;
	padding: 5px 0;
	margin-top: 3px;
	font-weight: normal;
}

#ds-shapes li.active div {
	background: white;
}

#ds-shapes li.active p {
	background: url(img/shape-title.png) repeat-x;
	color: black;
}

#ds header {
	clear: both;
	overflow: hidden;
}

#ds .ds-two {
	clear: both;
}

#ds .ds-two .ds-1 {
	float: left;
	width: 440px;
}

#ds .ds-two .ds-2 {
	float: right;
	width: 440px;
}

#ds .ds-three {
	clear: both;
}

#ds .ds-three .ds-1 {
	float: left;
	width: 285px;
}

#ds .ds-three .ds-2 {
	float: left;
	width: 286px;
	margin-left: 47px;
}

#ds .ds-three .ds-3 {
	float: right;
	width: 286px;
}

#ds .ds-50 {
	width: 475px;
	float: left;
}

#ds .ds-slide {
	background: url(img/slide.png) no-repeat center top;
	padding-top: 5px;
	margin-top: 11px;
	overflow: hidden;
}

#ds .ds-slide input {
	border: 0;
	background: #3f424a;
	padding: 3px 5px;
	display: block;
	color: #c2bebe;
}

#ds .ds-slide input.ds-slide-from {
	float: left;
}

#ds .ds-slide input.ds-slide-to {
	float: right;
	text-align: right;
}

#ds .ds-color .ds-slide {
	background: url(img/slide-color.png) no-repeat center top;
	padding-top: 25px;
}

#ds .ds-clean .ds-slide {
	background: url(img/slide-clean.png) no-repeat center top;
	padding-top: 25px;
}

#ds .ds-cut .ds-slide {
	background: url(img/slide-cut.png) no-repeat center top;
	padding-top: 25px;
}

#ds .ds-cert {
	margin-top: -27px;
	overflow: hidden;
	margin-bottom: -30px;
}

#ds .ds-cert header {
	float: left;
}

#ds .ds-cert ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	margin-left: 30px;
}

#ds .ds-cert ul li {
	float: left;
	margin-right: 25px;
}

#ds .ds-cert ul li p {
	float: left;
	margin: 0;
	padding:1px 0 0 0;
	font-size: 20px;
	color:#FFF;
	font-weight:300;
	font-family: 'Lato', sans-serif;
}

#ds .ds-cert ul li span {
	float: left;
	margin-right: 10px;
}

#ds .ds-checkbox {
	width: 20px;
	height: 20px;
	display: block;
	background: url(img/checkbox-unchecked.png) no-repeat;
	text-indent: -9999px;
	cursor: pointer;
	vertical-align: middle;
}

#ds .ds-checkbox.checked {
	background: url(img/checkbox-checked.png) no-repeat;
}

#ds .ds-advanced {
	margin-top: -35px;
	overflow: hidden;
}

#ds .ds-advanced h2 {
	background: url(img/advanced.png) no-repeat right;
	height: 121px;
	line-height: 121px;
	float: left;
	width: 222px;
	font-size: 20px;
	color:#FFF;
}

#ds .ds-poler {
	float: left;
	width: 286px;
	margin-left: 50px;
	margin-top: 30px;
}

#ds .ds-poler .ds-slide {
	background: url(img/slide-poler.png) no-repeat center top;
	padding-top: 25px;
}

#ds .ds-symetry {
	float: left;
	width: 286px;
	margin-left: 50px;
	margin-top: 30px;
}

#ds .ds-symetry .ds-slide {
	background: url(img/slide-poler.png) no-repeat center top;
	padding-top: 25px;
}

#ds .ds-table-header {
	height: 45px;
	background: url(img/table-header.png) repeat-x;
	color: black;
	margin-bottom: 5px;
	font-family:Arial;
}

#ds .ds-table-header * {
	line-height: 45px;
	margin: 0;
	padding: 0;
	font-size: 13px;
}

#ds .ds-table-footer {
	height: 45px;
	background: url(img/table-header.png) repeat-x;
	color: black;
	margin-bottom: 5px;
	font-family:Arial;
	margin-top: 5px;
	font-size: 13px;
	visibility: hidden;
}

#ds .ds-table-footer p {
	margin: 0;
	line-height: 45px;
	margin-left: 10px;
	float: left;
}


#ds .ds-table-header p.ds-table-count {
	float: left;
	margin-left: 10px;
	opacity: 0;
}

#ds .ds-table-header a.ds-table-reset {
	float: right;
	display: block;
	background: url(img/table-reset.png) no-repeat;
	width: 106px;
	height: 30px;
	text-indent: -9999px;
	margin-right: 3px;
	margin-top: 7px;
	margin-left: 10px;
}

#ds .ds-table-header p.ds-table-sort {
	float: right;
	height: 30px;
	line-height: 30px;
	padding-right: 10px;
	border-right: 1px solid black;
	margin-top: 7px;
}

#ds .ds-table {
	width: 100%;
	background: white;
	font-size: 13px;
	color: black;
	font-family: Arial;
}

#ds .ds-table th {
	border-bottom: 1px solid #8f8f8f;
	border-left: 1px solid #8f8f8f;
	font-weight: bold;
	text-align: center;
	padding: 10px 0;

	background: url(img/th-bg.png) repeat-x;
}

#ds .ds-table th[data-sort] {
	cursor: pointer;
}

#ds .ds-table th.sorted {
	text-decoration: underline;
}

#ds .ds-table th.ds-loader {
	padding: 0;
}

#ds .ds-table th.ds-loader img {
	opacity: 0;
}

#ds .ds-table td {
	border-bottom: 1px solid #8f8f8f;
	border-left: 1px solid #8f8f8f;
	text-align: center;
	padding: 10px 0;
}

#ds .ds-table tr:nth-child(even) td {
	background: #c0c3d1;
}

#ds .ds-table tr:hover td {
	background: #EBF0F3;
}

#ds .ds-table th:first-child {
	border-left: 0;
}

#ds .ds-table tr td:first-child {
	border-left: 0;
}

#ds .ds-table-link {
	display: block;
	width: 79px;
	height: 30px;
	background: url(img/zobacz.png) no-repeat;
	text-indent: -9999px;
	margin: 0 5px;
}

#ds .ds-link {
	width: 1%;
}

#ds .ds-pagin {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	left: 0;
	width: 9999px;
}

#ds .ds-pagin-container {
	width: 350px;
	overflow: hidden;
	float: right;
	position: relative;
	height: 30px;
	margin-top: 7px;
}

#ds .ds-pagin li {
	float: left;
	margin-left: 5px;
}

#ds .ds-pagin a {
	display: block;
	width: 28px;
	height: 28px;
	border: 1px solid #76787c;
	line-height: 30px;
	text-align: center;
	color: black;
	outline: none;
}

#ds .ds-pagin a.current, #ds .ds-pagin a:hover {
	background: white;
}

#ds .ds-pagin-next {
	width: 120px;
	height: 30px;
	display: block;
	float: right;
	background: url(img/pagin-next.png) no-repeat 10px;
	text-indent: -9999px;
	white-space: nowrap;
	margin-right: 3px;
	margin-top: 7px;
	margin-left: 10px;
	border-left: 1px solid black;
	padding-left: 10px;
}

#ds .ds-pagin-prev {
	width: 120px;
	height: 30px;
	display: block;
	float: right;
	background: url(img/pagin-prev.png) no-repeat;
	text-indent: -9999px;
	white-space: nowrap;
	margin-right: 3px;
	margin-top: 7px;
	margin-right: 5px;
	border-right: 1px solid black;
	padding-right: 10px;
	visibility: hidden;
}

#ds .ds-price label {
	float: right;
	display: block;
	line-height: 23px;
}

#ds .ds-price label input {
	margin-right: 5px;
}

#ds .ds-price label.ds-price-from {
	float: left;
}

#ds .ds-price input.ds-slide-to {
	float: left;
}

.table-tip {
	font-size: 12px;
	font-family: Arial;
}

.table-tip h4 {
	margin: 0;
	font-size: 14px;
	background: rgb(192, 195, 209);
	padding: 5px;
}

.table-tip ul {
	list-style: none;
	margin: 0;
	padding: 0;
	padding: 5px;
}

.table-tip ul li {
	border-top: 1px solid #e3e3e4;
	position: relative;
	overflow: hidden;
	padding: 3px 0;
}

.table-tip ul li span.l {
	display: block;
	float: left;
	width: 100px;
}

.table-tip ul li span.r {
	display: block;
	float: left;
}

	.noUiSlider,
	.noUiSlider * {
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
		box-sizing: border-box;
-webkit-user-select: none;
   -moz-user-select: none;
	-ms-user-select: none;
		display: block;
		cursor: default;
	}
	.noUiSlider {
		position: relative;
	}
	.noUiSlider a {
		position: absolute;
		z-index: 1;
	}
	.noUiSlider a:nth-child(2) {
		background: inherit !important;
	}
	.noUiSlider.vertical a {
		width: 100%;
		bottom: 0;
	}
	.noUiSlider.horizontal a {
		height: 100%;
		right: 0;
	}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.noUiSlider:before,
	body.TOUCH,
	.noUiSlider div {
		-ms-touch-action: none;
	}
	.noUiSlider:before {
		display: block;
		position: absolute;
		width: 150%;
		left: -25%;
		height: 400%;
		top: -150%;
		content: "";
		z-index: -1;
	}
	.noUiSlider.vertical:before {
		width: 400%;
		left: -150%;
		height: 150%;
		top: -25%;
	}
}
	.noUiSlider {
		border: 0;
	}
	.noUiSlider.connect a,
	.noUiSlider.connect.lower {
		background: yellow;
	}
	.noUiSlider,
	.noUiSlider.connect.lower a {
		background: #52555c;
	}
	.noUiSlider.disabled,
	.noUiSlider.disabled.connect.lower a {
		background: blue;
		box-shadow: none;
	}
	.noUiSlider div {
		height: 15px;
		width: 17px;
		background: url(img/slider.png) no-repeat;
		cursor: pointer;
	}
	.noUiSlider.ds-expand div {
		height: 50px;
	}

	.noUiSlider.disabled div {
		background: transparent;
	}
	.noUiSlider.horizontal {
		width: 100%;
		height: 6px;
	}
	.noUiSlider.horizontal div {
		margin: -4px 0 0 -9px;
	}
	.noUiSlider.vertical {
		width: 10px;
		height: 300px;
	}
	.noUiSlider.vertical div {
		margin: -9px 0 0 -5px;
	}

	#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: white;

	opacity: 0.85;
	font-size: 11px;
}
#tooltip h3, #tooltip div { margin: 0; }
