/* RESET */html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"";content:none;}
table{border-collapse:collapse;border-spacing:0;}
main{display:block;}
.clear{clear:both;}
.floatLeft{float:left;}
.floatRight{float:right;}
/* RESZTA */body{color:#666;font-family:Arial, Helvetica, sans-serif;font-size:13px;}
h1,h2,h3,h4,h5,h6{font-weight:400;}
h1{font-size:30px;margin:35px 15px 5px 35px;font-family:Conv_main_font, Arial, Sans-Serif;}
h2{font-size:25px;margin:35px 15px 5px 35px;font-family:Conv_main_font, Arial, Sans-Serif;}
h3{font-size:20px;margin:35px 15px 5px 35px;font-family:Conv_main_font, Arial, Sans-Serif;}
h6{font-size:20px;margin:0 10px 0 9px;font-family:Conv_main_font, Arial, Sans-Serif;color:#000;}
p{font-family:Arial, Helvetica, sans-serif;font-size:13px;}
a:link{color:#666;text-decoration:none;}
a:visited{color:#666;text-decoration:none;}
a:hover{color:#666;}
a:active{color:#666;}
#pasek_gora{width:980px;height:40px;margin:10px auto 0;}
#facebook_button{float:left;margin-top:4px;}
.fb_margin{margin-left:10px;}
.rejestracja{background:url(../images/nav_hover_1x40.png);padding:0 5px;}
.rejestracja a{color:#000;}
#logowanie{float:right;}
#logowanie p{font-family:Conv_main_font, Sans-Serif;font-size:18px;}
#panel_dla_zalogowanych{width:auto;height:90px;padding-top:10px;margin:0 auto;background:#FAFAFA;}
#panel_dla_zalogowanych p{float:left;margin:30px 0 0 14px;text-align:right;line-height:20px;}
#pan_dla_zal{margin:0 auto;width:980px;height:80px;}
#pan_dla_zal_left{float:left;margin-top:20px;}
#pan_dla_zal_left input{margin:3px 0 0;color:#FFF;background-color:transparent;border:1px #999 solid;color:#999;font-size:11px;}
#pan_dla_zal_right{float:right;}
.moj_koszyk{float:right;background:url(../images/vertical_line_1x80.png);background-repeat:no-repeat;background-position:left top;}
#wrapper{width:980px;margin:0 auto;clear:both;}
#logo_glowne{height:150px;background:url(../images/staviori_main_logo_275x55.png) no-repeat center;}
#glowne_menu{width:980px;}
nav{text-align:center;background-color:#FFF;height:50px;line-height:50px;font-size:18px;font-family:Conv_main_font, Sans-Serif;border-bottom:1px #7F6E52 solid;border-top:1px #7F6E52 solid;margin-bottom:8px;}
nav li{display:inline;}
nav a{text-decoration:none;padding:8px 6px;}
nav a:link,nav a:visited{color:#7F6E52;}
nav a:hover{background-image:url(../images/nav_hover_1x40.png);background-color:#7F6E52;color:#FFF;}
#breadcrumbs{margin:0 0 5px 8px;}
#breadcrumbs a{color:#7F6E52;}
#breadcrumbs p{color:#7F6E52;}
#tresc_980{color:#666;margin-top:8px;}
#tresc_980 h2{padding:10px 15px 10px 30px;margin:0;}
#tresc_980_header{background:#FFF;}
#tresc_980_przesylka{padding-bottom:55px;border:1px solid #DDD;}
#linia_horizontal{background:url(../images/linia_horyzontalna_980x5.jpg);height:5px;margin:8px 0;}
#produkty{}
.produkty_koszyk{height:31px;width:237px;bottom:0;background:url(../images/ramka_produkt_dol_239x31.jpg) no-repeat;margin:0 1px 0 1px;}
.products{float:left;height:240px;width:239px;background-color:#FFF;margin:8px 8px 0 0;position:relative;background: url(../images/ramka_produkt_gora_209x239.jpg);}
.products p{color:#666;padding:0 10px;font-size:12px;}
.ikona_produktu{float:right;}
.ikona_produktu_left a{float:left;background:url(../images/ikona_produkt_koszyk_sprite_30x60.jpg);width:30px;height:30px;}
.ikona_produktu_left a:hover{background-position:0 -30px;}
.ikona_produktu_center a{background:url(../images/ikona_produkt_porownanie_sprite_30x60.jpg);width:30px;height:30px;float:right;}
.ikona_produktu_center a:hover{background-position:0 -30px;}
.ikona_produktu_right a{float:right;background:url(../images/ikona_produkt_obserwowane_sprite_30x60.jpg);width:30px;height:30px;}
.ikona_produktu_right a:hover{background-position:0 -30px;}
.cena{font-family:Conv_main_font, Arial, Sans-Serif;padding:0 10px;font-size:18px;}
.last{margin-right:0;}
.item{position:relative;}
.item img{margin:5px 25px 0 50px;}
.item .caption{background-color:rgba(255,255,255,0.7);background:rgba(255,255,255,0.7);color:rgba(255,255,255,0.7);-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2FFFFFF,endColorstr=#B2FFFFFF);/* IE8 */filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2FFFFFF,endColorstr=#B2FFFFFF);/* IE6 & 7 */zoom:1;cursor:pointer;height:154px;width:237px;color:#666;top:1px;left:1px;}
.item p{color:#666;margin-top:10px;}
.products a{color:#666;}
.item .caption p{padding:20px;}
.item .caption a{color:#09c;display:block;font-size:14px;text-decoration:none;padding:15px;}
#tresc_980_przesylka{background:#FFF;padding-bottom:55px;border:1px solid #DDD; border-top:none;}
#container{width:980px;margin:0 auto;background-color:#CCC; border:1px solid #DDD; border-bottom:none;color:#666;}
#container ul{width:980px;overflow:hidden;list-style-type:none;float:left;}
#container li{float:left;width:196px;padding:0;background-color:#CCC;font-family:Conv_main_font, Arial, Sans-Serif;font-size:18px;}
#container{text-decoration:none;color:#666;text-align:center;display:block;height:42px;line-height:42px;white-space:nowrap;overflow:hidden;font-size:.9em;width:auto;}
#container .active{background:#FFF;}
#linia_horizontal_cienka_zloto{border:1px solid #C96;clear:both;margin-top:18px;}
#linia_horizontal_cienka_szara{border:1px solid #CCC;clear:both;margin-top:18px;}
#kod_promocyjny{background:#FFF;width:980px;float:left;}
#kod_promocyjny h5{font-size:16px;font-family:Conv_main_font, Arial, Sans-Serif;color:#C96;float:left;}
.kod_promocyjny_form{float:left;}
#opcje_info_poradnik{padding-bottom:20px;clear:both;background:#EEE;margin-top: 5px;}
#opcje_info_poradnik_980,#marcello_staviori_seo_tekst_980{margin:0 auto;width:980px;}
#informacje{float:left;width:320px;}
#opcje_info_poradnik h3{font-size:24px;margin:25px 15px 5px;}
#opcje_info_poradnik li{margin-left:15px;}
#opcje,#poradnik{float:left;width:330px;}
#opcje form{margin-left:15px;}
.opcje_label{color:#666;display:block;width:120px;float:left;}
#opcje_info_poradnik select{color:#666;background-color:#FFF;border:1px #999 solid;width:125px;margin-bottom:2px;}
#informacje li,#poradnik li{margin-bottom:8px;width:125px;}
#informacje li a:hover,#poradnik li a:hover{}
#raty_paypal{margin:0 auto;width:980px;height:40px;}
#marcello_staviori_seo_tekst{padding:20px 0;background:#EEE;}
#marcello_staviori_seo_tekst p{text-align:center;color:#666;font-size:10px;}
#copyright{padding:20px 0 40px;margin:0 auto;width:980px;}
#copyright p{color:#666;font-size:10px;}
#copyright a{color:#666;}
.last{margin-right:0!important;}
#linia_horizontal_20{background:url(../images/linia_horyzontalna_980x5.jpg);height:5px;margin:15px 0 0;}
#wartosc_produktow_w_koszyku{float:right;margin-top:15px;font-size:16px;font-family:Conv_main_font, Arial, Sans-Serif;color:#C96;}
.wartosc{font-size:18px;font-family:Arial, Helvetica, sans-serif;margin:0 35px;color:#C96;}
#linia_horizontal_cienka_zloto{border:1px solid #C96;clear:both;margin-top:18px;}
#linia_horizontal_cienka_szara{border:1px solid #CCC;clear:both;margin-top:18px;}
#przyciski_dol li{padding:7px;margin-top:20px;margin-bottom:5px;font-family:Conv_main_font, Sans-Serif;font-size:20px;color:#FFF;}
.przyciski_dol_left{float:left;width:200px;background:#999;}
.przyciski_dol_right_2{float:right;width:170px;background:url(../images/nav_hover_1x40.png);margin-left:15px;}
#koszyk_2 .sfm_textbox{padding:1px;}
#koszyk_2 .sfm_textarea{padding:2px;resize:none;}
#koszyk_2 .sfm_auto_hide_text{color:#999!important;}
#koszyk_2 .error_strings{font-family:Verdana;font-size:12px;color:#600;}
#koszyk_2 img{border:0;}
#koszyk_2 .loading_div{background-color:transparent;background-image:url(images/loading.gif);background-position:center center;background-repeat:no-repeat;}
#koszyk_2 input[type=submit],input[type=reset]{font:inherit;color:inherit;}
#koszyk_2 .sfm_cr_box{font-family:Verdana;font-size:10px;color:#888;}
#koszyk_2 .sfm_cr_box a{color:#888;}
#koszyk_2 .form_outer_div{border:none;background-color:#fff;}
#koszyk_2 .sfm_form_label{background-color:transparent;}
#koszyk_2 .element_label{background-color:transparent;}
body#sfm_koszyk_2_body{background-color:transparent;font-family:Arial;font-size:12px;color:#000;margin:0;}
#koszyk_2 .form_outer_div{font-family:Arial;font-size:12px;color:#000;}
#koszyk_2 .form_subheading{background-color:transparent;margin:0;padding:0;}
#koszyk_2 .sfm_float_error_box{font-family:Verdana;font-size:12px;color:#eee;background:none repeat scroll 0 0 #333;border:0;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;box-shadow:0 0 4px #333;border:none;}
#koszyk_2 .sfm_close_box{font-family:Verdana;font-size:12px;color:#eee;}
#koszyk_2 .progress_box_container{border:1px solid #8e8e8e;background-color:#ccc;font-family:Arial;font-size:10px;color:#fff;text-align:center;vertical-align:middle;}
#koszyk_2 .progress_box{background-color:#333;width:2px;float:left;margin:2px;}
#koszyk_2 .page_heading{background-color:transparent;margin:0;padding:0;}
#koszyk_2 .page_number{background-color:transparent;}
#koszyk_2 #t7d3d4f31651d2c8897b3{width:5px;height:5px;display:none;}
#koszyk_2 #heading_container{left:24px;top:25px;width:330px;height:20px;z-index:11;color:#666;}
#koszyk_2 #heading{top:0;left:0;text-align:left;}
#koszyk_2 #CheckBoxOdbior_container{left:24px;top:60px;width:237px;height:14px;z-index:1;background:#EEE;height:21px;width:910px;}
#koszyk_2 #label_container{left:879px;top:60px;width:45px;height:20px;z-index:15;}
#koszyk_2 #label{top:3px;right:0;text-align:right;}
#koszyk_2 #CheckBoxPocztaUbez_container{left:24px;top:90px;width:190px;height:14px;z-index:2;}
#koszyk_2 #label1_container{left:838px;top:91px;width:86px;height:20px;z-index:16;}
#koszyk_2 #label1{top:3px;right:0;text-align:right;}
#koszyk_2 #CheckBoxPocztaPrio_container{left:24px;top:120px;width:370px;z-index:3;background:#EEE;height:21px;width:910px;}
#koszyk_2 #label2_container{left:876px;top:122px;width:48px;height:20px;z-index:17;}
#koszyk_2 #label2{top:3px;right:0;text-align:right;}
#koszyk_2 #CheckBoxKurier_container{left:24px;top:150px;width:148px;height:14px;z-index:4;}
#koszyk_2 #label3_container{left:851px;top:151px;width:72px;height:20px;z-index:18;}
#koszyk_2 #label3{top:3px;right:0;text-align:right;}
#koszyk_2 #CheckBoxKurierUbez_container{left:24px;top:180px;width:320px;z-index:5;background:#EEE;height:21px;width:910px;}
#koszyk_2 #label4_container{left:877px;top:182px;width:47px;height:20px;z-index:19;}
#koszyk_2 #label6_container{height:20px;left:899px;top:467px;width:47px;z-index:19;}
#koszyk_2 #label4{top:3px;right:0;text-align:right;}
#koszyk_2 #horiz_line{left:29px;width:910px;height:5px;z-index:12;border:none;border-top:1px dotted #666;margin-top:5px;}
#koszyk_2 #heading1_container{left:24px;top:240px;width:360px;height:20px;z-index:13;color:#666;}
#koszyk_2 #heading1{top:0;left:0;text-align:left;}
#koszyk_2 #CheckBoxPrzelew_container{left:24px;top:275px;width:235px;z-index:6;background:#EEE;height:21px;width:910px;}
#koszyk_2 #CheckBoxPobranie_container{left:24px;top:305px;width:147px;height:14px;z-index:7;}
#koszyk_2 #CheckBoxGotowka_container{left:24px;top:335px;width:182px;z-index:8;background:#EEE;height:21px;width:910px;}
#koszyk_2 #CheckBoxPayU_container{left:24px;top:365px;width:80px;height:14px;z-index:9;}
#koszyk_2 #CheckBoxPaypal_container{left:24px;top:395px;width:80px;z-index:10;background:#EEE;height:21px;width:910px;}
#koszyk_2 #label5_container{left:24px;top:460px;width:210px;height:20px;z-index:21;}
#koszyk_2 #label5{top:3px;left:0;text-align:left;}
#koszyk_2 #TextboxKodPromo_container{left:245px;top:461px;z-index:20;}
#koszyk_2 #TextboxKodPromo{float:left;width:114px;z-index:20;}
#koszyk_2 #horiz_line1{left:24px;width:910px;height:5px;z-index:14;border:none;border-top:1px dotted #666;}
#label5{font-size:20px;font-family:Conv_main_font, Arial, Sans-Serif;color:#C96;}
.checkbox_szary, .checkbox_bialy {
height: 30px;
line-height: 30px;
margin: 0 35px 0 35px;
}
.checkbox_szary img, .checkbox_bialy img {
vertical-align: text-bottom;
line-height: 20px;
}
.checkbox_szary {
background: #EEE;
}
.cena_checkbox {
float: right;
margin-right: 15px;
}
.clear {
clear: both;
}
.form_subheading {
padding: 35px 15px 5px 35px;
margin: 0;
}
input[type="radio"] {
-webkit-appearance: checkbox;
-moz-appearance: checkbox;
-ms-appearance: checkbox;
-o-appearance: checkbox;
}
