/* RESET */html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"";content:none;}
table{border-collapse:collapse;border-spacing:0;}
.clear{clear:both;}
.floatLeft{float:left;}
.floatRight{float:right;}
/* RESZTA */body{color:#666;font-family:Arial, Helvetica, sans-serif;font-size:13px;}
h1,h2,h3,h4,h5,h6{font-weight:400;}
h1{font-size:30px;margin:35px 15px 5px 35px;font-family:Conv_main_font, Arial, Sans-Serif;color:#666;}
h2{font-size:25px;margin:35px 15px 5px 35px;font-family:Conv_main_font, Arial, Sans-Serif;color:#666;}
h3{font-size:20px;margin:35px 15px 5px 35px;font-family:Conv_main_font, Arial, Sans-Serif;color:#666;}
p{font-family:Arial, Helvetica, sans-serif;font-size:13px;}
a:link{color:#666;text-decoration:none;}
a:visited{color:#666;text-decoration:none;}
a:hover{color:#666;}
a:active{color:#666;}
#pasek_gora{width:980px;height:40px;margin:10px auto 0;}
#facebook_button{float:left;margin-top:4px;}
.fb_margin{margin-left:10px;}
.rejestracja{background:url(../images/nav_hover_1x40.png);padding:0 5px;}
.rejestracja a{color:#000;}
#logowanie{float:right;}
#logowanie p{font-family:Conv_main_font, Sans-Serif;font-size:18px;}
#panel_dla_zalogowanych{width:auto;height:90px;padding-top:10px;margin:0 auto;background:#FAFAFA;line-height:18px;}
#panel_dla_zalogowanych p{float:left;margin:30px 0 0 14px;text-align:right;line-height:20px;}
#pan_dla_zal{margin:0 auto;width:980px;height:80px;}
#pan_dla_zal_left{float:left;margin-top:20px;}
#pan_dla_zal_left input{margin:3px 0 0;color:#FFF;background-color:transparent;border:1px #999 solid;color:#999;font-size:11px;}
#pan_dla_zal_right{float:right;}
.moj_koszyk{float:right;background:url(../images/vertical_line_1x80.png);background-repeat:no-repeat;background-position:left top;}
#wrapper{width:980px;margin:0 auto;clear:both;}
#logo_glowne{height:150px;background:url(../images/staviori_main_logo_275x55.png) no-repeat center;}
#glowne_menu{width:980px;}
nav{text-align:center;background-color:#FFF;height:50px;line-height:50px;font-size:18px;font-family:Conv_main_font, Sans-Serif;border-bottom:1px #7F6E52 solid;border-top:1px #7F6E52 solid;margin-bottom:8px;}
nav li{display:inline;}
nav a{text-decoration:none;padding:8px 6px;}
nav a:link,nav a:visited{color:#7F6E52;}
nav a:hover{background-image:url(../images/nav_hover_1x40.png);background-color:#7F6E52;color:#FFF;}
#breadcrumbs{margin:0 0 5px 8px;}
#breadcrumbs a{color:#7F6E52;}
#breadcrumbs p{color:#7F6E52;}
#katalogi_wrapper{background-color:#EEE;color:#666;height:auto;float:left;width:237px;padding-bottom:25px;}
#katalogi{float:left;margin-right:8px;}
#katalogi ul{width:239px;list-style-type:none;}
#katalogi li a{background:url(../images/katalogi_hr_239x1.png) no-repeat bottom;}
#katalogi ul li a{text-decoration:none;color:#666;padding:10.5px 11px;background-color:#EEE;display:block;}
#katalogi ul li a:visited{color:#666;}
#katalogi ul li a:hover{color:#666;background:url(../images/katalogi_strzalka_wybrane_8x16.png) no-repeat left center;background-color:#FFF;}
#katalogi ul li .current{background:url(../images/katalogi_strzalka_wybrane_8x16.png) no-repeat left center;background-color:#FAFAFA;}
#slider-mniejszy,#tresc_733{color:#666;}
#slider-mniejszy{width:733px;height:165px;float:right; background:url(../images/slider_mniejszy_bransolety_733x165.jpg);margin-bottom:8px;}
#slider-mniejszy h2{font-size: 15px;font-family:inherit;margin:0 15px 5px 35px;}
#tresc_733{float:right;width:713px;margin-bottom:8px;padding:0 10px;position:relative;}
#wyszukiwanie_zaawansowane_block{float:right;width:733px;height:40px;line-height:40px;background:url(../images/wyszukiwanie_zaawansowane_appla_733x40.jpg);color:#333;}
#wyszukiwanie_zaawansowane_block a{color:#333;}
#wyszukiwanie_zaawansowane_block h3{margin:0 0 0 10px;color:#000;}
.wyszukiwanie_left{float:left;background:url(../images/ikona_lupa_40x40.png) right center no-repeat;padding-right:45px;}
.sortowanie{float:left;margin-left:25px;}
.model{float:right;margin-right:8px;}
.showhide{color:#666;cursor:pointer;padding:10.5px 11px;background-color:#EEE;}
#produkty{float:right;width:733px;box-sizing:}
.produkty_koszyk{height:31px;width:237px;position:absolute;bottom:0;background:url(../images/ramka_produkt_dol_239x31.jpg) no-repeat;margin:0 1px 0 1px;}
.products{float:left;height:240px;width:239px;background-color:#FFF;margin:8px 8px 0 0;position:relative;background: url(../images/ramka_produkt_gora_209x239.jpg);}
.products p,.products  h2,.products  h4,.products  h5,.products  h6{color:#666;padding:0 10px;font-size:12px;}
h6{font-size:20px;margin:0 10px;font-family:Conv_main_font, Arial, Sans-Serif;color:#666;}
.ikona_produktu{float:right;}
.ikona_produktu_left a{float:left;background:url(../images/ikona_produkt_koszyk_sprite_30x60.jpg);width:30px;height:30px;}
.ikona_produktu_left a:hover{background-position:0 -30px;}
.ikona_produktu_center a{background:url(../images/ikona_produkt_porownanie_sprite_30x60.jpg);width:30px;height:30px;float:right;}
.ikona_produktu_center a:hover{background-position:0 -30px;}
.ikona_produktu_right a{float:right;background:url(../images/ikona_produkt_obserwowane_sprite_30x60.jpg);width:30px;height:30px;}
.ikona_produktu_right a:hover{background-position:0 -30px;}
.cena{font-family:Conv_main_font, Arial, Sans-Serif;padding:0 10px;font-size:18px;}
.last{margin-right:0;}
.item{position:relative;}
.item img{margin:5px 25px 0 50px;}
.item .caption{padding:20px;background-color:rgba(255,255,255,0.7);background:rgba(255,255,255,0.7);color:rgba(255,255,255,0.7);-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2FFFFFF,endColorstr=#B2FFFFFF);/* IE8 */filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2FFFFFF,endColorstr=#B2FFFFFF);/* IE6 & 7 */zoom:1;cursor:pointer;height:160px;width:197px;position:absolute;color:#666;top:1px;left:1px;}
.item p,.item  h2,.item  h4,.item  h5,.item  h6{color:#666;margin:10px 0px 0px 0px; font-size: inherit; font-family: inherit;}
.item h3{font-size:20px;margin:0 10px;font-family:Conv_main_font, Arial, Sans-Serif;color:#666;}
.products a{color:#666;}
.item .caption h4{margin:8px 0px}
.item .caption a{color:#09c;display:block;font-size:14px;text-decoration:none;padding:15px;}
#opcje_info_poradnik{padding-bottom:20px;clear:both;background:
#EEE;}
#opcje_info_poradnik_980,#marcello_staviori_seo_tekst_980{margin:0 auto;width:980px;}
#informacje{float:left;width:320px;}
#opcje_info_poradnik h3{font-size:24px;margin:25px 15px 5px;color:#666;}
#opcje_info_poradnik li{margin-left:15px;}
#opcje,#poradnik{float:left;width:330px;}
#opcje form{margin-left:15px;}
.opcje_label{color:#666;display:block;width:120px;float:left;}
#opcje_info_poradnik select{color:#666;background-color:#FFF;border:1px #999 solid;width:125px;margin-bottom:2px;}
#informacje li,#poradnik li{margin-bottom:8px;width:125px;}
#informacje li a:hover,#poradnik li a:hover{}
#raty_paypal{margin:0 auto;width:980px;height:40px;}
#marcello_staviori_seo_tekst{padding:20px 0;background:
#EEE;}
#marcello_staviori_seo_tekst p{text-align:center;color:#666;font-size:10px;}
#copyright{padding:20px 0 40px;margin:0 auto;width:980px;}
#copyright p{color:#666;font-size:10px;}
#copyright a{color:#666;}
#katalogi_termin_inner_div,#katalogi_promocje_inner_div,#katalogi_inne_inner_div{margin:15px 0 0;padding:0 10px;border-image:url(../images/katalogi_hr_239x3.png);}
#Submit_container{text-align:right;margin:3px 0;}
.submit_ok{background:url(../images/nav_hover_1x40.png);padding:8px!important;color:#666!important;margin:0!important;font-size:15px;font-family:Conv_main_font, Sans-Serif;}
.hr_3px{background:url(../images/katalogi_hr_239x3.png) no-repeat center;height:3px;margin:6px 0 8px;}
#wyszukiwanie_zaawansowane .sfm_textbox{padding:1px;}
#wyszukiwanie_zaawansowane .sfm_textarea{padding:2px;resize:none;}
#wyszukiwanie_zaawansowane .sfm_auto_hide_text{color:#999!important;}
#wyszukiwanie_zaawansowane .error_strings{font-family:Verdana;font-size:12px;color:#600;}
#wyszukiwanie_zaawansowane img{border:0;}
#wyszukiwanie_zaawansowane .loading_div{background-color:transparent;background-image:url(images/loading.gif);background-position:center center;background-repeat:no-repeat;}
#wyszukiwanie_zaawansowane input[type=submit],input[type=reset]{font:inherit;color:inherit;}
#wyszukiwanie_zaawansowane .sfm_cr_box{font-family:Verdana;font-size:10px;color:#888;}
#wyszukiwanie_zaawansowane .sfm_cr_box a{color:#888;}
#wyszukiwanie_zaawansowane .form_outer_div{border:none;background-color:#fff;}
#wyszukiwanie_zaawansowane .sfm_form_label{background-color:transparent;}
#wyszukiwanie_zaawansowane .element_label{background-color:transparent;}
body#sfm_wyszukiwanie_zaawansowane_body{background-color:transparent;font-family:Arial;font-size:12px;color:#666;margin:0;}
#wyszukiwanie_zaawansowane .form_outer_div{font-family:Arial;font-size:12px;color:#666;}
#wyszukiwanie_zaawansowane .form_subheading{background-color:transparent;margin:0;padding:0;}
#wyszukiwanie_zaawansowane .sfm_float_error_box{font-family:Verdana;font-size:12px;color:#eee;background:none repeat scroll 0 0 #333;border:0;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;box-shadow:0 0 4px #333;border:none;}
#wyszukiwanie_zaawansowane .sfm_close_box{font-family:Verdana;font-size:12px;color:#eee;}
#wyszukiwanie_zaawansowane .progress_box_container{border:1px solid #8e8e8e;background-color:#ccc;font-family:Arial;font-size:10px;color:#fff;text-align:center;vertical-align:middle;}
#wyszukiwanie_zaawansowane .progress_box{background-color:#333;width:2px;float:left;margin:2px;}
#wyszukiwanie_zaawansowane .page_heading{background-color:transparent;margin:0;padding:0;}
#wyszukiwanie_zaawansowane .page_number{background-color:transparent;}
#wyszukiwanie_zaawansowane #tb99c6e6c242e094df467{width:5px;height:5px;display:none;}
#wyszukiwanie_zaawansowane #label6_container{position:absolute;left:44px;top:54px;width:60px;height:20px;z-index:46;}
#wyszukiwanie_zaawansowane #label6{position:absolute;top:3px;left:0;text-align:left;}
#wyszukiwanie_zaawansowane #label7_container{position:absolute;left:233px;top:54px;width:60px;height:20px;z-index:47;}
#wyszukiwanie_zaawansowane #label7{position:absolute;top:3px;left:0;text-align:left;}
#wyszukiwanie_zaawansowane #label10_container{position:absolute;left:557px;top:54px;width:136px;height:20px;z-index:50;}
#wyszukiwanie_zaawansowane #label10{position:absolute;top:3px;left:0;text-align:left;}
#wyszukiwanie_zaawansowane #CheckBox333_container{position:absolute;left:44px;top:88px;width:151px;height:14px;z-index:1;}
#wyszukiwanie_zaawansowane #CheckBoxSzBry_container{position:absolute;left:233px;top:88px;width:151px;height:14px;z-index:13;}
#wyszukiwanie_zaawansowane #CheckBoxSzaf_container{position:absolute;left:557px;top:88px;width:80px;height:14px;z-index:27;}
#wyszukiwanie_zaawansowane #label11_container{position:absolute;left:399px;top:82px;width:108px;height:20px;z-index:51;}
#wyszukiwanie_zaawansowane #label11{position:absolute;top:3px;left:0;text-align:left;}
#wyszukiwanie_zaawansowane #CheckBox585_container{position:absolute;left:44px;top:122px;width:151px;height:14px;z-index:2;}
#wyszukiwanie_zaawansowane #CheckBoxSzBag_container{position:absolute;left:233px;top:122px;width:116px;height:14px;z-index:14;}
#wyszukiwanie_zaawansowane #CheckBoxKolCzar_container{position:absolute;left:399px;top:122px;width:135px;height:14px;z-index:22;}
#wyszukiwanie_zaawansowane #CheckBoxRubi_container{position:absolute;left:557px;top:122px;width:80px;height:14px;z-index:28;}
#wyszukiwanie_zaawansowane #CheckBox750_container{position:absolute;left:44px;top:156px;width:151px;height:14px;z-index:3;}
#wyszukiwanie_zaawansowane #CheckBoxSzPri_container{position:absolute;left:233px;top:156px;width:110px;height:14px;z-index:15;}
#wyszukiwanie_zaawansowane #CheckBoxKolSzamp_container{position:absolute;left:399px;top:156px;width:128px;height:14px;z-index:23;}
#wyszukiwanie_zaawansowane #CheckBoxSzmara_container{position:absolute;left:557px;top:156px;width:93px;height:14px;z-index:29;}
#wyszukiwanie_zaawansowane #CheckBoxSzMar_container{position:absolute;left:233px;top:190px;width:99px;height:14px;z-index:16;}
#wyszukiwanie_zaawansowane #CheckBoxKolCzek_container{position:absolute;left:399px;top:190px;width:133px;height:14px;z-index:24;}
#wyszukiwanie_zaawansowane #CheckBoxTan_container{position:absolute;left:557px;top:190px;width:92px;height:14px;z-index:30;}
#wyszukiwanie_zaawansowane #label8_container{position:absolute;left:44px;top:196px;width:60px;height:20px;z-index:48;}
#wyszukiwanie_zaawansowane #label8{position:absolute;top:3px;left:0;text-align:left;}
#wyszukiwanie_zaawansowane #CheckBoxSzSzm_container{position:absolute;left:233px;top:224px;width:135px;height:14px;z-index:17;}
#wyszukiwanie_zaawansowane #CheckBoxkolRoz_container{position:absolute;left:399px;top:224px;width:103px;height:14px;z-index:25;}
#wyszukiwanie_zaawansowane #CheckBoxAmet_container{position:absolute;left:557px;top:224px;width:80px;height:14px;z-index:31;}
#wyszukiwanie_zaawansowane #CheckBoxZolte_container{position:absolute;left:44px;top:230px;width:151px;height:14px;z-index:4;}
#wyszukiwanie_zaawansowane #CheckBoxSzRoz_container{position:absolute;left:233px;top:258px;width:130px;height:14px;z-index:18;}
#wyszukiwanie_zaawansowane #CheckBoxKolZol_container{position:absolute;left:399px;top:258px;width:80px;height:14px;z-index:26;}
#wyszukiwanie_zaawansowane #CheckBoxInne_container{position:absolute;left:557px;top:258px;width:80px;height:14px;z-index:32;}
#wyszukiwanie_zaawansowane #CheckBoxBiale_container{position:absolute;left:44px;top:264px;width:151px;height:14px;z-index:5;}
#wyszukiwanie_zaawansowane #CheckBoxSzAch_container{position:absolute;left:233px;top:292px;width:123px;height:14px;z-index:19;}
#wyszukiwanie_zaawansowane #CheckBoxCzarne_container{position:absolute;left:44px;top:298px;width:151px;height:14px;z-index:6;}
#wyszukiwanie_zaawansowane #CheckBoxSzSer_container{position:absolute;left:233px;top:326px;width:92px;height:14px;z-index:20;}
#wyszukiwanie_zaawansowane #CheckBoxRoz_container{position:absolute;left:44px;top:332px;width:151px;height:14px;z-index:7;}
#wyszukiwanie_zaawansowane #CheckBoxSzGru_container{position:absolute;left:233px;top:360px;width:92px;height:14px;z-index:21;}
#wyszukiwanie_zaawansowane #CheckBoxWielo_container{position:absolute;left:44px;top:366px;width:151px;height:14px;z-index:8;}
#wyszukiwanie_zaawansowane #CheckBoxJedno_container{position:absolute;left:44px;top:400px;width:151px;height:14px;z-index:9;}
#wyszukiwanie_zaawansowane #label1_container{position:absolute;left:233px;top:404px;width:46px;height:20px;z-index:36;}
#wyszukiwanie_zaawansowane #label1{position:absolute;top:3px;left:0;text-align:left;}
#wyszukiwanie_zaawansowane #DropdownListBarwa_container{position:absolute;left:233px;top:424px;z-index:35;}
#wyszukiwanie_zaawansowane #DropdownListBarwa{float:left;width:120px;height:22px;z-index:35;}
#wyszukiwanie_zaawansowane #DropdownListBarwaDo_container{position:absolute;left:375px;top:424px;z-index:44;}
#wyszukiwanie_zaawansowane #DropdownListBarwaDo{float:left;width:120px;height:22px;z-index:44;}
#wyszukiwanie_zaawansowane #label9_container{position:absolute;left:44px;top:440px;width:60px;height:20px;z-index:49;}
#wyszukiwanie_zaawansowane #label9{position:absolute;top:3px;left:0;text-align:left;}
#wyszukiwanie_zaawansowane #label2_container{position:absolute;left:233px;top:454px;width:101px;height:20px;z-index:37;}
#wyszukiwanie_zaawansowane #label2{position:absolute;top:3px;left:0;text-align:left;}
#wyszukiwanie_zaawansowane #CheckBoxRod_container{position:absolute;left:44px;top:474px;width:151px;height:14px;z-index:10;}
#wyszukiwanie_zaawansowane #Dropdownczystosc_container{position:absolute;left:233px;top:474px;z-index:38;}
#wyszukiwanie_zaawansowane #Dropdownczystosc{float:left;width:120px;height:22px;z-index:38;}
#wyszukiwanie_zaawansowane #DropdownczystoscDo_container{position:absolute;left:375px;top:474px;z-index:45;}
#wyszukiwanie_zaawansowane #DropdownczystoscDo{float:left;width:120px;height:22px;z-index:45;}
#wyszukiwanie_zaawansowane #CheckBoxNierod_container{position:absolute;left:44px;top:508px;width:151px;height:14px;z-index:11;}
#wyszukiwanie_zaawansowane #label4_container{position:absolute;left:285px;top:521px;width:24px;height:20px;z-index:41;}
#wyszukiwanie_zaawansowane #label4{position:absolute;top:3px;left:0;text-align:left;}
#wyszukiwanie_zaawansowane #label5_container{position:absolute;left:402px;top:521px;width:22px;height:20px;z-index:42;}
#wyszukiwanie_zaawansowane #label5{position:absolute;top:3px;left:0;text-align:left;}
#wyszukiwanie_zaawansowane #label3_container{position:absolute;left:233px;top:521px;width:49px;height:20px;z-index:39;}
#wyszukiwanie_zaawansowane #label3{position:absolute;top:3px;left:0;text-align:left;}
#wyszukiwanie_zaawansowane #DropdownMasaOd_container{position:absolute;left:311px;top:519px;z-index:40;}
#wyszukiwanie_zaawansowane #DropdownMasaOd{float:left;width:69px;height:22px;z-index:40;}
#wyszukiwanie_zaawansowane #DropdownMasaDo_container{position:absolute;left:428px;top:519px;z-index:43;}
#wyszukiwanie_zaawansowane #DropdownMasaDo{float:left;width:69px;height:22px;z-index:43;}
#wyszukiwanie_zaawansowane #CheckBoxZlo_container{position:absolute;left:44px;top:542px;width:151px;height:14px;z-index:12;}
#wyszukiwanie_zaawansowane #Submit_container{position:absolute;left:611px;top:594px;width:80px;z-index:34;text-align:center;}
#wyszukiwanie_zaawansowane #Reset_container{position:absolute;left:44px;top:594px;width:150px;z-index:33;text-align:center;}
#paginacja {
	height: 46px;
	margin: 8px auto 8px;
	width: 980px;
	background: #EEE;
	color: #666;
	text-align: center;
}
#paginacja a {
	color: #666;
}
#paginacja ul {
	display: inline-block;
	margin: 8px 0 8px 0;
	zoom: 1;
 *display: inline;
}
#paginacja li {
	float: left;
	line-height: 28px;
	margin: 0 3px 0 3px;
}
.paginacja_przewin_do_poczatku {
	background: url(../images/paginacja_first_30x60.jpg);
	width: 30px;
	height: 30px;
}
a:hover .paginacja_przewin_do_poczatku {
	background-position: 0 -30px;
}
.paginacja_w_lewo {
	background: url(../images/paginacja_previous_30x60.jpg);
	width: 30px;
	height: 30px;
}
a:hover .paginacja_w_lewo {
background-position: 0 -30px;
}
.paginacja_numery {
	background: url(../images/paginacja_30x60.jpg);
	width: 30px;
	height: 30px;
}
a:hover .paginacja_numery {
background-position: 0 -30px;
}

.paginacja_w_prawo {
	background: url(../images/paginacja_next_30x60.jpg);
	width: 30px;
	height: 30px;
}
a:hover .paginacja_w_prawo {
background-position: 0 -30px;
}
.paginacja_przewin_do_konca {
	background: url(../images/paginacja_last_30x60.jpg);
	width: 30px;
	height: 30px;
}
a:hover .paginacja_przewin_do_konca {
background-position: 0 -30px;
}
a .active_number {background: url(../images/paginacja_30x60.jpg); background-position: 0 -30px;	width: 30px;
	height: 30px;}
	
#tresc_733 input[type=checkbox].css-checkbox {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
#tresc_733 input[type=checkbox].css-checkbox + label.css-label {
	padding-left: 20px;
	height: 14px;
	line-height: 13px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 13px;
	vertical-align: middle;
	cursor: pointer;
}
#tresc_733 input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -14px;
}
#tresc_733 .css-label {
	background-image: url(images/checkbox_14x28px_2.png);
}


#tesc_733 {
	background:url(images/wyszukiwanie_zaawansowane_bg_733x650.jpg);

}
.col1, .col2, .col3, .col4 {margin:10px 10px 15px; float: left; width: 155px;}
.col1 legend, .col2 legend, .col3 legend, .col4 legend {padding: 8px 0px;}
.col1 label, .col3 label {margin: 8px 0px;display:block;}

.clear {
	clear: both;
}
.float_fieldset {
	float: left;
}
fieldset {
	border: 0;
}
#tresc_733 #Submit_container {
    padding-right:3px;
}

#tresc_733 #Submit_container input{
    background: url("../images/filtruj.png") no-repeat scroll 0 0 transparent;
	  color: #000000;
	  cursor: pointer;
	  font-weight: bold;
	  height: 30px;
	  width: 90px;
	  text-indent:-100000px;
	  border:none;
	  position:absolute;
	  right:20px;
	  bottom:20px
}

#tresc_733 #Submit_container input:hover{
    background: url("../images/filtruj.png") no-repeat scroll 0 -30px transparent;
}

#tresc_733 #Submit_container.lang-cz input{
    background: url("../images/filtruj_cz.png") no-repeat scroll 0 0 transparent;
}

	#tresc_733 #Submit_container.lang-cz input:hover{
		background: url("../images/filtruj_cz.png") no-repeat scroll 0 -30px transparent;
	}

#tresc_733 #Submit_container.lang-uk input,
#tresc_733 #Submit_container.lang-en input{
    background: url("../images/filtruj_en.png") no-repeat scroll 0 0 transparent;
}

	#tresc_733 #Submit_container.lang-uk input:hover,
	#tresc_733 #Submit_container.lang-en input:hover{
		background: url("../images/filtruj_en.png") no-repeat scroll 0 -30px transparent;
	}

.padd_bottom{padding:30px 0 20px 0;}
.padd_left_bottom{padding:0 18px 20px 10px;}
.masa {margin-bottom:15px;}
.masa legend {float:left;margin:0 20px 0 10px; line-height:6px;}
.masa input {width:65px;}
#Submit_wysz_zaawansowane{
background: url("images/nav_hover_1x40.png");
color:#5F503A !important;
font-family: "Conv_main_font", sans-serif;
font-size: 15px;
margin: 0 15px 10px 0 !important;
padding: 8px !important;
cursor:pointer;
border: none;
float:right;
}
.submit_ok {
background:#8F8F8F;
color:#FFF !important;
font-family: "Conv_main_font", sans-serif;
font-size: 15px;
margin: 0 0 0 35px !important;
padding: 8px !important;
cursor:pointer;
border: none;
float:left;
font-family:Arial, Helvetica, sans-serif;font-size:13px;
}
.szukaj{
background:#8C7351;
border:solid 1px #8C7351;
color:#FFF;
font-family:Conv_main_font, Sans-Serif;
font-size:16px;
cursor:pointer;
}
.Submit{
background:#8F8F8F;
cursor:pointer;
border:solid 1px #8F8F8F;
color:#FFF;
margin: 3px 0px;
float: right;
font-family:Conv_main_font, Sans-Serif;
font-size:16px;
}
.katalogi_checkbox {padding:0 11px 0 11px;}
.hr_3px {clear:both;}	
