#informacje li,#poradnik li,#opcje li,#regulamin li{margin-bottom:8px;width:125px;}
#informacje li:hover,#poradnik li:hover,#opcje li:hover,#regulamin li:hover{background:#666;}
#linki li{margin-bottom:8px;width:150px;}
#linki li a:hover{background:#000;}
#fb1 {
        width: 20px; height: 20px;
        background: url('../images/ikona_facebook_20x40.jpg') no-repeat left top;
        display:block;
    }
#fb1:hover { background-position: 0px -20px }
#fb2 {
        width: 20px; height: 20px;
        background: url('../images/ikona_googleplus_20x40.jpg') no-repeat left top;
        display:block;
    }
#fb2:hover { background-position: 0px -20px }
#fb3 {
        width: 20px; height: 20px;
        background: url('../images/ikona_twitter_20x40.jpg') no-repeat left top;
        display:block;
    }
#fb3:hover { background-position: 0px -20px }

#opcje, #poradnik,#informacje,#regulamin { float: left; width: 245px; }
#opcje_info_poradnik select {width: 85px;} 
input,textarea,select{
    padding:5px 10px;
    font-family: Arial, Helvetica;
}
#panel_dla_zalogowanych #pan_dla_zal_left {
    margin-top:0px !important;
}
#panel_dla_zalogowanych #pan_dla_zal_left input {
    margin-top:0px !important;
}
#panel_dla_zalogowanych #pan_dla_zal_left .szukaj {
    font-family: Arial, Helvetica !important;
}
#panel_dla_zalogowanych .search-model {
    border-top: 1px solid #ddd;
    padding-top: 9px;
margin-top: 5px;
}

#panel_dla_zalogowanych .search-model.logged {
    border-top: 1px solid #ddd;
padding-top: 13px;
margin-top: 15px;
}
#panel_dla_zalogowanych .search-model input[type="text"]{
    width:100px;
}
#wyszukiwanie_zaawansowane_block .sortowanie {
    margin-left:15px;
}

#wyszukiwanie_zaawansowane_block .sortowanie,
#wyszukiwanie_zaawansowane_block .search {
    margin-right:10px;
}

#pan_dla_zal_left h3 {
    margin-top:5px;
}
#wyszukiwanie_zaawansowane_block .search {
    float:right;
}
.produkty_koszyk input {
    padding:0px;
}