/* RESET */html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"";content:none;}
table{border-collapse:collapse;border-spacing:0;}
main{display:block;}
.clear{clear:both;}
.floatLeft{float:left;}
.floatRight{float:right;}
/* RESZTA */body{color:#FFF;background-color:#181818;font-family:Arial, Helvetica, sans-serif;font-size:13px;background-image:url(../images/bg_main_460x460.jpg);}
h1,h2,h3,h4,h5,h6{font-weight:400;color:#666;}
h1{font-size:30px;padding:0 0 5px 0;font-family:Conv_main_font, Arial, Sans-Serif;}
h2{font-size:25px;padding:0 0 5px 35px;font-family:Conv_main_font, Arial, Sans-Serif;}
h3{font-size:20px;padding:0 0 5px 0;font-family:Conv_main_font, Arial, Sans-Serif;}
p{font-family:Arial, Helvetica, sans-serif;font-size:13px;}
a:link{color:#FFF;text-decoration:none;}
a:visited{color:#FFF;text-decoration:none;}
a:hover{color:#FFF;}
a:active{color:#FFF;}
#pasek_gora{width:980px;height:40px;margin:10px auto 0;}
#facebook_button{float:left;margin-top:4px;}
.fb_margin{margin-left:10px;}
.rejestracja{background:url(../images/nav_hover_1x40.png);padding:0 5px;}
.rejestracja a{color:#000;}
#logowanie{float:right;}
#logowanie p{font-family:Conv_main_font, Sans-Serif;font-size:18px;}
#panel_dla_zalogowanych{width:auto;height:90px;padding-top:10px;margin:0 auto;background:url(../images/bg_light_10x10.png);}
#panel_dla_zalogowanych p{float:left;margin:30px 0 0 14px;text-align:right;line-height:20px;}
#pan_dla_zal{margin:0 auto;width:980px;height:80px;}
#pan_dla_zal_left{float:left;margin-top:20px;}
#pan_dla_zal_left input{margin:3px 0 0;color:#FFF;background-color:transparent;border:1px #999 solid;color:#999;font-size:11px;}
#pan_dla_zal_right{float:right;}
.moj_koszyk{float:right;background:url(../images/vertical_line_1x80.png);background-repeat:no-repeat;background-position:left top;}
#wrapper{width:980px;margin:0 auto;clear:both;}
#logo_glowne{height:150px;background: url(../images/staviori_main_logo_white_275x55.png) no-repeat center;}
#glowne_menu{width:980px;}
nav{text-align:center;background-color:#000;height:50px;line-height:50px;font-size:18px;font-family:Conv_main_font, Sans-Serif;border-bottom:1px #7F6E52 solid;border-top:1px #7F6E52 solid;margin-bottom:8px;}
nav li{display:inline;}
nav a{text-decoration:none;padding:8px 6px;}
nav a:link,nav a:visited{color:#7F6E52;}
nav a:hover{background-image:url(../images/nav_hover_1x40.png);background-color:#7F6E52;color:#000;}
#breadcrumbs{margin:0 0 5px 8px;}
#breadcrumbs a{color:#7F6E52;}
#breadcrumbs p{color:#7F6E52;}
#tresc_980{background:#FFF;color:#666;padding-bottom:55px;}
#tresc_980 h2{padding:0 15px 5px 0;margin:0;}
#tresc_980_label{font-family:Conv_main_font, Arial, Sans-Serif;margin:25px 85px 0 35px;font-size:16px;}
#container{width:980px;margin:0 auto;background-color:#CCC;}
#container ul{width:980px;overflow:hidden;list-style-type:none;float:left;}
#container li{float:left;width:196px;padding:0;background-color:#CCC;font-family:Conv_main_font, Arial, Sans-Serif;font-size:18px;}
#container{text-decoration:none;color:#666;text-align:center;display:block;height:42px;line-height:42px;white-space:nowrap;overflow:hidden;font-size:.9em;width:auto;}
#container .active{background:#FFF;}
#linia_horizontal{background:url(../images/linia_horyzontalna_980x5.jpg);height:5px;margin:15px 0 0;}
#linia_horizontal_cienka_szara{border:1px solid #CCC;clear:both;margin-top:18px;}
#opcje_info_poradnik{padding-bottom:20px;clear:both;background-image:url(../images/bg_dark_10x10.png);}
#opcje_info_poradnik_980,#marcello_staviori_seo_tekst_980{margin:0 auto;width:980px;}
#informacje{float:left;width:320px;}
#opcje_info_poradnik h3{font-size:24px;margin:25px 15px 5px;padding:0;color:#FFF;}
#opcje_info_poradnik li{margin-left:15px;}
#opcje,#poradnik{float:left;width:330px;}
#opcje form{margin-left:15px;}
.opcje_label{color:#FFF;display:block;width:120px;float:left;}
#opcje_info_poradnik select{color:#999;background-color:#000;border:1px #999 solid;width:125px;margin-bottom:2px;}
#informacje li,#poradnik li{margin-bottom:8px;width:125px;}
#informacje li:hover,#poradnik li:hover{background:#666;}
#raty_paypal{margin:0 auto;width:980px;height:40px;}
#marcello_staviori_seo_tekst{padding:20px 0;background-image:url(../images/bg_dark_10x10.png);}
#marcello_staviori_seo_tekst p{text-align:center;color:#666;font-size:10px;}
#copyright{padding:20px 0 40px;margin:0 auto;width:980px;}
#copyright p{color:#666;font-size:10px;}
#copyright a{color:#666;}
.last{margin-right:0!important;}
