/* RESET */html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"";content:none;}
table{border-collapse:collapse;border-spacing:0;}
main{display:block;}
.clear{clear:both;}
.floatLeft{float:left;}
.floatRight{float:right;}
/* RESZTA */body{color:#FFF;background-color:#181818;font-family:Arial, Helvetica, sans-serif;font-size:13px;background-image:url(../images/bg_main_460x460.jpg);}
h1,h2,h3,h4,h5,h6{font-weight:400;}
h1{font-size:30px;margin:35px 15px 5px 35px;font-family:Conv_main_font, Arial, Sans-Serif;}
h2{font-size:25px;margin:35px 15px 5px 35px;font-family:Conv_main_font, Arial, Sans-Serif;}
h3{font-size:20px;margin:35px 15px 5px 35px;font-family:Conv_main_font, Arial, Sans-Serif;}
p{font-family:Arial, Helvetica, sans-serif;font-size:13px;}
a:link{color:#FFF;text-decoration:none;}
a:visited{color:#FFF;text-decoration:none;}
a:hover{color:#FFF;}
a:active{color:#FFF;}
#pasek_gora{width:980px;height:40px;margin:10px auto 0;}
#facebook_button{float:left;margin-top:4px;}
.fb_margin{margin-left:10px;}
.rejestracja{background:url(../images/nav_hover_1x40.png);padding:0 5px;}
.rejestracja a{color:#000;}
#logowanie{float:right;}
#logowanie p{font-family:Conv_main_font, Sans-Serif;font-size:18px;}
#panel_dla_zalogowanych{width:auto;height:90px;padding-top:10px;margin:0 auto;background:url(../images/bg_light_10x10.png);}
#panel_dla_zalogowanych p{float:left;margin:30px 0 0 14px;text-align:right;line-height:20px;}
#pan_dla_zal{margin:0 auto;width:980px;height:80px;}
#pan_dla_zal_left{float:left;margin-top:20px;}
#pan_dla_zal_left input{margin:3px 0 0;color:#FFF;background-color:transparent;border:1px #999 solid;color:#999;font-size:11px;}
#pan_dla_zal_right{float:right;}
.moj_koszyk{float:right;background:url(../images/vertical_line_1x80.png);background-repeat:no-repeat;background-position:left top;}
#wrapper{width:980px;margin:0 auto;clear:both;}
#logo_glowne{height:150px;background: url(../images/staviori_main_logo_white_275x55.png) no-repeat center;}
#glowne_menu{width:980px;}
nav{text-align:center;background-color:#000;height:50px;line-height:50px;font-size:18px;font-family:Conv_main_font, Sans-Serif;border-bottom:1px #7F6E52 solid;border-top:1px #7F6E52 solid;margin-bottom:8px;}
nav li{display:inline;}
nav a{text-decoration:none;padding:8px 6px;}
nav a:link,nav a:visited{color:#7F6E52;}
nav a:hover{background-image:url(../images/nav_hover_1x40.png);background-color:#7F6E52;color:#000;}
#breadcrumbs{margin:0 0 5px 8px;}
#breadcrumbs a{color:#7F6E52;}
#breadcrumbs p{color:#7F6E52;}
#tresc_980{background:#FFF;color:#666;padding-bottom:55px;}
#tresc_980 h2{padding:0 15px 5px 0;margin:0;}
#tresc_980_label{font-family:Conv_main_font, Arial, Sans-Serif;margin:25px 85px 0 35px;font-size:16px;}
#container{width:980px;margin:0 auto;background-color:#CCC;}
#container ul{width:980px;overflow:hidden;list-style-type:none;float:left;}
#container li{float:left;width:196px;padding:0;background-color:#CCC;font-family:Conv_main_font, Arial, Sans-Serif;font-size:18px;}
#container{text-decoration:none;color:#333;text-align:center;display:block;height:42px;line-height:42px;white-space:nowrap;overflow:hidden;font-size:.9em;width:auto;}
#container .active{background:#FFF;}
#linia_horizontal{background:url(../images/linia_horyzontalna_980x5.jpg);height:5px;margin:15px 0 0;}
#wartosc_produktow_w_koszyku{float:right;margin-top:15px;font-size:16px;font-family:Conv_main_font, Arial, Sans-Serif;color:#C96;}
.wartosc{font-size:18px;font-family:Arial, Helvetica, sans-serif;margin:0 35px;color:#C96;}
#linia_horizontal_cienka_zloto{border:1px solid #C96;clear:both;margin-top:18px;}
#linia_horizontal_cienka_szara{border:1px solid #CCC;clear:both;margin-top:18px;}
#przyciski_dol li{padding:7px;margin-top:20px;margin-bottom:5px;font-family:Conv_main_font, Sans-Serif;font-size:20px;}
.przyciski_dol_left{float:left;width:200px;background:#999;}
.przyciski_dol_right_2{float:right;width:170px;background:url(../images/nav_hover_1x40.png);margin-left:15px;}
#opcje_info_poradnik{padding-bottom:20px;clear:both;background-image:url(../images/bg_dark_10x10.png);}
#opcje_info_poradnik_980,#marcello_staviori_seo_tekst_980{margin:0 auto;width:980px;}
#informacje{float:left;width:320px;}
#opcje_info_poradnik h3{font-size:24px;margin:25px 15px 5px;padding:0;color:#FFF;}
#opcje_info_poradnik li{margin-left:15px;}
#opcje,#poradnik{float:left;width:330px;}
#opcje form{margin-left:15px;}
.opcje_label{color:#FFF;display:block;width:120px;float:left;}
#opcje_info_poradnik select{color:#999;background-color:#000;border:1px #999 solid;width:125px;margin-bottom:2px;}
#informacje li,#poradnik li{margin-bottom:8px;width:125px;}
#informacje li:hover,#poradnik li:hover{background:#666;}
#raty_paypal{margin:0 auto;width:980px;height:40px;}
#marcello_staviori_seo_tekst{padding:20px 0;background-image:url(../images/bg_dark_10x10.png);}
#marcello_staviori_seo_tekst p{text-align:center;color:#666;font-size:10px;}
#copyright{padding:20px 0 40px;margin:0 auto;width:980px;}
#copyright p{color:#666;font-size:10px;}
#copyright a{color:#666;}
.last{margin-right:0!important;}
#rejestracja .sfm_textbox{padding:1px;}
#rejestracja .sfm_textarea{padding:2px;resize:none;}
#rejestracja .sfm_auto_hide_text{color:#999!important;}
#rejestracja .error_strings{font-family:Verdana;font-size:12px;color:#600;}
#rejestracja img{border:0;}
#rejestracja .loading_div{background-color:transparent;background-image:url(images/loading.gif);background-position:center center;background-repeat:no-repeat;}
#rejestracja input[type=submit],input[type=reset]{font:inherit;color:inherit;}
#rejestracja .sfm_cr_box{font-family:Verdana;font-size:10px;color:#888;}
#rejestracja .sfm_cr_box a{color:#888;}
#rejestracja .form_outer_div{border:none;background-color:#fff;}
#rejestracja .sfm_form_label{background-color:transparent;}
#rejestracja .element_label{background-color:transparent;}
body#sfm_rejestracja_body{background-color:transparent;font-family:Arial;font-size:12px;color:#000;margin:0;}
#rejestracja .form_outer_div{font-family:Arial;font-size:12px;color:#000;}
#rejestracja .form_subheading{background-color:transparent;margin:0;padding:0;}
#rejestracja .sfm_float_error_box{font-family:Verdana;font-size:12px;color:#eee;background-color:rgba(0,0,0,0.3);background:rgba(0,0,0,0.3);color:rgba(0,0,0,0.3);border:0;border:none;}
#rejestracja .sfm_close_box{font-family:Verdana;font-size:12px;color:#eee;}
#rejestracja .progress_box_container{border:1px solid #8e8e8e;background-color:#ccc;font-family:Arial;font-size:10px;color:#fff;text-align:center;vertical-align:middle;}
#rejestracja .progress_box{background-color:#333;width:2px;float:left;margin:2px;}
#rejestracja .page_heading{background-color:transparent;margin:0;padding:0;}
#rejestracja .page_number{background-color:transparent;}
#rejestracja #tab92247ff8cf5c67363f{width:5px;height:5px;display:none;}
#rejestracja #label_container{position:absolute;left:35px;top:16px;width:60px;height:20px;z-index:13;}
#rejestracja #label{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #label1_container{position:absolute;left:310px;top:16px;width:104px;height:20px;z-index:14;}
#rejestracja #label1{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #Email_container{position:absolute;left:35px;top:41px;z-index:2;}
#rejestracja #Email{float:left;width:239px;z-index:2;}
#rejestracja #powtorzemail_container{position:absolute;left:310px;top:41px;z-index:3;}
#rejestracja #powtorzemail{float:left;width:239px;z-index:3;}
#rejestracja #label9_container{position:absolute;left:310px;top:67px;width:60px;height:20px;z-index:20;}
#rejestracja #label9{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #label4_container{position:absolute;left:35px;top:67px;width:60px;height:20px;z-index:15;}
#rejestracja #label4{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #kraje_container{position:absolute;left:310px;top:92px;z-index:9;}
#rejestracja #kraje{float:left;width:245px;height:22px;z-index:9;}
#rejestracja #name_container{position:absolute;left:35px;top:92px;z-index:4;}
#rejestracja #name{float:left;width:239px;z-index:4;}
#rejestracja #label5_container{position:absolute;left:35px;top:117px;width:60px;height:20px;z-index:16;}
#rejestracja #label5{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #label10_container{position:absolute;left:311px;top:117px;width:60px;height:20px;z-index:21;}
#rejestracja #label10{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #surname_container{position:absolute;left:35px;top:142px;z-index:5;}
#rejestracja #surname{float:left;width:239px;z-index:5;}
#rejestracja #telefon_container{position:absolute;left:311px;top:142px;z-index:10;}
#rejestracja #telefon{float:left;width:239px;z-index:10;}
#rejestracja #label11_container{position:absolute;left:310px;top:167px;width:89px;height:20px;z-index:22;}
#rejestracja #label11{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #label6_container{position:absolute;left:34px;top:167px;width:60px;height:20px;z-index:17;}
#rejestracja #label6{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #nazwafirmy_container{position:absolute;left:310px;top:192px;z-index:11;}
#rejestracja #nazwafirmy{float:left;width:239px;z-index:11;}
#rejestracja #street_container{position:absolute;left:35px;top:192px;z-index:6;}
#rejestracja #street{float:left;width:239px;z-index:6;}
#rejestracja #label12_container{position:absolute;left:310px;top:217px;width:60px;height:20px;z-index:23;}
#rejestracja #label12{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #label8_container{position:absolute;left:156px;top:217px;width:60px;height:20px;z-index:19;}
#rejestracja #label8{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #label7_container{position:absolute;left:35px;top:217px;width:99px;height:20px;z-index:18;}
#rejestracja #label7{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #nip_container{position:absolute;left:310px;top:247px;z-index:12;}
#rejestracja #nip{float:left;width:239px;z-index:12;}
#rejestracja #miasto_container{position:absolute;left:156px;top:247px;z-index:7;}
#rejestracja #miasto{float:left;width:119px;z-index:7;}
#rejestracja #kod_container{position:absolute;left:35px;top:247px;z-index:8;}
#rejestracja #kod{float:left;width:94px;z-index:8;}
#rejestracja #CheckBoxSingleAdres_container{position:absolute;left:35px;top:312px;width:230px;height:14px;z-index:24;}
#rejestracja #label13_container{position:absolute;left:35px;top:360px;width:60px;height:20px;z-index:32;}
#rejestracja #label13{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #label18_container{position:absolute;left:310px;top:360px;width:60px;height:20px;z-index:37;}
#rejestracja #label18{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #imieplus_container{position:absolute;left:35px;top:385px;z-index:25;}
#rejestracja #imieplus{float:left;width:239px;z-index:25;}
#rejestracja #krajplus_container{position:absolute;left:310px;top:385px;z-index:30;}
#rejestracja #krajplus{float:left;width:245px;height:22px;z-index:30;}
#rejestracja #label14_container{position:absolute;left:35px;top:410px;width:60px;height:20px;z-index:33;}
#rejestracja #label14{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #label19_container{position:absolute;left:310px;top:410px;width:60px;height:20px;z-index:38;}
#rejestracja #label19{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #surnameplus_container{position:absolute;left:35px;top:435px;z-index:26;}
#rejestracja #surnameplus{float:left;width:239px;z-index:26;}
#rejestracja #telefonplus_container{position:absolute;left:310px;top:435px;z-index:31;}
#rejestracja #telefonplus{float:left;width:239px;z-index:31;}
#rejestracja #label15_container{position:absolute;left:35px;top:460px;width:60px;height:20px;z-index:34;}
#rejestracja #label15{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #ulicaplus_container{position:absolute;left:35px;top:485px;z-index:27;}
#rejestracja #ulicaplus{float:left;width:239px;z-index:27;}
#rejestracja #label16_container{position:absolute;left:35px;top:510px;width:100px;height:20px;z-index:35;}
#rejestracja #label16{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #label17_container{position:absolute;left:156px;top:510px;width:60px;height:20px;z-index:36;}
#rejestracja #label17{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #miastoplus_container{position:absolute;left:156px;top:535px;z-index:29;}
#rejestracja #miastoplus{float:left;width:119px;z-index:29;}
#rejestracja #kodplus_container{position:absolute;left:35px;top:535px;z-index:28;}
#rejestracja #kodplus{float:left;width:94px;z-index:28;}
#rejestracja #label20_container{position:absolute;left:35px;top:596px;width:156px;height:27px;z-index:1;}
#rejestracja #label20{position:absolute;left:0;top:0;text-align:left;font-family:Arial;font-size:13pt;color:#000;}
#rejestracja #CheckBoxSingleRegulamin_container{position:absolute;left:35px;top:639px;width:387px;height:14px;z-index:39;}
#rejestracja #Submit_container{position:absolute;left:477px;top:692px;width:80px;height:25px;z-index:40;text-align:center;}
.submit_ok{background:url(../images/nav_hover_1x40.png);padding:8px!important;color:#000!important;margin:0!important;font-size:15px;font-family:Conv_main_font, Sans-Serif;}
#tresc_733 h3 {font-size:28px;}
#tresc_733 hr {border:solid 1px #DDD; margin:15px 0 15px 0; width:595px;}
#tresc_733 form h3 {margin:0 0 10px 0; color:#666;}
#tresc_733 form{padding:15px 35px;margin:0 auto;color:#000;overflow:hidden;}
#tresc_733 label{clear:both;display:block;width:280px;}
#tresc_733 sup{color:red;}
#tresc_733 input{font-size:18px;border:1px solid #999;background-color:#fff;float:left;margin:0 0 10px;width:280px;font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#333;font-weight:400;}
#tresc_733 input:focus{border:1px solid #6c6;}
#tresc_733 input[type=date],input[type=number],input[type=submit]{width:auto;}
#tresc_733 input[type=submit]{margin-top:10px;}
#tresc_733 input:invalid{border:1px red solid;}
#tresc_733 input.awesome{background:url(http://www.staviori.pl/images/nav_hover_1x40.png) transparent;color:#FFF!important;font-family:Conv_main_font, sans-serif;font-size:15px;margin:0 64px 0 0!important;padding:8px!important;float:right;width:auto;}
#tresc_733 input.awesome:hover{cursor:pointer;}
#chkOswiadczenie,#chkPromocje,#chkAdres_dostawy{width:auto!important;}
#tresc_733 .clear{clear:both;}
#tresc_733 .float_left_form{float:left;width:315px;}
#tresc_733 .float_left_form_mniejsze{width:150px;display:inline-block;}
#tresc_733 .float_left_form_mniejsze label{float:left;width:150px;}
#tresc_733 .float_left_form_mniejsze input{margin-right:0!important;}
#kod,#miasto,#kodplus,#miastoplus{width:130px!important;}
#chkAdres_dostawy{float:left;}
#tresc_733 .float_left_form_check{margin:25px 0;}
#tresc_733 .float_left_form_check input{margin:1px 10px 0 0!important;}
#tresc_733 .float_left_form_check label{float:none;clear:none;width:500px;}
#tresc_733 select {
background-color: #FFFFFF;
border: 1px solid #999999;
color: #333333;
float: left;
font-family: "Arial", "Helvetica", sans-serif;
font-size: 14px;
font-weight: 400;
margin: 0px 0px 10px;
width: 280px;
}
.addresses div {display:none}
.addresses div.active{display:block}

.add-address{display: inline-block;
margin-top: 20px;}