/* RESET */html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"";content:none;}
table{border-collapse:collapse;border-spacing:0;}
main{display:block;}
.clear{clear:both;}
.floatLeft{float:left;}
.floatRight{float:right;}
/* RESZTA */body{color:#FFF;background-color:#181818;font-family:Arial, Helvetica, sans-serif;font-size:13px;background-image:url(../images/bg_main_460x460.jpg);}
h1,h2,h3,h4,h5,h6{font-weight:400;}
h1{font-size:30px;margin:30px 15px 5px 30px;font-family:Conv_main_font, Arial, Sans-Serif;color:#666;}
h2{font-size:25px;margin:35px 15px 5px 30px;font-family:Conv_main_font, Arial, Sans-Serif;color:#666;}
h3{font-size:20px;margin:30px 15px 5px 30px;font-family:Conv_main_font, Arial, Sans-Serif;color:#666;}
h4{margin:5px 15px 5px 35px;font-family:Conv_main_font, Arial, Sans-Serif;color:#666;}
p{font-family:Arial, Helvetica, sans-serif;font-size:13px;}
a:link{color:#FFF;text-decoration:none;}
a:visited{color:#FFF;text-decoration:none;}
a:hover{color:#FFF;}
a:active{color:#FFF;}
#pasek_gora{width:980px;height:40px;margin:10px auto 0;}
#facebook_button{float:left;margin-top:4px;}
.fb_margin{margin-left:10px;}
.rejestracja{background:url(../images/nav_hover_1x40.png);padding:0 5px;}
.rejestracja a{color:#000;}
#logowanie{float:right;}
#logowanie p{font-family:Conv_main_font, Sans-Serif;font-size:18px;}
#panel_dla_zalogowanych{width:auto;height:90px;padding-top:10px;margin:0 auto;background:url(../images/bg_light_10x10.png);}
#panel_dla_zalogowanych p{float:left;margin:30px 0 0 14px;text-align:right;line-height:20px;}
#pan_dla_zal{margin:0 auto;width:980px;height:80px;}
#pan_dla_zal_left{float:left;margin-top:20px;}
#pan_dla_zal_left input{margin:3px 0 0;color:#FFF;background-color:transparent;border:1px #999 solid;color:#999;font-size:11px;}
#pan_dla_zal_right{float:right;}
.moj_koszyk{float:right;background:url(../images/vertical_line_1x80.png);background-repeat:no-repeat;background-position:left top;}
#wrapper{width:980px;margin:0 auto;clear:both;}
#logo_glowne{height:150px;background: url(../images/staviori_main_logo_white_275x55.png) no-repeat center;}
#glowne_menu{width:980px;}
nav{text-align:center;background-color:#000;height:50px;line-height:50px;font-size:18px;font-family:Conv_main_font, Sans-Serif;border-bottom:1px #7F6E52 solid;border-top:1px #7F6E52 solid;margin-bottom:8px;}
nav li{display:inline;}
nav a{text-decoration:none;padding:8px 6px;}
nav a:link,nav a:visited{color:#7F6E52;}
nav a:hover{background-image:url(../images/nav_hover_1x40.png);background-color:#7F6E52;color:#000;}
#breadcrumbs{margin:0 0 5px 8px;}
#breadcrumbs a{color:#7F6E52;}
#breadcrumbs p{color:#7F6E52;}
#tresc_980{background:#FFF;color:#666;padding-bottom:35px;}
#tresc_980 h2{padding:30px 15px 5px 35px;margin:0;}
#tresc_980_label{font-family:Conv_main_font, Arial, Sans-Serif;margin:25px 85px 0 35px;font-size:16px;}
#tresc_980_label li{list-style-type:none;float:left;}
#tresc_980_label_float_right{float:right;margin-right:15px;}
.tresc_980_label_ilosc{margin-right:43px;}
hr{border-top:1px dashed #666;border-bottom:none;margin:5px 35px 0;}
.tresc_980_label_produkty{padding:20px 35px;color:#666;width:910px;}
.tresc_980_label_produkty hr{margin:5px 0 0;}
.tresc_980_label_produkty_photo{float:left;width:130px;}
.tresc_980_label_produkty_photo img{border:1px solid #999;margin-right:25px;}
.tresc_980_label_produkty_opis{width:450px;float:left;padding-bottom:10px;}
.tresc_980_label_produkty_opis h3{margin:0 0 5px;}
.tresc_980_label_produkty_opis p{}
.tresc_980_label_produkty_ilosc{float:left;margin-left:145px;position:relative;}
.tresc_980_label_produkty_ilosc input{width:45px;}
.tresc_980_label_produkty_dodaj_do_koszyka{position:absolute;bottom:-75px;left:0;background:url(../images/ikona_produkt_porownanie_30x30.jpg);width:30px;height:30px;}
.tresc_980_label_produkty_usun{position:absolute;bottom:-75px;left:75px;width:80px;height:30px;background:#999;padding:2px 0 2px 16px;font-size:9px;line-height:30px;}
.tresc_980_label_produkty_usun a{color:#FFF;}
.tresc_980_label_produkty_cena{float:left;margin-left:30px;font-size:18px;position:relative;}
.tresc_980_label_produkty_wstazka{margin-top:15px;}
.wstazka_zlota{background:url(../images/wstazka_1_40x40.png) no-repeat;width:40px;height:40px;}
.wstazka_srebrna{background:url(../images/wstazka_10_40x40.png) no-repeat;width:40px;height:40px;}
.wstazka_biala{background:url(../images/wstazka_3_40x40.png) no-repeat;width:40px;height:40px;}
.wstazka_czarna{background:url(../images/wstazka_4_40x40.png) no-repeat;width:40px;height:40px;}
.wstazka_pomaranczowa{background:url(../images/wstazka_5_40x40.png) no-repeat;width:40px;height:40px;}
.wstazka_czerwona{background:url(../images/wstazka_6_40x40.png) no-repeat;width:40px;height:40px;}
.wstazka_zolta{background:url(../images/wstazka_7_40x40.png) no-repeat;width:40px;height:40px;}
.wstazka_zielona{background:url(../images/wstazka_8_40x40.png) no-repeat;width:40px;height:40px;}
.wstazka_niebieska{background:url(../images/wstazka_9_40x40.png) no-repeat;width:40px;height:40px;}
.wstazka_rozowa{background:url(../images/wstazka_2_40x40.png) no-repeat;width:40px;height:40px;}
.wstazka_brak{background:url(../images/wstazka_0_40x40.png) no-repeat;width:40px;height:40px;}
#container{width:980px;margin:0 auto;background-color:#CCC;}
#container ul{width:980px;overflow:hidden;list-style-type:none;float:left;}
#container li{float:left;width:196px;padding:0;background-color:#CCC;font-family:Conv_main_font, Arial, Sans-Serif;font-size:18px;}
#container{text-decoration:none;color:#666;text-align:center;display:block;height:42px;line-height:42px;white-space:nowrap;overflow:hidden;font-size:.9em;width:auto;}
#container .active{background:#FFF;}
#linia_horizontal{background:url(../images/linia_horyzontalna_980x5.jpg);height:5px;margin:15px 0 0;}
#wartosc_produktow_w_koszyku{float:right;margin-top:15px;font-size:16px;font-family:Conv_main_font, Arial, Sans-Serif;color:#C96;}
.wartosc{font-size:18px;font-family:Arial, Helvetica, sans-serif;margin:0 35px;color:#C96;}
#linia_horizontal_cienka_zloto{border:1px solid #C96;clear:both;margin-top:18px;}
#linia_horizontal_cienka_szara{border:1px solid #CCC;clear:both;margin-top:18px;}
#przyciski_dol li{padding:7px;margin-top:20px;margin-bottom:5px;font-family:Conv_main_font, Sans-Serif;font-size:20px;}
.przyciski_dol_left{float:left;width:200px;background:#999;}
.przyciski_dol_right_2{float:right;width:210px;background:url(../images/nav_hover_1x40.png);margin-left:15px;}
.przyciski_dol_right{float:right;width:230px;background:#999;}
.nabywca-odb{padding-left:0!important;margin-left:0!important;}
#dane_osobowe textarea{width:450px;max-width:450px;min-width:450px;height:200px;min-height:200px;max-height:500px;font-family:Arial, Helvetica, sans-serif;font-size:13px;}
#opcje_info_poradnik{padding-bottom:20px;clear:both;background-image:url(../images/bg_dark_10x10.png);}
#opcje_info_poradnik_980,#marcello_staviori_seo_tekst_980{margin:0 auto;width:980px;}
#informacje{float:left;width:320px;}
#opcje_info_poradnik h3{font-size:24px;margin:25px 15px 5px;padding:0;color:#FFF;}
#opcje_info_poradnik li{margin-left:15px;}
#opcje,#poradnik{float:left;width:330px;}
#opcje form{margin-left:15px;}
.opcje_label{color:#FFF;display:block;width:120px;float:left;}
#opcje_info_poradnik select{color:#999;background-color:#000;border:1px #999 solid;width:125px;margin-bottom:2px;}
#informacje li,#poradnik li{margin-bottom:8px;width:125px;}
#informacje li:hover,#poradnik li:hover{background:#666;}
#raty_paypal{margin:0 auto;width:980px;height:40px;}
#marcello_staviori_seo_tekst{padding:20px 0;background-image:url(../images/bg_dark_10x10.png);}
#marcello_staviori_seo_tekst p{text-align:center;color:#666;font-size:10px;}
#copyright{padding:20px 0 40px;margin:0 auto;width:980px;}
#copyright p{color:#666;font-size:10px;}
#copyright a{color:#666;}
.last{margin-right:0!important;}
.przyciski_dol_right_2 {
color: #FFFFFF;
font-family: "Conv_main_font", sans-serif;
font-size: 20px;
margin-bottom: 5px;
margin-top: 20px;
padding: 7px;
background:#8F8F8F;
background:url(http://www.staviori.pl/images/nav_hover_1x40.png);margin-left:15px;
float:right;
cursor:pointer;
border:none;height:40px;
}
#tresc_980_label {
font-family: Conv_main_font, Arial, Sans-Serif;
margin: 25px 0 0 0;
font-size: 16px;
}
#tresc_980_label li {
list-style-type: none;
}
.tresc_980_label_koszyk {
margin-left: 35px;
float: left;
}
.tresc_980_label_rozmiar {
margin-left: 425px;
float: left;
}
.tresc_980_label_ilosc {
margin-left: 32px;
float: left;
}
.tresc_980_label_cena {
margin-left: 55px;
float: left;
}
.tresc_980_label_produkty {
padding: 20px 35px;
width: 910px;
}
.tresc_980_label_produkty_photo {
width: 129px;
float: left;
}
.tresc_980_label_produkty_tresc {
width: 420px;
float: left;
padding-bottom: 10px;
}
.tresc_980_label_produkty_rozmiar {
width: 80px;
float: left;
height:1px
}
.tresc_980_label_produkty_ilosc {
width: 60px;
float: left;
margin-left: 25px;
}
.tresc_980_label_produkty_cena {
float: left;
}
.tresc_980_label_produkty_photo img {
border: 1px solid #999;
margin-right: 25px;
}
.tresc_980_label_produkty_opis {
padding-right: 25px;
}
.tresc_980_label_produkty_usun input {
background: #999999;
color: #FFFFFF;
font-size: 9px;
height: 30px;
line-height: 30px;
margin-top: 25px;
text-align: center;
padding: 0 8px 0 8px;
cursor: pointer;
}
.tresc_980_label_produkty_tresc h3 {
padding-bottom: 8px;
}
.tresc_980_label_produkty_tresc h3, .tresc_980_label_produkty_tresc p {
margin: 0;
padding-right: 8px;
}
.tresc_980_label_produkty_rozmiar select, .tresc_980_label_produkty_ilosc select {
width: 65px;
}
.tresc_980_label_produkty hr {
margin: 5px 0 0;
}
.tresc_980_label_produkty_cena {
margin-left: 30px;
font-size: 18px;
}
table td
{
height:20px;
}
.size{position:relative;}
.size .field{width:40px;height:40px;color:#fff;background:#999;padding-left:0px;border:none;cursor:pointer;font-family:'lucida sans unicode', sans-serif;font-size:1em;-webkit-transition:all .4s ease-in-out;transition:all .4s ease-in-out;}
.size .field:hover{}
.size>ul.list{display:none;position:absolute;left:30px;top:-30px;z-index:999;width:200px;margin:0;list-style:none;background:#fff;color:#333;}
.size>ul.list li{float:left;cursor:pointer;padding:2px;margin:2px;text-indent:-9999px;}
.size>ul.list li:hover{}
.size>ul.list li:last-child{border:none;}
