/* RESET */html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"";content:none;}
table{border-collapse:collapse;border-spacing:0;}
.clear{clear:both;}
.floatLeft{float:left;}
.floatRight{float:right;}
/* RESZTA */
body{color:#FFF;background-color:#181818;font-family:Arial, Helvetica, sans-serif;font-size:13px;background-image:url(../images/bg_main_460x460.jpg);}
h1,h2,h3,h4,h5,h6{font-weight:400;}
h1{font-size:30px;margin:35px 15px 5px 35px;font-family:Conv_main_font, Arial, Sans-Serif;}
h2{font-size:25px;margin:35px 15px 5px 35px;font-family:Conv_main_font, Arial, Sans-Serif;}
h3{font-size:20px;margin:35px 15px 5px 35px;font-family:Conv_main_font, Arial, Sans-Serif;}
p{font-family:Arial, Helvetica, sans-serif;font-size:13px;}
a:link{color:#FFF;text-decoration:none;}
a:visited{color:#FFF;text-decoration:none;}
a:hover{color:#FFF;}
a:active{color:#FFF;}
#pasek_gora{width:980px;height:40px;margin:10px auto 0;}
#facebook_button{float:left;margin-top:4px;}
.fb_margin{margin-left:10px;}
.rejestracja{background:url(../images/nav_hover_1x40.png);padding:0 5px;}
.rejestracja a{color:#000;}
#logowanie{float:right;}
#logowanie p{font-family:Conv_main_font, Sans-Serif;font-size:18px;}
#panel_dla_zalogowanych{width:auto;height:90px;padding-top:10px;margin:0 auto;background:url(../images/bg_light_10x10.png);}
#panel_dla_zalogowanych p{float:left;margin:30px 0 0 14px;text-align:right;line-height:20px;}
#pan_dla_zal{margin:0 auto;width:980px;height:80px;}
#pan_dla_zal_left{float:left;margin-top:20px;}
#pan_dla_zal_left input{margin:3px 0 0;color:#FFF;background-color:transparent;border:1px #999 solid;color:#999;font-size:11px;}
#pan_dla_zal_right{float:right;}
.moj_koszyk{float:right;background:url(../images/vertical_line_1x80.png);background-repeat:no-repeat;background-position:left top;}
#wrapper{width:980px;margin:0 auto;clear:both;}
#logo_glowne{height:150px;background: url(../images/staviori_main_logo_white_275x55.png) no-repeat center;}
#glowne_menu{width:980px;}
nav{text-align:center;background-color:#000;height:50px;line-height:50px;font-size:18px;font-family:Conv_main_font, Sans-Serif;border-bottom:1px #7F6E52 solid;border-top:1px #7F6E52 solid;margin-bottom:8px;}
nav li{display:inline;}
nav a{text-decoration:none;padding:8px 6px;}
nav a:link,nav a:visited{color:#7F6E52;}
nav a:hover{background-image:url(../images/nav_hover_1x40.png);background-color:#7F6E52;color:#000;}
#breadcrumbs{margin:0 0 5px 8px;}
#breadcrumbs a{color:#7F6E52;}
#breadcrumbs p{color:#7F6E52;}
#katalogi_wrapper{background-color:#FFF;color:#666;height:auto;float:left;width:239px;padding-bottom:25px;}
#katalogi{float:left;margin-right:8px;}
#katalogi ul{width:239px;list-style-type:none;}
#katalogi li a{background:url(../images/katalogi_hr_239x1.png) no-repeat bottom;}
#katalogi ul li a{text-decoration:none;color:#666;padding:10.5px 11px;background-color:#EEE;display:block;}
#katalogi ul li a:visited{color:#666;}
#katalogi ul li a:hover{color:#666;background:url(../images/katalogi_strzalka_wybrane_8x16.png) no-repeat left center;background-color:#FFF;}
#katalogi ul li .current{background:url(../images/katalogi_strzalka_wybrane_8x16.png) no-repeat left center;background-color:#FFF;}
#Submit_container{text-align:right;margin:3px 0;}
.showhide{color:#666;cursor:pointer;padding:10.5px 11px;background-color:#EEE;}
#slider-mniejszy,#tresc_733{color:#000;}
#slider-mniejszy{width:733px;height:125px;float:right;background-color:#FFF;margin-bottom:8px;}
#slider-mniejszy h2{font-size: 15px;font-family:inherit;margin:0 15px 5px 35px;}
#tresc_733{float:right;width:733px;background-color:#FFF;}
#produkty{margin-top:10px;}
.produkty_koszyk{height:30px;width:237px;background-color:#FFF;position:absolute;bottom:0;}
.products{float:left;height:237px;width:237px;background-color:#FFF;border:1px #CCC solid;margin:8px 8px 0 0;position:relative;}
.products img{margin:5px 25px 0 50px;}
.products p{color:#000;}
.last{margin-right:0;}
.item{position:relative;}
.item .caption{background:#000;cursor:pointer;height:205px;width:237px;/*Make it overlay on its parent*/position:absolute;/*Align it at top of its parent*/top:0;}
.item .caption a{color:#09c;display:block;font-size:14px;text-decoration:none;padding:15px;}
#opcje_info_poradnik{padding-bottom:20px;clear:both;background-image:url(../images/bg_dark_10x10.png);}
#opcje_info_poradnik_980,#marcello_staviori_seo_tekst_980{margin:0 auto;width:980px;}
#informacje{float:left;width:320px;}
#opcje_info_poradnik h3{font-size:24px;margin:25px 15px 5px;padding:0;color:#FFF;}
#opcje_info_poradnik li{margin-left:15px;}
#opcje,#poradnik{float:left;width:330px;}
#opcje form{margin-left:15px;}
.opcje_label{color:#FFF;display:block;width:120px;float:left;}
#opcje_info_poradnik select{color:#999;background-color:#000;border:1px #999 solid;width:125px;margin-bottom:2px;}
#informacje li,#poradnik li{margin-bottom:8px;width:125px;}
#informacje li:hover,#poradnik li:hover{background:#666;}
#raty_paypal{margin:0 auto;width:980px;height:40px;}
#marcello_staviori_seo_tekst{padding:20px 0;background-image:url(../images/bg_dark_10x10.png);}
#marcello_staviori_seo_tekst p{text-align:center;color:#666;font-size:10px;}
#copyright{padding:20px 0 40px;margin:0 auto;width:980px;}
#copyright p{color:#666;font-size:10px;}
#copyright a{color:#666;}
#katalogi_termin_inner_div,#katalogi_promocje_inner_div,#katalogi_inne_inner_div{margin:15px 0 0;padding:0 10px;border-image:url(../images/katalogi_hr_239x3.png);}
#Submit_container{text-align:right;margin:3px 0;}
.submit_ok{background:url(../images/nav_hover_1x40.png);padding:8px!important;color:#000!important;margin:0!important;font-size:15px;font-family:Conv_main_font, Sans-Serif;}
.hr_3px{background:url(../images/katalogi_hr_239x3.png) no-repeat center;height:3px;margin:6px 0 8px;}
#rejestracja .sfm_textbox{padding:1px;}
#rejestracja .sfm_textarea{padding:2px;resize:none;}
#rejestracja .sfm_auto_hide_text{color:#999!important;}
#rejestracja .error_strings{font-family:Verdana;font-size:12px;color:#600;}
#rejestracja img{border:0;}
#rejestracja .loading_div{background-color:transparent;background-image:url(../images/loading.gif);background-position:center center;background-repeat:no-repeat;}
#rejestracja input[type=submit],input[type=reset]{font:inherit;color:inherit;}
#rejestracja .sfm_cr_box{font-family:Verdana;font-size:10px;color:#888;}
#rejestracja .sfm_cr_box a{color:#888;}
#rejestracja .form_outer_div{border:none;background-color:#fff;}
#rejestracja .sfm_form_label{background-color:transparent;}
#rejestracja .element_label{background-color:transparent;}
body#sfm_rejestracja_body{background-color:transparent;font-family:Arial;font-size:12px;color:#000;margin:0;}
#rejestracja .form_outer_div{font-family:Arial;font-size:12px;color:#000;}
#rejestracja .form_subheading{background-color:transparent;margin:0;padding:0;}
#rejestracja .sfm_float_error_box{font-family:Verdana;font-size:12px;color:#eee;background-color:rgba(0,0,0,0.3);background:rgba(0,0,0,0.3);color:rgba(0,0,0,0.3);border:0;border:none;}
#rejestracja .sfm_close_box{font-family:Verdana;font-size:12px;color:#eee;}
#rejestracja .progress_box_container{border:1px solid #8e8e8e;background-color:#ccc;font-family:Arial;font-size:10px;color:#fff;text-align:center;vertical-align:middle;}
#rejestracja .progress_box{background-color:#333;width:2px;float:left;margin:2px;}
#rejestracja .page_heading{background-color:transparent;margin:0;padding:0;}
#rejestracja .page_number{background-color:transparent;}
#rejestracja #tab92247ff8cf5c67363f{width:5px;height:5px;display:none;}
#rejestracja #label2_container{position:absolute;left:310px;top:24px;width:60px;height:20px;z-index:17;}
#rejestracja #label2{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #label_container{position:absolute;left:35px;top:24px;width:60px;height:20px;z-index:15;}
#rejestracja #label{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #pass_container{position:absolute;left:310px;top:49px;z-index:5;}
#rejestracja #pass{float:left;width:239px;z-index:5;}
#rejestracja #Email_container{position:absolute;left:35px;top:49px;z-index:2;}
#rejestracja #Email{float:left;width:239px;z-index:2;}
#rejestracja #label3_container{position:absolute;left:310px;top:74px;width:92px;height:20px;z-index:18;}
#rejestracja #label3{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #label1_container{position:absolute;left:35px;top:74px;width:104px;height:20px;z-index:16;}
#rejestracja #label1{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #powtorzemail_container{position:absolute;left:35px;top:99px;z-index:3;}
#rejestracja #powtorzemail{float:left;width:239px;z-index:3;}
#rejestracja #powtorzpass_container{position:absolute;left:310px;top:99px;z-index:4;}
#rejestracja #powtorzpass{float:left;width:239px;z-index:4;}
#rejestracja #label9_container{position:absolute;left:310px;top:144px;width:60px;height:20px;z-index:24;}
#rejestracja #label9{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #label4_container{position:absolute;left:35px;top:144px;width:60px;height:20px;z-index:19;}
#rejestracja #label4{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #kraje_container{position:absolute;left:310px;top:169px;z-index:11;}
#rejestracja #kraje{float:left;width:245px;height:22px;z-index:11;}
#rejestracja #name_container{position:absolute;left:35px;top:169px;z-index:6;}
#rejestracja #name{float:left;width:239px;z-index:6;}
#rejestracja #label10_container{position:absolute;left:310px;top:194px;width:60px;height:20px;z-index:25;}
#rejestracja #label10{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #label5_container{position:absolute;left:35px;top:194px;width:60px;height:20px;z-index:20;}
#rejestracja #label5{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #nazwafirmy_container{position:absolute;left:310px;top:269px;z-index:13;}
#rejestracja #nazwafirmy{float:left;width:239px;z-index:13;}
#rejestracja #surname_container{position:absolute;left:35px;top:219px;z-index:7;}
#rejestracja #surname{float:left;width:239px;z-index:7;}
#rejestracja #label11_container{position:absolute;left:310px;top:244px;width:89px;height:20px;z-index:26;}
#rejestracja #label11{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #label6_container{position:absolute;left:34px;top:244px;width:60px;height:20px;z-index:21;}
#rejestracja #label6{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #telefon_container{position:absolute;left:310px;top:219px;z-index:12;}
#rejestracja #telefon{float:left;width:239px;z-index:12;}
#rejestracja #street_container{position:absolute;left:35px;top:269px;z-index:8;}
#rejestracja #street{float:left;width:239px;z-index:8;}
#rejestracja #label12_container{position:absolute;left:310px;top:294px;width:60px;height:20px;z-index:27;}
#rejestracja #label12{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #label8_container{position:absolute;left:156px;top:294px;width:60px;height:20px;z-index:23;}
#rejestracja #label8{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #label7_container{position:absolute;left:35px;top:294px;width:99px;height:20px;z-index:22;}
#rejestracja #label7{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #nip_container{position:absolute;left:310px;top:324px;z-index:14;}
#rejestracja #nip{float:left;width:239px;z-index:14;}
#rejestracja #miasto_container{position:absolute;left:156px;top:324px;z-index:9;}
#rejestracja #miasto{float:left;width:119px;z-index:9;}
#rejestracja #kod_container{position:absolute;left:35px;top:324px;z-index:10;}
#rejestracja #kod{float:left;width:94px;z-index:10;}
#rejestracja #CheckBoxSingleAdres_container{position:absolute;left:35px;top:389px;width:230px;height:14px;z-index:28;}
#rejestracja #label13_container{position:absolute;left:35px;top:437px;width:60px;height:20px;z-index:36;}
#rejestracja #label13{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #label18_container{position:absolute;left:310px;top:437px;width:60px;height:20px;z-index:41;}
#rejestracja #label18{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #imieplus_container{position:absolute;left:35px;top:462px;z-index:29;}
#rejestracja #imieplus{float:left;width:239px;z-index:29;}
#rejestracja #krajplus_container{position:absolute;left:310px;top:462px;z-index:34;}
#rejestracja #krajplus{float:left;width:245px;height:22px;z-index:34;}
#rejestracja #label14_container{position:absolute;left:35px;top:487px;width:60px;height:20px;z-index:37;}
#rejestracja #label14{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #label19_container{position:absolute;left:310px;top:487px;width:60px;height:20px;z-index:42;}
#rejestracja #label19{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #surnameplus_container{position:absolute;left:35px;top:512px;z-index:30;}
#rejestracja #surnameplus{float:left;width:239px;z-index:30;}
#rejestracja #telefonplus_container{position:absolute;left:310px;top:512px;z-index:35;}
#rejestracja #telefonplus{float:left;width:239px;z-index:35;}
#rejestracja #label15_container{position:absolute;left:35px;top:537px;width:60px;height:20px;z-index:38;}
#rejestracja #label15{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #ulicaplus_container{position:absolute;left:35px;top:562px;z-index:31;}
#rejestracja #ulicaplus{float:left;width:239px;z-index:31;}
#rejestracja #label16_container{position:absolute;left:35px;top:587px;width:100px;height:20px;z-index:39;}
#rejestracja #label16{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #label17_container{position:absolute;left:156px;top:587px;width:60px;height:20px;z-index:40;}
#rejestracja #label17{position:absolute;top:3px;left:0;text-align:left;}
#rejestracja #miastoplus_container{position:absolute;left:156px;top:612px;z-index:33;}
#rejestracja #miastoplus{float:left;width:119px;z-index:33;}
#rejestracja #kodplus_container{position:absolute;left:35px;top:612px;z-index:32;}
#rejestracja #kodplus{float:left;width:94px;z-index:32;}
#rejestracja #label20_container{position:absolute;left:35px;top:673px;width:156px;height:27px;z-index:1;}
#rejestracja #label20{position:absolute;left:0;top:0;text-align:left;font-family:Arial;font-size:13pt;color:#000;}
#rejestracja #CheckBoxSingleRegulamin_container{position:absolute;left:35px;top:716px;width:387px;height:14px;z-index:43;}
#rejestracja #CheckBoxSingleNewsletter_container{position:absolute;left:35px;top:743px;width:290px;height:14px;z-index:44;}
#rejestracja #Submit_container{position:absolute;left:609px;top:769px;width:80px;height:25px;z-index:45;}
#rejestracja #rejestracja_Submit_img{width:84px;height:29px;border:none;}
