/* RESET */html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"";content:none;}
table{border-collapse:collapse;border-spacing:0;}
.clear{clear:both;}
.floatLeft{float:left;}
.floatRight{float:right;}
/* RESZTA */body{color:#FFF;background-color:#181818;font-family:Arial, Helvetica, sans-serif;font-size:13px;background-image:url(../images/bg_main_460x460.jpg);}
h1,h2,h3,h4,h5,h6{font-weight:400;}
h1{font-size:30px;margin:35px 15px 5px 35px;font-family:Conv_main_font, Arial, Sans-Serif;}
h2{font-size:25px;margin:35px 15px 5px 35px;font-family:Conv_main_font, Arial, Sans-Serif;}
h3{font-size:20px;margin:35px 15px 5px 35px;font-family:Conv_main_font, Arial, Sans-Serif;}
h6{font-size:20px;margin:0 10px 0 9px;font-family:Conv_main_font, Arial, Sans-Serif;color:#000;}
p{font-family:Arial, Helvetica, sans-serif;font-size:13px;}
a:link{color:#FFF;text-decoration:none;}
a:visited{color:#FFF;text-decoration:none;}
a:hover{color:#FFF;}
a:active{color:#FFF;}
#pasek_gora{width:980px;height:40px;margin:10px auto 0;}
#facebook_button{float:left;margin-top:4px;}
.fb_margin{margin-left:10px;}
.rejestracja{background:url(../images/nav_hover_1x40.png);padding:0 5px;}
.rejestracja a{color:#000;}
#logowanie{float:right;}
#logowanie p{font-family:Conv_main_font, Sans-Serif;font-size:18px;}
#panel_dla_zalogowanych{width:auto;height:90px;padding-top:10px;margin:0 auto;background:url(../images/bg_light_10x10.png);line-height:18px;}
#panel_dla_zalogowanych p{float:left;margin:30px 0 0 14px;text-align:right;line-height:20px;}
#pan_dla_zal{margin:0 auto;width:980px;height:80px;}
#pan_dla_zal_left{float:left;margin-top:20px;}
#pan_dla_zal_left input{margin:3px 0 0;color:#FFF;background-color:transparent;border:1px #999 solid;color:#999;font-size:11px;}
#pan_dla_zal_right{float:right;}
input{font-family:Arial, Helvetica, sans-serif;font-size:13px;}
.moj_koszyk{float:right;background:url(../images/vertical_line_1x80.png);background-repeat:no-repeat;background-position:left top;}
#wrapper{width:980px;margin:0 auto;clear:both;}
#logo_glowne{height:150px;background: url(../images/staviori_main_logo_white_275x55.png) no-repeat center;}
#glowne_menu{width:980px;margin:0 auto;}
nav{text-align:center;background-color:#000;height:50px;line-height:50px;font-size:18px;font-family:Conv_main_font, Sans-Serif;border-bottom:1px #7F6E52 solid;border-top:1px #7F6E52 solid;margin-bottom:8px;}
nav li{display:inline;}
nav a{text-decoration:none;padding:8px 6px;}
nav a:link,nav a:visited{color:#7F6E52;}
nav a:hover{background-image:url(../images/nav_hover_1x40.png);background-color:#7F6E52;color:#000;}
#slider{position:relative;margin:0 auto;width:1180px;}
#slider h2{font-size:35px;margin:100px 15px 5px 80px;}
#slider p{margin:5px 15px 5px 80px;padding:0;font-size:20px;font-family:Conv_main_font, Arial, Sans-Serif;}
.slider_wiecej_button{background:url(../images/nav_hover_1x40.png);padding:7px;margin-top:15px;font-family:Conv_main_font, Sans-Serif;font-size:20px;}
#linia_horizontal{background:url(../images/linia_horyzontalna_980x5.jpg);height:5px;margin:8px 0 0;}
#produkty{}
.produkty_koszyk{height:30px;width:237px;position:absolute;bottom:0;background:url(../images/ramka_produkt_dol_239x30.jpg);margin:0 1px 0 1px;}
.products{float:left;height:239px;width:239px;background-color:#FFF;margin:8px 8px 0 0;position:relative;background: url(../images/ramka_produkt_gora_209x239.jpg)}
.products p,.products  h2,.products  h4,.products  h5,.products  h6{color:#666;padding:0 10px;font-size:12px;}
h6{font-size:20px;margin:0 10px;font-family:Conv_main_font, Arial, Sans-Serif;color:#666;}
.ikona_produktu{float:right;}
.ikona_produktu_left a{float:left;background:url(../images/ikona_produkt_koszyk_sprite_30x60.jpg);width:30px;height:30px;}
.ikona_produktu_left a:hover{background-position:0 -30px;}
.ikona_produktu_center a{background:url(../images/ikona_produkt_porownanie_sprite_30x60.jpg);width:30px;height:30px;float:right;}
.ikona_produktu_center a:hover{background-position:0 -30px;}
.ikona_produktu_right a{float:right;background:url(../images/ikona_produkt_obserwowane_sprite_30x60.jpg);width:30px;height:30px;}
.ikona_produktu_right a:hover{background-position:0 -30px;}
.cena{font-family:Conv_main_font, Arial, Sans-Serif;padding:0 10px;font-size:18px;}
.last{margin-right:0;}
.item{position:relative;}
.item img{margin:5px 25px 0 50px;}
.item .caption{padding:20px;background-color:rgba(255,255,255,0.7);background:rgba(255,255,255,0.7);color:rgba(255,255,255,0.7);-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2FFFFFF,endColorstr=#B2FFFFFF);/* IE8 */filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2FFFFFF,endColorstr=#B2FFFFFF);/* IE6 & 7 */zoom:1;cursor:pointer;height:160px;width:197px;position:absolute;color:#666;top:1px;left:1px;}
.item p,.item  h2,.item  h4,.item  h5,.item  h6{color:#666;margin:10px 0px 0px 0px; font-size: inherit; font-family: inherit;}
.item h3{font-size:20px;margin:0 10px;font-family:Conv_main_font, Arial, Sans-Serif;color:#666;}
.products a{color:#666;}
.item .caption h4{margin:8px 0px}
.item .caption a{color:#09c;display:block;font-size:14px;text-decoration:none;padding:15px;}
#opcje_info_poradnik{padding-bottom:20px;clear:both;background-image:url(../images/bg_dark_10x10.png);}
#opcje_info_poradnik_980,#marcello_staviori_seo_tekst_980{margin:0 auto;width:980px;}
#informacje{float:left;width:320px;}
#opcje_info_poradnik h3{font-size:24px;margin:25px 15px 5px;padding:0;color:#FFF;}
#opcje_info_poradnik li{margin-left:15px;}
#opcje,#poradnik{float:left;width:330px;}
#opcje form{margin-left:15px;}
.opcje_label{color:#FFF;display:block;width:120px;float:left;}
select{color:#999;background-color:#000;border:1px #999 solid;width:125px;margin-bottom:2px;}
#informacje li,#poradnik li{margin-bottom:8px;width:125px;}
#informacje li:hover,#poradnik li:hover{background:#666;}
#raty_paypal{margin:0 auto;width:980px;height:40px;}
#marcello_staviori_seo_tekst{padding:20px 0;background-image:url(../images/bg_dark_10x10.png);}
#marcello_staviori_seo_tekst p{text-align:center;color:#666;font-size:10px;}
#copyright{padding:20px 0 40px;margin:0 auto;width:980px;}
#copyright p{color:#666;font-size:10px;}
#copyright a{color:#666;}
.rslides{position:relative;list-style:none;overflow:hidden;width:1180px;height:400px;padding:0;margin:0;}
.rslides li{-webkit-backface-visibility:hidden;position:absolute;display:none;width:100%;left:0;top:0;}
.rslides li:first-child{position:relative;display:block;float:left;}
.rslides img{display:block;height:auto;float:left;width:100%;border:0;}
.callbacks_tabs{font-size:18px;padding:10px 0;text-align:center;width:100%;position:absolute;bottom:20px;z-index:999; text-align:center;}
.callbacks_tabs li{display:inline-block;}
.callbacks_tabs li a{float:left;margin:0 3px;background:url(../images/slider_kropka_nieaktywna_18x18.png) center;height:18px;width:18px;display:inline-block;text-indent:-9999px;}
.callbacks_tabs li a:hover{background:url(../images/slider_kropka_aktywna_18x18.png) center;height:18px;width:18px;}
.callbacks{position:relative;list-style:none;overflow:hidden;width:100%;padding:0;margin:0;}
.callbacks li{position:absolute;width:100%;left:0;top:0;}
.callbacks img{display:block;position:relative;z-index:1;height:auto;width:100%;border:0;}
.callbacks .caption{display:block;position:absolute;z-index:2;font-size:20px;text-shadow:none;color:#000;left:150px;right:0;top:0;margin:0;width:400px;height:400px;max-width:none;}
.callbacks_nav{position:absolute;-webkit-tap-highlight-color:rgba(0,0,0,0);top:52%;left:60px;opacity:0.7;z-index:3;text-indent:-9999px;overflow:hidden;text-decoration:none;height:61px;width:38px;background:transparent url(../images/slider/slider_arrows.png);margin-top:-45px;}
.callbacks_nav:active{opacity:1.0;}
.callbacks_nav.next{left:auto;background-position:right top;right:60px;}
.centered-btns_nav.next{background-position:100% 0;left:auto;right:0;}
.callbacks_tabs .callbacks_here a {background:url(../images/slider_kropka_aktywna_18x18.png) center;height:18px;width:18px;}
