/* RESET */html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"";content:none;}
table{border-collapse:collapse;border-spacing:0;}
main{display:block;}
.clear{clear:both;}
.floatLeft{float:left;}
.floatRight{float:right;}
/* RESZTA */body,html{background:#EFEFEF;line-height:20px;font-size:14px;color:#333;font:"Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, sans-serif;font-weight:400;margin-bottom:120px;}
h1{color:#333;font-size:42px;line-height:36px;-moz-text-shadow:0 1px 1px #CCC;-webkit-text-shadow:0 1px 1px #CCC;text-shadow:0 1px 1px #CCC;margin-bottom:48px;}
h1 span.author{font-size:16px;}
h1 span a{color:#00BFFF;}
h2{font-size:18px;line-height:36px;padding-bottom:5px;-moz-text-shadow:0 1px 1px #CCC;-webkit-text-shadow:0 1px 1px #CCC;text-shadow:0 1px 1px #CCC;}
h3{font-size:18px;line-height:26px;letter-spacing:-1px;font-weight:400;}
a.link,a:active,a:selected{border:none;outline:none;color:#00BFFF;}
a.link,a:visited{color:#00BFFF;}
#wrap{width:960px;position:absolute;left:50%;margin-left:-480px;margin-top:60px;}
#backstretch{}
.bigImages{}
.bigImages ul li{list-style:none;}
.thumbContainer{position:absolute;}
.thumbnails{position:absolute;}
.thumbParentContainer{position:absolute;bottom:0;}
.thumbParentContainer div.nextArrow{cursor:pointer;position:absolute;background:url(../images/next.png) no-repeat;width:20px;height:40px;right:16px;top:3px;z-index:1005;}
.thumbParentContainer div.prevArrow{cursor:pointer;position:absolute;background:url(../images/prev.png) no-repeat;width:20px;height:40px;left:-24px;top:3px;z-index:1005;}
.thumbnails a{color:#00BFFF;}
.thumbnails .blueNote{background:#00BDEE;}
.thumbnails .redNote{background:#F33;}
.thumbnails ul{display:block;padding:0;margin:0;}
.thumbnails ul li{display:block;float:left;border:2px solid #FFF;margin:1px;width:65px;height:41px;}
.thumbnails ul li.active{border:2px solid #00BFFF;}
#arrowButton{cursor:pointer;position:fixed;width:100%;z-index:1003;}
#arrowButton .prevArrow{background:url(../images/prev.png) no-repeat;width:40px;height:80px;position:absolute;left:20px;}
#arrowButton .nextArrow{background:url(../images/next.png) no-repeat;width:40px;height:80px;position:absolute;right:20px;}
.animate0{-webkit-animation-duration:.4s;-webkit-animation-delay:0;-webkit-animation-timing-function:ease;-webkit-animation-fill-mode:both;-moz-animation-duration:.4s;-moz-animation-delay:0;-moz-animation-timing-function:ease;-moz-animation-fill-mode:both;-ms-animation-duration:.4s;-ms-animation-delay:0;-ms-animation-timing-function:ease;-ms-animation-fill-mode:both;animation-duration:.4s;animation-delay:0;animation-timing-function:ease;animation-fill-mode:both;}
.animate1{-webkit-animation-duration:.4s;-webkit-animation-delay:.2s;-webkit-animation-timing-function:ease;-webkit-animation-fill-mode:both;-moz-animation-duration:.4s;-moz-animation-delay:.2s;-moz-animation-timing-function:ease;-moz-animation-fill-mode:both;-ms-animation-duration:.4s;-ms-animation-delay:.2s;-ms-animation-timing-function:ease;-ms-animation-fill-mode:both;animation-duration:.4s;animation-delay:.2s;animation-timing-function:ease;animation-fill-mode:both;}
.animate2{-webkit-animation-duration:.4s;-webkit-animation-delay:.4s;-webkit-animation-timing-function:ease;-webkit-animation-fill-mode:both;-moz-animation-duration:.4s;-moz-animation-delay:.4s;-moz-animation-timing-function:ease;-moz-animation-fill-mode:both;-ms-animation-duration:.4s;-ms-animation-delay:.4s;-ms-animation-timing-function:ease;-ms-animation-fill-mode:both;animation-duration:.4s;animation-delay:.4s;animation-timing-function:ease;animation-fill-mode:both;}
.animate3{-webkit-animation-duration:.4s;-webkit-animation-delay:.6s;-webkit-animation-timing-function:ease;-webkit-animation-fill-mode:both;-moz-animation-duration:.4s;-moz-animation-delay:.6s;-moz-animation-timing-function:ease;-moz-animation-fill-mode:both;-ms-animation-duration:.4s;-ms-animation-delay:.6s;-ms-animation-timing-function:ease;-ms-animation-fill-mode:both;animation-duration:.4s;animation-delay:.6s;animation-timing-function:ease;animation-fill-mode:both;}
.animate4{-webkit-animation-duration:.4s;-webkit-animation-delay:.8s;-webkit-animation-timing-function:ease;-webkit-animation-fill-mode:both;-moz-animation-duration:.4s;-moz-animation-delay:.8s;-moz-animation-timing-function:ease;-moz-animation-fill-mode:both;-ms-animation-duration:.4s;-ms-animation-delay:.8s;-ms-animation-timing-function:ease;-ms-animation-fill-mode:both;animation-duration:.4s;animation-delay:.8s;animation-timing-function:ease;animation-fill-mode:both;}
.animate5{-webkit-animation-duration:.4s;-webkit-animation-delay:1s;-webkit-animation-timing-function:ease;-webkit-animation-fill-mode:both;-moz-animation-duration:.4s;-moz-animation-delay:1s;-moz-animation-timing-function:ease;-moz-animation-fill-mode:both;-ms-animation-duration:.4s;-ms-animation-delay:1s;-ms-animation-timing-function:ease;-ms-animation-fill-mode:both;animation-duration:.4s;animation-delay:1s;animation-timing-function:ease;animation-fill-mode:both;}
.animate6{-webkit-animation-duration:.4s;-webkit-animation-delay:1.2s;-webkit-animation-timing-function:ease;-webkit-animation-fill-mode:both;-moz-animation-duration:.4s;-moz-animation-delay:1.2s;-moz-animation-timing-function:ease;-moz-animation-fill-mode:both;-ms-animation-duration:.4s;-ms-animation-delay:1.2s;-ms-animation-timing-function:ease;-ms-animation-fill-mode:both;animation-duration:.4s;animation-delay:1.2s;animation-timing-function:ease;animation-fill-mode:both;}
.animate7{-webkit-animation-duration:.4s;-webkit-animation-delay:1.4s;-webkit-animation-timing-function:ease;-webkit-animation-fill-mode:both;-moz-animation-duration:.4s;-moz-animation-delay:1.4s;-moz-animation-timing-function:ease;-moz-animation-fill-mode:both;-ms-animation-duration:.4s;-ms-animation-delay:1.4s;-ms-animation-timing-function:ease;-ms-animation-fill-mode:both;animation-duration:.4s;animation-delay:1.4s;animation-timing-function:ease;animation-fill-mode:both;}
