html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}
input, select {
	vertical-align: middle;
}
.clear {clear:both;}








body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:#FFF;
}
#all {
	width: 1020px;
	margin: -65px auto 0 auto;
	background:#FFF;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Sans', sans-serif;
	font-weight:400;
	color:#000;
}
h1, h2, h3, h4, h5, h6, p {
	padding: 15px;
	color:#5F6E80;
}
h1 {
	font-size: 38px;
padding:15px 0 15px 0px;
}
h2 {
	font-size:26px;
}
h3 {
	font-size: 20px
}
a {height:auto;}
a:link {
	color: #FFF;
	text-decoration: none;
}
a:visited {
	color: #FFF;
	text-decoration: none;
}
a:hover {
	color: #FFF;
	text-decoration: none;
}
a:active {
	color: #FFF;
}
#top {
	background: url(../../graf/bg_top_main_1920x240.jpg) center;
	height: 240px;
	text-align: center;
}

#top-inner {
	width: 1020px;
	margin: 0 auto;
	height: 175px;
	position: relative;
}
#top-face-twitter {
	position: absolute;
	top: 38px;
	right: 0px;
}
#top-face-twitter li {
	float: left;
}


.top-face {background:url(../../graf/ico_facebook_90x48.png); height:24px; width:90px;}
.top-line {background:url(../../graf/ico_fb_twitter_vr_24x1.png); height:24px; width:1px;}
.top-twitter {background:url(../../graf/ico_twitter_90x48.png); height:24px;width:90px;}


.top-face:hover {background-position:0 -24px;cursor:pointer;}
.top-twitter:hover {background-position:0 -24px;cursor:pointer;}











#top img {
	padding-top: 10px;
	height:150px;
}


.clear{clear:both;height:0;}



#main-menu {
	text-align: center;
	background: url(../../graf/bg_menu_1020x50.jpg);
	height: 50px;
font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	z-index:5;
}
#main-menu li {
	float: left;
	width: 255px;
	height: 50px;
	line-height: 50px;
	color: #FFF;
	cursor: pointer;
}
#main-menu li, #main-menu li a {
	-webkit-transition: background .40s ease-in-out;
	-moz-transition: background .40s ease-in-out;
	-ms-transition: background .40s ease-in-out;
	-o-transition: background .40s ease-in-out;
	transition: background .40s ease-in-out;
}
#main-menu li a:hover {
	background-color: rgba(255, 255, 255, 0.2);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF,endColorstr=#33FFFFFF)"; /* IE8 */
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#33FFFFFF);   /* IE6 & 7 */
	zoom: 1;
}
#main-menu li:hover {
	width: 255px;
}
#main-menu ul li a {
	display: block;
}
#main-menu .active {
	background-color: rgba(255, 255, 255, 0.2);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF,endColorstr=#33FFFFFF)"; /* IE8 */
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#33FFFFFF);   /* IE6 & 7 */
	zoom: 1;
}
.active a:hover {
	background-color: rgba(255, 255, 255, 0)!important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);   /* IE6 & 7 */
	zoom: 1;
}


.gemologia-full-news {
	padding-bottom:35px;
	
}

.news-left {

	width: 300px;
	float:left;
	color:#000;	
	
	margin:0 25px 0 25px;
	border-bottom:3px solid #5F6E80;
	}
	




.news-left h2 {
	padding:35px 0 15px 0px;
	font-size:32px;
	color:#5F6E80;

}
.smaller-sec-header {
font-size:24px;
}

.news-left p {
	padding:5px 0 10px 0;
	color: #666;
		text-align:justify;
	line-height:18px;
	color:#5F6E80;

}






.news-right {

	width: 580px;
	float:left;
	padding:0 45px 0 45px;
	

}




.news-right h2 {
	padding:35px 0 0 0;
	font-size:20px;
}

.news-right h3 {
	padding:35px 0 15px 0;


}
.news-right p {
	padding:35px 0 0 0;
	color: #666;
	text-align:justify;
	line-height:18px;
}



#stopka {
height:125px;


background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #11141E),
	color-stop(1, #323845)
);
background-image: -o-linear-gradient(bottom, #11141E 0%, #323845 100%);
background-image: -moz-linear-gradient(bottom, #11141E 0%, #323845 100%);
background-image: -webkit-linear-gradient(bottom, #11141E 0%, #323845 100%);
background-image: -ms-linear-gradient(bottom, #11141E 0%, #323845 100%);
background-image: linear-gradient(to bottom, #11141E 0%, #323845 100%);


 filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#11141E', endColorstr='#323845');

}
#stopka p {
	color:#5F6E80;
padding:3px 0 3px 0;

}
#stopka a{color:#5F6E80;}
#stopka a:hover{color:#DDD;}

.footer-img {float:left;margin:0 48px 0 48px;line-height:125px;}
.footer-text {float:left;margin:42px 25px 25px 25px;}

/* Stylesheet: e-gemmologia-css Modified On 2014-08-19 21:39:59 */
